<template>
  <div class="main">
    <div class="left">
      <!--<Tree style="width: 200px;" :data="data2" :load-data="loadData" :render="renderContent" ></Tree>-->
      <Input
        v-model="query1.sydwmc"
        style="width: 200px;margin-right: 10px;"
        placeholder="请输入企业名称"
      />
      <!--<Select  v-model="query.cUsic" placeholder="请输入企业名称" filterable style="width: 180px">-->
      <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>-->
      <!--</Select>-->
      <Button type="primary" icon="ios-search" @click="getCompanyAll"></Button>
      <!--<Button type="error" icon="ios-add" @click="showTitle(1)">新增</Button>-->
    </div>
    <div class="bot" style="margin-top: 10px;" ref="mid">
      <div class="leftDet" style="width: 25%;margin-right: 10px;border:1px solid #333;">
        <el-table
          :data="tableData"
          style="width: 100%;margin-right: 10px;flex: 1;"
          highlight-current-row
          border
          @row-click="rowClick"
          class="sepl"
          :height="winHeight1"
        >
          <el-table-column type="index" label="序号" align="center" width="60"></el-table-column>
          <el-table-column prop="sydwmc" label="公司名称" show-overflow-tooltip></el-table-column>
        </el-table>
        <Page
          style="text-align: center;margin-top: 10px;"
          :total="query1.total"
          @on-change="changePageNo1"
          @on-page-size-change="changePageSize"
          :page-size="query1.pageSize"
        />
      </div>
      <div style="width: 75%;">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="管理机构" name="12"></el-tab-pane>
          <el-tab-pane label="责任人员" name="13"></el-tab-pane>
          <el-tab-pane label="规章制度" name="14"></el-tab-pane>
          <el-tab-pane label="应急预案" name="15"></el-tab-pane>
          <el-tab-pane label="设备运行记录" name="16"></el-tab-pane>
          <el-tab-pane label="设备故障和维修记录" name="17"></el-tab-pane>
          <el-tab-pane label="人员培训记录" name="18"></el-tab-pane>
        </el-tabs>
        <Table
          v-if="activeName == '12' ||activeName == '13' || activeName == '14'  || activeName == '15'"
          :height="winHeight"
          :loading="loading"
          border
          :columns="columns1"
          :data="data1"
        ></Table>
        <Table
          :loading="loading"
          v-else-if="activeName == '16'"
          :height="winHeight"
          border
          :columns="columns222"
          :data="data1"
        ></Table>

        <Tabs value="1" v-model="activeName111" @on-click="clickDetail" v-if="activeName == 17">
          <TabPane label="故障记录" name="1">
            <!-- <div class="left" style="margin-bottom: 10px;">
              <Input
                v-model="query.deviceName"
                style="width: 160px;margin-right: 10px;"
                placeholder="设备名称"
              />
              <Input
                v-model="query.deviceRegistCode"
                style="width: 160px;margin-right: 10px;"
                placeholder="设备注册代码"
              />
              <Select style="width: 160px;margin-right: 10px;" v-model="query.deviceType">
                <Option
                  v-for="list in sblxItem"
                  :key="list.BIANMA"
                  :value="list.BIANMA"
                >{{list.NAME}}</Option>
              </Select>
              <Button type="primary" icon="ios-search" @click="getInfoMsg">查询</Button>
            </div>-->
            <Table
              :loading="loading"
              border
              :columns="columns111"
              :data="data1"
              :height="winHeight - 50"
            ></Table>
          </TabPane>
          <TabPane label="维修记录" name="2">
            <Table
              :loading="loading"
              :height="winHeight - 50"
              border
              :columns="columns333"
              :data="data1"
            ></Table>
          </TabPane>
        </Tabs>
        <Table
          v-else-if="activeName == '18'"
          :loading="loading"
          :height="winHeight"
          border
          :columns="columns666"
          :data="data1"
        ></Table>
        <Page
          :total="query.total"
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          style="text-align: center;margin-top: 10px;"
        />
      </div>
    </div>

    <Modal v-model="show" title="新增">
      <div>
        <div style="display: flex;align-items: center;">
          <Select
            v-model="form.cUsic"
            placeholder="请选择类型"
            filterable
            style="width: 180px;margin-bottom: 8px;"
          >
            <Option :value="0">使用单位</Option>
            <Option :value="1">生产单位</Option>
            <Option :value="2">检验单位</Option>
            <Option :value="3">经营单位</Option>
            <Option :value="4">充装单位</Option>
          </Select>
          <Select
            v-model="form.cUsic"
            placeholder="请输入企业名称"
            filterable
            style="width: 180px;margin-bottom: 8px;"
          >
            <Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>
          </Select>
          <Upload style="margin-left: 10px;" action="/" :before-upload="beforeUpload">
            <Button icon="ios-cloud-upload-outline">上传</Button>
          </Upload>
        </div>

        <Table style="margin-top: 4px;" height="400" border :columns="columns2" :data="data2"></Table>
      </div>
      <div slot="footer">
        <Button @click="add">确认</Button>
        <Button @click="show = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="show1" title="新增">
      <img style="width: 500px;" :src="src" />
      <div slot="footer">
        <Button @click="show1 = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="zyDetail" title="详情">
      <Form :model="formDet" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="文件名称：">
              <Input v-model="formDet.dname" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件大小：">
              <Input v-model="formDet.dsize" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件有效期：">
              <Input v-model="formDet.dvaliditydate" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件上传时间：">
              <Input v-model="formDet.duploadDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件类型：">
              <Input v-model="dtype" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件类型：" class="wjlx" style="border-right: 1px solid #333;height: 38px;">
              <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="show111" title="故障详情" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="设备注册代码：">
              <Input v-model="form.deviceRegistCode" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="使用证编号：">
              <Input v-model="form.certNum" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="设备名称：">
              <Input v-model="form.deviceName" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="出厂编号：">
              <Input v-model="form.factoryCode" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="投用日期：">
              <Input v-model="form.usingTime" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="安装地址：">
              <Input v-model="form.installAddr" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="使用状态：">
              <Input v-model="form.isUsing" />
            </FormItem>
          </Col>
        </Row>
        <Table :loading="loading" border :columns="columns3" :data="data3"></Table>
      </Form>
      <div slot="footer">
        <Button @click="show111 = false;">取消</Button>
      </div>
    </Modal>

    <Modal v-model="show222" title="查询详情" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="130">
        <Row>
          <Col span="12">
            <FormItem label="培训项目：">
              <Input v-model="form.trainingProject" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="组织培训部门：">
              <Input v-model="form.trainingDept" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="培训时间：">
              <Input v-model="form.trainingTime" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="培训地点：">
              <Input v-model="form.trainingAddr" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="培训目的：">
              <Input v-model="form.trainingObjective" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="外聘老师：">
              <Input v-model="form.trainingOuterTeacher" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="内聘老师：">
              <Input v-model="form.trainingInnerTeacher" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="课时安排：">
              <Input v-model="form.trainingLessonArrange" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="考核方式：">
              <Input v-model="form.trainingTestMethod" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="培训对象及人数：">
              <Input v-model="form.trainingPerson" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="培训内容：" class="textareaList">
              <Input type="textarea" v-model="form.trainingContent" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="show222 = false;">取消</Button>
      </div>
    </Modal>

    <Modal v-model="show666" title="详情" width="1000">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="使用地点：">
              <Input v-model="form.sydwdz" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="设备名称：">
              <!--<Input v-model="form.sbmcWz" :disabled="true" style="width: 50%;"  />-->
              <!--<Input v-model="form.sbmclxWz" :disabled="true" style="width: 49%;" />-->
              <Select style="width: 48%;margin-right: 3%;" :disabled="true" v-model="sbmc">
                <Option
                  v-for="list in sblxItem"
                  :key="list.BIANMA"
                  :value="list.BIANMA"
                >{{list.NAME}}</Option>
              </Select>
              <Select style="width: 48%;" v-model="sbmclx" :disabled="true">
                <Option v-for="list in sblxChildItem" :key="list.id" :value="list.id">{{list.SBMC}}</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="规格型号：">
              <Input v-model="form.sbxh" :disabled="true" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="设备编号：">
              <Input v-model="form.sbdm" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <!--<Table  border :columns="columns2" :data="data2" ></Table>-->
        <el-table class="form" :data="data666" border>
          <el-table-column label="日期" align="center">
            <template slot-scope="scope">
              <el-date-picker
                v-model="form.time"
                type="datetime"
                size="small"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                :disabled="true"
                placeholder="选择日期"
              ></el-date-picker>
              <!--<Input v-model="form.time" :disabled="true" />-->
            </template>
          </el-table-column>
          <el-table-column label="使用人" align="center">
            <template slot-scope="scope">
              <Input size="small" v-model="form.username" style="width: 100%;" :disabled="true" />
            </template>
          </el-table-column>
          <el-table-column label="运行状况" align="center">
            <el-table-column label="是否正常" align="center">
              <template slot-scope="scope">
                <el-select
                  size="small"
                  v-model="form.isNormal"
                  :disabled="true"
                  style="width: 100%;"
                >
                  <el-option :value="0" label="是"></el-option>
                  <el-option :value="1" label="否"></el-option>
                </el-select>
              </template>
            </el-table-column>
            <el-table-column label="异常现象描述" align="center">
              <template slot-scope="scope">
                <Input
                  size="small"
                  v-model="form.exceptionDesc"
                  style="width: 100%;"
                  :disabled="true"
                />
              </template>
            </el-table-column>
            <el-table-column label="处理结果" align="center">
              <template slot-scope="scope">
                <Input size="small" v-model="form.result" style="width: 100%;" :disabled="true" />
              </template>
            </el-table-column>
            <el-table-column label="备注" align="center">
              <template slot-scope="scope">
                <Input size="small" v-model="form.remark" style="width: 100%;" :disabled="true" />
              </template>
            </el-table-column>
          </el-table-column>
        </el-table>
      </Form>
      <div slot="footer">
        <Button @click="show666 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "gljg",
  data() {
    return {
      show: false,
      activeName111: "1",
      show1: false,
      show222: false,
      data3: [],
      zyDetail: false,
      show111: false,
      activeName: "12",
      form: {
        dType: 12,
        cUsic: ""
      },
      columns666: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "培训项目",
          key: "trainingProject",
          align: "center"
        },
        {
          title: "培训地点",
          key: "trainingAddr",
          align: "center"
        },
        {
          title: "培训内容",
          key: "trainingContent",
          align: "center"
        },
        {
          title: "培训部门",
          key: "trainingDept",
          align: "center"
        },
        {
          title: "上传时间",
          key: "trainingTime",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle222(params.row.id);
                    }
                  }
                },
                "查看"
              )
            ]);
          }
        }
      ],
      columns222: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "使用人",
          key: "username",
          align: "center"
        },
        {
          title: "设备类型",
          key: "deviceType",
          align: "center"
        },
        {
          title: "组织机构代码",
          key: "compUsci",
          align: "center"
        },
        {
          title: "记录添加时间",
          key: "addUserTime",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.addUserTime
                  }
                },
                params.row.addUserTime
              )
            ]);
          }
        },
        {
          title: "记录添加人",
          key: "addUserName",
          align: "center"
        },
        {
          title: "异常现象描述",
          key: "exceptionDesc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.exceptionDesc
                  }
                },
                params.row.exceptionDesc
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle666(params.row.id);
                    }
                  }
                },
                "查看"
              )
              // h('Button', {
              //   props: {
              //     type: 'success',
              //     size: 'small'
              //   },
              //   style: {
              //     marginRight: '5px'
              //   },
              //   on: {
              //     click: () => {
              //       this.showTitle(2, params, 1);
              //     }
              //   }
              // }, '下载'),
            ]);
          }
        }
      ],
      formDet: {},
      dtype: "",
      src: "",
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "dname",
          align: "center"
        },
        {
          title: "文件大小",
          key: "dsize",
          align: "center"
        },
        {
          title: "上传时间",
          key: "duploadDate",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showTitle(2, params, 1);
                      this.zyDetail = true;
                      this.getAqDetail(params.row.did);
                    }
                  }
                },
                "查看"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      // this.showTitle(2, params, 1);
                      this.downLoad(params.row.did);
                    }
                  }
                },
                "下载"
              )
            ]);
          }
        }
      ],
      columns2: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "a",
          align: "center"
        },
        {
          title: "文件大小",
          key: "b",
          align: "center"
        },
        {
          title: "上传时间",
          key: "c",
          align: "center"
        }
      ],
      data1: [],
      winHeight: null,
      winHeight1: null,
      sbmc: null,
      sbmclx: null,
      sblxChildItem: [],
      loading: false,
      data2: [],
      data666: [{}],
      query: {
        total: 0,
        pageSize: 10,
        pageNo: 1,
        dType: 12
      },
      query1: {
        total: 0,
        pageSize: 12,
        pageNo: 1,
        dType: 12
      },
      companyList: [],
      tableData: [],
      file: "",
      wjList: [],
      columns111: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "设备注册代码",
          key: "deviceRegistCode",
          align: "center"
        },
        {
          title: "使用证编号",
          key: "certNum",
          align: "center"
        },
        {
          title: "设备名称",
          key: "deviceName",
          align: "center",
          width: 120
        },
        {
          title: "出厂编号",
          key: "factoryCode",
          align: "center"
        },
        {
          title: "单位内部编号",
          key: "c",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle111(params.row.id);
                    }
                  }
                },
                "查看"
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          title: "日期",
          key: "time",
          align: "center"
        },
        {
          title: "故障/事故记录",
          key: "faultAccident",
          align: "center"
        },
        {
          title: "记录人",
          key: "usernameRecord",
          align: "center"
        },
        {
          title: "备注",
          key: "remark",
          align: "center"
        }
      ],
      columns333: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "保养日期",
          key: "maintenanceDate",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.maintenanceDate
                  }
                },
                params.row.maintenanceDate
              )
            ]);
          }
        },
        {
          title: "保养维修内容",
          key: "repairContent",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.repairContent
                  }
                },
                params.row.repairContent
              )
            ]);
          }
        },
        {
          title: "维修单位",
          key: "repairOrg",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.repairOrg
                  }
                },
                params.row.repairOrg
              )
            ]);
          }
        },
        {
          title: "维修人员",
          key: "repairUser",
          align: "center"
        },
        {
          title: "设备管理人员",
          key: "b",
          align: "center"
        }
      ],
      sblxItem: [],
      show666: false
    };
  },
  created() {
    // this.getInfoMsg();
    // this.getSbList();
    this.getCompanyAll();
    this.getWjlxMsg();
    this.getSbLx();
  },
  mounted() {
    setTimeout(() => {
      this.winHeight = this.$refs.mid.offsetHeight - 120;
      this.winHeight1 = this.$refs.mid.offsetHeight - 70;
    }, 200);
  },
  methods: {
    async changeLb(val) {
      this.sbmclx = "";
      this.$set(this.form, "sydwdz", "");
      this.$set(this.form, "sbxh", "");
      this.$set(this.form, "sbdm", "");
      let res = await this.$fetch.get("/api/glxx/listDeviceBySbType", {
        params: { sblb: val, usci: this.$store.state.user.compId }
      });
      this.sblxChildItem = res.data.result;
    },
    async getDetail666(id) {
      let res = await this.$fetch.get(
        "/api/deviceRunRecord/getDeviceRunRecord",
        {
          params: { id: id }
        }
      );
      this.form = Object.assign({}, res.data.result);
      // this.$set(this.form, "deviceRunRecordList", []);
      // this.form.deviceRunRecordList.push(res.data.result);
      this.changeLb(res.data.result.deviceType);
      this.sbmc = res.data.result.deviceType;
      for (let i of this.sblxItem) {
        if (i.BIANMA == this.sbmc) {
          this.$set(this.form, "sbmcWz", i.NAME);
        }
      }
      this.sbmclx = res.data.result.deviceId;
      this.getDetailLx();
    },
    // 获取设备详情信息
    async getDetailLx(id, type) {
      let res = await this.$fetch.get("/api/glxx/getGlxx", {
        params: { glxxId: this.sbmclx, sbType: this.sbmc }
      });
      if (!res.data.result) {
        return;
      }
      this.$set(this.form, "sbmclxWz", res.data.result.sbmc);
      this.$set(this.form, "sbxh", res.data.result.sbxh);
      this.$set(this.form, "sbdm", res.data.result.sbdm);
      this.$set(this.form, "sydwdz", res.data.result.sydwdz);
    },
    async getSbLx() {
      let res = await this.$fetch.get("/api/index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    clickDetail(val) {
      this.query.pageSize = 10;
      this.query.pageNo = 1;
      this.getSbList();
    },
    handleClick(val) {
      this.query.dType = this.activeName;
      this.query;
      this.getSbList();
    },
    // 分页
    changePageNo1(val) {
      this.query1.pageNo = val;
      this.getCompanyAll();
    },
    async getCompanyAll() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx", {
        params: this.query1
      });
      this.tableData = res.data.result.records;
      this.query1.total = res.data.result.total;
      this.$set(this.query, "cUsic", this.tableData[0].zzjgdm);
    },
    // 安全管理
    async getAqDetail(id) {
      this.formDet = {};
      let res = "";
      res = await this.$fetch.get("/api/doc/getDoc", { params: { dId: id } });
      this.formDet = Object.assign({}, res.data.result);
      for (let i of this.wjList) {
        if (i.BIANMA == res.data.result.dtype) {
          this.dtype = i.NAME;
        }
      }
    },
    rowClick(data) {
      this.query.pageNo = 1;
      this.query.cUsic = data.zzjgdm;
      this.getSbList();
    },
    look() {
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/" + this.formDet.durl,
        "_blank"
      );
    },
    async getWjlxMsg() {
      let res = await this.$fetch.get("/api/index/getFileTypeDict");
      this.wjList = res.data.result;
    },
    showTitle() {
      this.show = true;
    },
    showTitle111(id) {
      this.show111 = true;
      this.getDetail111(id);
    },
    showTitle666(id) {
      this.show666 = true;
      this.getDetail666(id);
    },
    showTitle222(id) {
      this.show222 = true;
      this.getDetail222(id);
    },
    async getDetail222(id) {
      let res = await this.$fetch.get("/api/index/getTraining", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    },
    async getDetail111(id) {
      let res = await this.$fetch.get("/api/deviceRunFault/getDeviceRunFault", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      this.data3 = [];
      this.data3.push({
        usernameRecord: this.form.usernameRecord,
        faultAccident: this.form.faultAccident,
        remark: this.form.remark,
        time: this.form.time
      });
    },
    // 树结构 企业列表
    async getInfoMsg() {
      let res = await this.$fetch.get("/api/company/listComapny", {
        params: this.query
      });
      this.companyList = res.data.result;
    },
    // 获取列表
    async getSbList(val) {
      this.loading = true;
      this.data1 = [];
      this.query.compUsci = this.query.cUsic;
      if (
        this.activeName == "12" ||
        this.activeName == "13" ||
        this.activeName == "14" ||
        this.activeName == "15"
      ) {
        let res = await this.$fetch.get("/api/doc/pageDoc", {
          params: this.query
        });
        if (res.data.result) {
          this.data1 = res.data.result.records;
          this.query.total = res.data.result.total;
        }
      } else if (this.activeName == "16") {
        let res = await this.$fetch.get(
          "/api/deviceRunRecord/pageDeviceRunRecord",
          { params: this.query }
        );
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
      } else if (this.activeName == "17") {
        if (this.activeName111 == "1") {
          this.loading = true;
          this.data1 = [];
          let res = await this.$fetch.get(
            "/api/deviceRunFault/pageDeviceRunFault",
            { params: this.query }
          );
          this.data1 = res.data.result.records;
          this.query.total = res.data.result.total;
          this.loading = false;
        } else {
          this.loading1 = true;
          this.data1 = [];
          let res = await this.$fetch.get(
            "/api/deviceRepair/pageDeviceRepair",
            { params: this.query }
          );
          this.data1 = res.data.result.records;
          this.query.total = res.data.result.total;
          this.loading1 = false;
        }
      } else if (this.activeName == "18") {
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get("/api/index/pageTraining", {
          params: this.query
        });
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
        this.loading = false;
      }
      this.loading = false;
    },
    async downLoad(id) {
      // let res = await this.$fetch({
      //   url:'doc/downloadDoc',
      //
      // })
      // let blob = new Blob([res], {type: "application/force-download"});
      // let objectUrl = URL.createObjectURL(blob);
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/doc/downloadDoc?dId=" + id,
        "_blank"
      );
    },
    // 新增
    async add() {
      if (!this.form.cUsic) {
        this.$Message.error("请选择公司！");
        return;
      }
      let params = new FormData();
      params.append("cUsic", this.form.cUsic);
      params.append("mf", this.file);
      params.append("dType ", 12);
      let res = await this.$fetch.post("/api/doc/addDoc", params);

      this.show = false;
      this.$Message.success("上传成功");
      this.getSbList();
    },
    beforeUpload(item, file) {
      this.file = item;
      this.data2 = [{ a: item.name, b: item.size }];
      return false;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    }
  }
};
</script>

<style scoped lang="scss">
.main {
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  .left {
  }
  .bot {
    flex: 1;
    display: flex;
  }
}
</style>
<style lang="scss">
.ivu-upload-list {
  margin-bottom: 0px !important;
}
.wjlx .ivu-form-item-content {
  height: 38px;
}
</style>
