<template>
  <div class="main">
    <div class="right">
      <div class="top">
        <Input v-model="query.xm"  placeholder="姓名" style="width:160px;margin-right: 10px;" />
        <Select  v-model="query.jysblb" placeholder="请选择专业组别" filterable style="width: 180px;margin-right: 10px;">
          <Option v-for="list in zyzbList" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
        </Select>
        <Button type="primary" icon="ios-search" @click="getSbList" style="margin-right: 10px;"></Button>
        <Button type="success" icon="md-add" @click.native='showTitle(1)'>新增</Button>
      </div>
      <div class="bot" ref="mid">
        <Table border :loading="loading" :columns="columns4" :height="winHeight" style="flex: 1;" :data="data1"></Table>
      </div>
      <Page :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize"  style="text-align: center;margin-top: 10px;" />
    </div>

    <Modal
      v-model="show"
      :title="title"
      width="800"
      @on-ok="add"
    >
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="姓名：">
            <Input v-model="form.ryxm" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="性别：">
            <Select v-model="form.xb">
              <Option value="男">男</Option>
              <Option value="女">女</Option>
            </Select>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="联系方式：">
            <Input v-model="form.lxfs" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="单位名称：">
            <Input v-model="form.dwqc" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="出生年月：">
            <!--<Input v-model="form.csny" />-->
            <DatePicker type="date" :value="form.csny" format="yyyy-MM-dd" style="width: 100%;"></DatePicker>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="传真号码：">
            <Input v-model="form.czhm" />
          </FormItem>
          </Col>
        </Row>
        <Row>

        </Row>
        <Row>
          <Col span="12">
          <FormItem label="所在部门：">
            <Input v-model="form.szbm" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="职务：">
            <Input v-model="form.zw" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="学历：">
            <Input v-model="form.xl" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="职称：">
            <Input v-model="form.zc" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="单位地址：">
            <Input v-model="form.dwdz" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="专业组别：" class="peopSpe">
            <CheckboxGroup style="margin-left: 10px;" v-model="jysblb">
              <Checkbox v-for="list in zyzbList" :key="list.id" :label="list.NAME" :value="list.BIANMA"></Checkbox>
              <!--<Checkbox label="苹果"></Checkbox>-->
              <!--<Checkbox label="西瓜"></Checkbox>-->
            </CheckboxGroup>
          </FormItem>
          </Col>
        </Row>
      </Form>
    </Modal>
    <Modal
      v-model="show222"
      title="选择企业"
      width="800"
      @on-ok="addSaveList"
    >
      <div>
        <!--<Select>-->
        <!--<Option></Option>-->
        <!--</Select>-->
        <Input placeholder="输入公司名称" v-model="query1.sydwmc" style="width: 160px;margin-right:10px;;margin-bottom: 10px;margin-right: 10px;" />
        <!--<Button></Button>-->
        <Button type="primary" icon="ios-search" style="margin-bottom: 10px;" @click="getAllCompany" >查询</Button>
      </div>
      <!--<Table ref="table" border v-show="!showList" :loading="loading" :columns="columns2" :height="Height" :data="title == '公司配置'?data2:title=='设备配置'?deviceList:''"></Table>-->
      <Table highlight-row @on-row-click="rowClick"  ref="table" border :loading="loading" :columns="columns222" height="400" :data="data2"></Table>
      <Page  style="margin-top: 10px;text-align: center;" @on-change="changePageNo1" @on-page-size-change="changePageSize1" :page-size="query1.pageSize" :total="query1.total"  />
      <div slot="footer">
        <Button @click="show222 = false;">取消</Button>
        <!--<Button type="primary"  :loading="modal_loading" @click="saveCompany">保存</Button>-->
      </div>
    </Modal>
  </div>
</template>

<script>
  var detThis = '';
  export default {
    name: "aqglry",
    data(){
      return{
        winHeight:null,
        query:{
          pageSize:10,
          pageNo:1,
          total:0,
          SSDQ: 320831,
        },query1:{
          pageSize:10,
          pageNo:1,
          total:0,
          SSDQ: 320831,
        },
        jysblb:[],
        columns222:[],
        show:false,
        modal_loading:false,
        form:{
          pPersonType:1,
          jysblb:''
        },
        title:'',
        columns4: [
          {
            type: 'index',
            width: 60,
            align: 'center'
          },
          {
            title: '姓名',
            key: 'ryxm'
          },
          {
            title: '性别',
            key: 'xb'
          },
          {
            title: '学历',
            key: 'xl'
          },
          {
            title: '移动电话',
            key: 'lxfs'
          },
          {
            title: '单位名称',
            key: 'dwqc',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.dwqc
                  }
                }, params.row.dwqc)
              ]);
            }
          },
          {
            title: '专业组别',
            key: 'jysblb',
            render: (h, params) => {
              let str = '';
              // for(let i of this.zyzbList){
              //   if(i.BIANMA == params.row.jysblb){
              //     str += i.NAME
              //   }
              // }
              let data = params.row.jysblb.split(',');
              for(let i in data){
                for(let f of this.zyzbList){
                  if(data[i] == f.BIANMA){
                    str +=f.NAME+',';
                  }
                }

              }
              str = str.substr(0,str.length-1);
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: str
                  }
                }, str)
              ]);
            }
          },
          // {
          //   title: '人员类别',
          //   key: 'ppersonType',
          //   render :(h,params) =>{
          //     let text = this.rylbList.filter( res => res.data.BIANMA == params.row.ppersonType);
          //     return h('div', {
          //       }, text.name);
          //   }
          // },
          {
            title: '操作',
            fixed: 'right',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.showTitle(2,params.row.yjjyrylrId);
                    }
                  }
                }, '编辑'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: '警告',
                        content: '是否确认删除？',
                        onOk: () => {
                          this.delete(params.row.yjjyrylrId);
                        },
                      });

                    }
                  }
                }, '删除'),
              ]);
            }
          },
        ],
        data1: [],
        data2: [

        ],
        rylbList:[],
        loading:false,
        show222:false,
        companyList:[],
        zyzbList:[],
      }
    },
    created(){
      detThis = this;
      this.getZyZb();
      this.getSbList();
      this.getAllCompany();
    },
    mounted(){
      setTimeout(()=>{
        this.winHeight = this.$refs.mid.offsetHeight;
      },500);
    },
    filters:{
      filterZyzt(val){
        for(let i of detThis.zyzbList){
          if(val == i.BIANMA){
            return i.NAME
          }
        }
      }
    },
    methods:{
      rowClick(row){
        console.log(row);
        this.show222 = false;
        this.$set(this.form,'compUsci',row.sydwid)
        this.$set(this.form,'orgName',row.sydwmc)
      },
      // 分页
      changePageNo(val){
        this.query.pageNo = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      },
      renderContent(h, { root, node, data }) {

        return h(

          "span",

          {

            style: {

              display: "inline-block",

              width: "30%",
              cursor: "pointer",
            },
            on: {
              click: () => {
                this.query.cid = data.id;
                this.getSbList()
              }
            }
          },

          [

            h(

              "Tooltip",

              {
                props: {
                  placement: "top-start",
                  transfer: true
                }
              },

              [

                data.title,//控制树形显示的内容

                h(

                  "span",
                  {
                    slot: "content",
                    style: {
                      whiteSpace: "nowrap",
                    }
                  },
                  data.title//控制Tooltip显示的内容
                )

              ]

            ),
          ]

        );

      },
      showTitle(num,id){
        this.show = true;
        if(num == 1){
          this.title = '新增';
          this.form = {};
        }else{
          this.title = '编辑';
          this.getDetail(id);
        }
        setTimeout(()=>{
          $(".peopSpe .ivu-form-item-label").css({
            height:$(".peopSpe .ivu-form-item-content").height(),
            lineHeight:$(".peopSpe .ivu-form-item-content").height() / 2+'px'
          })
        },500);

      },
      async getAllCompany(){
        let res = await this.$fetch.get('/api/sydwjcxx/listSydwjcxx',{params:this.query1})
        this.data2 = res.data.result.records;
        this.query1.total = res.data.result.total;
      },
      async changePageNo1(val){
        this.query1.pageNo = val;
        this.getAllCompany();
      },
      changePageSize1(val){
        this.query1.pageSize = val;
        this.getAllCompany();
      },
      // 树结构 企业列表
      async getInfoMsg(){
        let res = await this.$fetch.get('/api/company/listComapny');
        this.companyList = res.data.result;
      },

      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/Yjjyrylr/listYjjyrylr',{params:this.query})
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
        this.loading = false;
      },
      // 人员类别
      async getRYLB(){
        let res = await this.$fetch.get('/api/index/getPersonTypeDict');
        this.rylbList = res.data.result;
      },
      async getZyZb(){
        let res = await this.$fetch.get('/api/index/getZyzbDict');
        this.zyzbList = res.data.result;
      },
      // 获取详情
      async getDetail(id){
        this.jysblb = [];
        let res = await this.$fetch.get('/api/Yjjyrylr/getYjjyrylr',{params:{id  :id}});
        this.form = Object.assign({},res.data.result);
        let data = this.form.jysblb.split(',');
        for(let i in data){
          for(let f of this.zyzbList){
            if(data[i] == f.BIANMA){
              this.jysblb.push(f.NAME);
            }
          }

        }
        console.log(this.jysblb);
      },
      addSaveList(){
        this.show222 = false;
      },
      async addSave(){
        let res = await this.$fetch.post('/api/Yjjyrylr/addYjjyrylr',this.form);
        if(res.data.success){
          this.query.pageNo = 1;
          this.$Message.success('新增成功！');
          this.show = false;
          this.getSbList();
        }
      },async editSave(){
        let res = await this.$fetch.put('/api/Yjjyrylr/updatekPeople',this.form);
        if(res.data.success){
          this.query.pageNo = 1;
          this.$Message.success('新增成功！');
          this.show = false;
          this.getSbList();
        }
      },
      // 删除
      async delete(id){
        this.loading = true;
        let res = await this.$fetch.delete('Yjjyrylr/deleteYjjyrylr',{params:{id :id}});
        if(res.data.success){
          this.$Message.success(res.data.success);
          this.getSbList();
        }
      },
      deleteDiog(id){

      },
      // 新增
      async add(){
        this.form.jysblb = '';
        if(this.jysblb.length > 0){
          let data = [];
          for(let i in this.jysblb){
            for(let f of this.zyzbList){
              if(this.jysblb[i] == f.NAME){
                data.push(f.BIANMA);
              }
            }
          }
          for(let f in data){
            this.form.jysblb += data[f]+','
          }
          this.form.jysblb = this.form.jysblb.substr(0,this.form.jysblb.length-1);
        }else{

        }
        if(this.title == '新增'){
          this.addSave();
        }else{
          this.editSave()
        }
        // let res = await this.$fetch.post('/api/personnel/addPersonnelByJg',this.form);
      }
    }
  }
</script>

<style scoped lang="scss">
  .main{
    padding: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    .right{
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .bot{
        flex: 1;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
      }
    }


  }
</style>
<style lang="scss">
  /*.ivu-tree-arrow{*/
  /*vertical-align: 14px;*/
  /*}*/
  /*.ivu-tooltip{*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*width: 100%;*/
  /*.ivu-tooltip-rel{*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*}*/

  /*}*/
</style>
