<template>
  <div class="main">

    <div class="bot" >
      <Tabs value="1" @on-click="clickDetail">
        <TabPane label="故障记录" name="1"  >
          <div class="left" style="margin-bottom: 10px;">
            <Input v-model="query.deviceName" style="width: 160px;margin-right: 10px;" placeholder="设备名称"/>
            <Input v-model="query.deviceRegistCode" style="width: 160px;margin-right: 10px;" placeholder="设备注册代码"/>
            <Select style="width: 160px;margin-right: 10px;" v-model="query.deviceType" >-->
              <Option v-for="list in sblxItem" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
            </Select>
            <Button type="primary" icon="ios-search" @click="getInfoMsg">查询</Button>
          </div>
          <Table  :loading="loading" border :columns="columns1" :data="data1" height="500"></Table>
          <Page  style="margin-top: 10px;text-align: center;" :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.showCount"/>
        </TabPane>
        <TabPane label="维修记录" name="2" >
          <Table  :loading="loading" border :columns="columns2" :data="data2"></Table>
        </TabPane>
      </Tabs>

    </div>
    <Modal
      v-model="show"
      title="故障详情"
      width="800"
    >
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="设备注册代码：">
            <Input v-model="form.deviceRegistCode" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="使用证编号：">
            <Input v-model="form.certNum" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="设备名称：">
            <Input v-model="form.deviceName" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="出厂编号：">
            <Input v-model="form.factoryCode" />
          </FormItem>
          </Col>
        </Row> <Row>
        <Col span="12">
        <FormItem label="投用日期：">
          <Input v-model="form.usingTime" />
        </FormItem>
        </Col>
        <Col span="12">
        <FormItem label="安装地址：">
          <Input v-model="form.installAddr" />
        </FormItem>
        </Col>
      </Row> <Row>
        <Col span="24">
        <FormItem label="使用状态：">
          <Input v-model="form.isUsing" />
        </FormItem>
        </Col>
      </Row>
        <Table  :loading="loading" border :columns="columns3" :data="data3"></Table>
      </Form>
      <div slot="footer">
        <Button   @click="show = false;" >取消</Button>
      </div>
    </Modal>
    <Modal
      v-model="wxshow"
      title="维修详情"
      width="800"
    >
      <Table  :loading="loading" border :columns="columns4" :data="data4"></Table>
      <div slot="footer">
        <Button   @click="wxshow = false;" >取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    name: "gljg",
    data(){
      return{
        form:{},
        sblxItem:[],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '设备注册代码',
            key: 'deviceRegistCode',
            align: 'center',
          },
          {
            title: '使用证编号',
            key: 'certNum',
            align: 'center',
          },
          {
            title: '设备名称',
            key: 'deviceName',
            align: 'center',
            width:120,
          },{
            title: '出厂编号',
            key: 'factoryCode',
            align: 'center',
          },{
            title: '单位内部编号',
            key: 'c',
            align: 'center',
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.showTitle(params.row.id);
                    }
                  }
                }, '查看'),
              ]);
            }
          },
        ],
        columns2: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '保养日期',
            key: 'maintenanceDate',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.maintenanceDate
                  }
                }, params.row.maintenanceDate)
              ]);
            }
          },
          {
            title: '保养维修内容',
            key: 'repairContent',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.repairContent
                  }
                }, params.row.repairContent)
              ]);
            }
          },{
            title: '维修单位',
            key: 'repairOrg',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.repairOrg
                  }
                }, params.row.repairOrg)
              ]);
            }
          },{
            title: '维修人员',
            key: 'repairUser',
            align: 'center',
          },{
            title: '设备管理人员',
            key: 'b',
            align: 'center',
          },
          // {
          //   title: '操作',
          //   key: 'cz',
          //   align: 'center',
          //   width: 200,
          //   render: (h, params) => {
          //     return h('div', [
          //       h('Button', {
          //         props: {
          //           type: 'primary',
          //           size: 'small'
          //         },
          //         style: {
          //           marginRight: '5px'
          //         },
          //         on: {
          //           click: () => {
          //             // this.showList = true;
          //             // this.numList = 0;
          //             this.showTitle(2, params, 1);
          //           }
          //         }
          //       }, '查看'),
          //     ]);
          //   }
          // },
        ],
        columns3: [
          {
            title: '日期',
            key: 'time',
            align: 'center',
          },
          {
            title: '故障/事故记录',
            key: 'faultAccident',
            align: 'center',
          },
          {
            title: '记录人',
            key: 'usernameRecord',
            align: 'center',
          },{
            title: '备注',
            key: 'remark',
            align: 'center',
          },
        ],
        columns4: [
          {
            title: '保养日期',
            key: 'a',
            align: 'center',
          },
          {
            title: '保养维修内容',
            key: 'b',
            align: 'center',
          },
          {
            title: '维修单位',
            key: 'c',
            align: 'center',
          },{
            title: '维修人员',
            key: 'c',
            align: 'center',
          },{
            title: '设备管理人员',
            key: 'c',
            align: 'center',
          },
        ],
        data3:[],
        data1:[],
        data4:[],
        loading:false,
        loading1:false,
        data2: [],
        show:false,
        wxshow:false,
        query:{
          total:0,
          pageSize:10,
          pageNo:1,
          dType:0,
        },
        query1:{
          pageSize:10,
          pageNo:1,
          total:0,
        }
      }
    },
    created(){
      this.getSbLx();
      this.getInfoMsg();
    },
    methods:{
      clickDetail(val){
        this.query.pageSize = 10;
        this.query.pageNo = 1;
        if(val == 1){
          this.getInfoMsg();
        }else{
          this.getWxMsg();
        }
      },

      showTitle(id){
        this.show = true;
        this.getDetail(id);
      },
      async getDetail(id){
        let res = await this.$fetch.get('/api/deviceRunFault/getDeviceRunFault',{params:{id:id}})
        this.form = Object.assign({},res.data.result);
        this.data3 = [];
        this.data3.push({usernameRecord:this.form.usernameRecord,faultAccident:this.form.faultAccident,remark:this.form.remark,time:this.form.time})

      },
      async getSbLx(){
        let res = await this.$fetch.get('/api/index/getDeviceDict');
        this.sblxItem = res.data.result;
      },
      // 分页
      changePageNo1(val){
        this.query.pageNo = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      },
      // 故障记录
      async getInfoMsg(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/deviceRunFault/pageDeviceRunFault',{params:this.query});
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
        this.loading = false;
      },
      // 维修记录
      async getWxMsg(){
        this.loading1 = true;
        this.data2 = [];
        let res = await this.$fetch.get('/api/deviceRepair/pageDeviceRepair',{params:this.query1});
        this.data2 = res.data.result.records;
        this.query1.total = res.data.result.total;
        this.loading1 = false;
      },
    }
  }
</script>

<style scoped lang="scss">
  .main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .bot{
      flex: 1;
    }
  }
</style>
