<template>
  <div class="main">
    <div class="right">
      <div class="top" style="display:flex;align-items:center;">
        <Input v-model="query.sydwmc" placeholder="公司名称" style="width:160px;margin-right: 10px;" />
        <Input
          v-model="query.factoryCode"
          placeholder="出厂编号"
          style="width:160px;margin-right: 10px;"
        />
        <Input v-model="query.appName" placeholder="器具名称" style="width:160px;margin-right: 10px;" />
        <el-date-picker
          v-model="query.checkDate"
          size="small"
          type="date"
          value-format="yyyy-MM-dd"
          placeholder="选择检定日期"
        ></el-date-picker>
        <el-date-picker
          v-model="query.validityDate"
          size="small"
          type="date"
          style="margin-left:10px;"
          value-format="yyyy-MM-dd"
          placeholder="选择有效日期"
        ></el-date-picker>
        <!--<Select  v-model="query.jysblb" placeholder="请选择专业组别" filterable style="width: 180px;margin-right: 10px;">-->
        <!--<Option v-for="list in zyzbList" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>-->
        <!--</Select>-->
        <Button type="primary" icon="ios-search" @click="getSbList" style="margin-left: 10px;">查询</Button>
        <!--<Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>-->
      </div>
      <div class="bot" ref="mid">
        <Table
          border
          :loading="loading"
          :columns="columns4"
          :height="winHeight"
          style="flex: 1;"
          :data="data1"
        ></Table>
      </div>
      <Page
        :total="query.total"
        @on-change="changePageNo"
        @on-page-size-change="changePageSize"
        :page-size="query.pageSize"
        style="text-align: center;margin-top: 10px;"
      />
    </div>

    <Modal v-model="show" :title="title" width="800" @on-ok="add">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="出厂编号：">
              <Input v-model="form.factoryCode" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="器具名称：">
              <Input v-model="form.appName" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="规格型号：">
              <Input v-model="form.spec" />
            </FormItem>
          </Col>
          <!--<Col span="12">-->
          <!--<FormItem label="企业组织机构代码：">-->
          <!--<Input v-model="form.compUsci" :disabled="true" />-->
          <!--</FormItem>-->
          <!--</Col>-->
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="检定日期：">
              <el-date-picker
                v-model="form.checkDate"
                type="date"
                value-format="yyyy-MM-dd"
                style="width: 100%;"
                placeholder="选择日期"
              ></el-date-picker>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="有效日期：">
              <el-date-picker
                v-model="form.validityDate"
                type="date"
                value-format="yyyy-MM-dd"
                style="width: 100%;"
                placeholder="选择日期"
              ></el-date-picker>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="show = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
var detThis = "";
export default {
  name: "aqglry",
  data() {
    return {
      winHeight: null,
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        SSDQ: 320831
      },
      jysblb: [],
      show: false,
      form: {
        pPersonType: 1,
        jysblb: ""
      },
      title: "",
      columns4: [
        {
          type: "index",
          width: 60,
          align: "center",
          label: "#"
        },
        {
          title: "公司名称",
          key: "sydwmc",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        },
        {
          title: "出厂编号",
          key: "factoryCode"
        },
        {
          title: "器具名称",
          key: "appName"
        },
        {
          title: "规格型号",
          key: "spec",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.spec
                  }
                },
                params.row.spec
              )
            ]);
          }
        },

        {
          title: "检定日期",
          key: "checkDate",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.checkDate
                  }
                },
                params.row.checkDate
              )
            ]);
          }
        },
        {
          title: "有效日期",
          key: "validityDate",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.validityDate
                  }
                },
                params.row.validityDate
              )
            ]);
          }
        }
        // {
        //   title: '人员类别',
        //   key: 'ppersonType',
        //   render :(h,params) =>{
        //     let text = this.rylbList.filter( res => res.data.BIANMA == params.row.ppersonType);
        //     return h('div', {
        //       }, text.name);
        //   }
        // },
        // {
        //   title: '操作',
        //   // fixed: 'right',
        //   width:120,
        //   render: (h, params) => {
        //     return h('div', [
        //       h('Button', {
        //         props: {
        //           type: 'primary',
        //           size: 'small'
        //         },
        //         style: {
        //           marginRight: '5px'
        //         },
        //         on: {
        //           click: () => {
        //             this.showTitle(2,params.row.id);
        //           }
        //         }
        //       }, '查看'),
        //       // h('Button', {
        //       //   props: {
        //       //     type: 'error',
        //       //     size: 'small'
        //       //   },
        //       //   style: {
        //       //     marginRight: '5px'
        //       //   },
        //       //   on: {
        //       //     click: () => {
        //       //       this.$Modal.confirm({
        //       //         title: '警告',
        //       //         content: '是否确认删除？',
        //       //         onOk: () => {
        //       //           this.delete(params.row.yjjyrylrId);
        //       //         },
        //       //       });
        //       //
        //       //     }
        //       //   }
        //       // }, '删除'),
        //     ]);
        //   }
        // },
      ],
      data1: [],
      data2: [
        {
          title: "全部",
          loading: false,
          number: 0,
          children: []
        }
      ],
      rylbList: [],
      loading: false,
      companyList: [],
      zyzbList: []
    };
  },
  created() {
    detThis = this;
    this.getZyZb();
    this.getSbList();
  },
  mounted() {
    setTimeout(() => {
      this.winHeight = this.$refs.mid.offsetHeight;
    }, 500);
  },
  filters: {
    filterZyzt(val) {
      for (let i of detThis.zyzbList) {
        if (val == i.BIANMA) {
          return i.NAME;
        }
      }
    }
  },
  methods: {
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },
    renderContent(h, { root, node, data }) {
      return h(
        "span",

        {
          style: {
            display: "inline-block",

            width: "30%",
            cursor: "pointer"
          },
          on: {
            click: () => {
              this.query.cid = data.id;
              this.getSbList();
            }
          }
        },

        [
          h(
            "Tooltip",

            {
              props: {
                placement: "top-start",
                transfer: true
              }
            },

            [
              data.title, //控制树形显示的内容

              h(
                "span",
                {
                  slot: "content",
                  style: {
                    whiteSpace: "nowrap"
                  }
                },
                data.title //控制Tooltip显示的内容
              )
            ]
          )
        ]
      );
    },
    showTitle(num, id) {
      this.show = true;
      if (num == 1) {
        this.title = "新增";
        this.form = {};
      } else {
        this.title = "详情";
        this.getDetail(id);
      }
      setTimeout(() => {
        $(".peopSpe .ivu-form-item-label").css({
          height: $(".peopSpe .ivu-form-item-content").height(),
          lineHeight: $(".peopSpe .ivu-form-item-content").height() / 2 + "px"
        });
      }, 500);
    },
    // // 树结构 企业列表
    // async getInfoMsg(){
    //   let res = await this.$fetch.get('/api/company/listComapny');
    //   this.companyList = res.data.result;
    // },

    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get(
        "/api/safetyFileTest/pageSafetyFileTest",
        { params: this.query }
      );
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    // 人员类别
    async getRYLB() {
      let res = await this.$fetch.get("/api/index/getPersonTypeDict");
      this.rylbList = res.data.result;
    },
    async getZyZb() {
      let res = await this.$fetch.get("/api/index/getZyzbDict");
      this.zyzbList = res.data.result;
    },
    // 获取详情
    async getDetail(id) {
      this.jysblb = [];
      let res = await this.$fetch.get("/api/safetyFileTest/getSafetyFileTest", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    },
    async addSave() {
      let res = await this.$fetch.post("Yjjyrylr/addYjjyrylr", this.form);
      if (res.data.success) {
        this.query.pageNo = 1;
        this.$Message.success("新增成功！");
        this.show = false;
        this.getSbList();
      }
    },
    async editSave() {
      let res = await this.$fetch.put("/api/Yjjyrylr/updatekPeople", this.form);
      if (res.data.success) {
        this.query.pageNo = 1;
        this.$Message.success("新增成功！");
        this.show = false;
        this.getSbList();
      }
    },
    // 删除
    async delete(id) {
      this.loading = true;
      let res = await this.$fetch.delete(
        "safetyFileTest/deleteSafetyFileTest",
        { params: { id: id } }
      );
      if (res.data.success) {
        this.$Message.success(res.data.success);
        this.getSbList();
      }
    },
    deleteDiog(id) {},
    // 新增
    async add() {
      this.form.jysblb = "";
      if (this.jysblb.length > 0) {
        let data = [];
        for (let i in this.jysblb) {
          for (let f of this.zyzbList) {
            if (this.jysblb[i] == f.NAME) {
              data.push(f.BIANMA);
            }
          }
        }
        for (let f in data) {
          this.form.jysblb += data[f] + ",";
        }
        this.form.jysblb = this.form.jysblb.substr(
          0,
          this.form.jysblb.length - 1
        );
      } else {
      }
      if (this.title == "新增") {
        this.addSave();
      } else {
        this.editSave();
      }
      // let res = await this.$fetch.post('personnel/addPersonnelByJg',this.form);
    }
  }
};
</script>

<style scoped lang="scss">
.main {
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  .right {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .bot {
      flex: 1;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  }
}
</style>
<style lang="scss">
/*.ivu-tree-arrow{*/
/*vertical-align: 14px;*/
/*}*/
/*.ivu-tooltip{*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*.ivu-tooltip-rel{*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*}*/

/*}*/
</style>
