<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right" >
      <div class="top" v-show="!showList">
        <Input v-model="query.ownNumber" style="width: 200px;" placeholder="请输入自由编号" />
        <Select v-model="query.stationCode" v-if="!query.sblx" style="width:180px" placeholder="请选择充装单位">
          <Option  v-for="list in listSteam" :value="list.stationCode" :key="list.stationCode">{{list.stationName}}</Option>
        </Select><Select v-model="query.cylinderTypeCode" v-if="!query.sblx" style="width:180px;margin-left: 4px ;" placeholder="请选择气瓶类型">
        <Option  v-for="list in zlList" :value="list.cylinderTypeCode" :key="list.cylinderTypeCode">{{list.cylinderTypeName}}</Option>
      </Select>
        <Select v-model="query.mediumCode" v-if="!query.sblx" style="width:180px" placeholder="请选择充装介质">

          <Option  v-for="list in listJz" :value="list.mediumCode" :key="list.mediumCode">{{list.mediumName}}</Option>
        </Select>
        <Select v-model="query.factoryCode" v-if="!query.sblx" style="width:180px" placeholder="请选择制造单位">
          <Option  v-for="list in listDw" :value="list.factoryCode" :key="list.factoryCode">{{list.factoryName}}</Option>

        </Select>
        <Select v-model="query.validNumber" v-if="!query.sblx" style="width:180px" placeholder="请选择">
          <Option value="SB1000">逾期未检验瓶</Option>
          <Option value="SB1000">逾期未报废瓶</Option>
        </Select>
        <DatePicker type="date" v-model="query.startDate" placeholder="请选择开始日期" style="width: 200px;margin-top: 10px;"></DatePicker>
        <DatePicker type="date" v-model="query.endStart" placeholder="请选择结束日期" style="width: 200px;margin-top: 10px;"></DatePicker>
        <Button type="primary" icon="ios-search" @click="getSbList">查询</Button>
        <!--<Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>-->
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <Table border style="width: 100%;" v-show="!showList" :loading="loading" :columns="columns1" :height="Height" :data="data1"></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize" :total="query.total"  />
      </div>
    </div>
    <Modal
      v-model="show"
      title="查看详情"
      width="1000"
      class="homeDetail"
    >
      <Form :model="form" class="form" label-position="right" :label-width="200">
        <Row>
          <Col span="12">
          <FormItem label="充装单位：">
            <Input v-model="form.stationName" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="制造单位：">
            <Input v-model="form.factoryName" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="出厂编号：">
            <Input v-model="form.factoryNumber" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="制造年月：">
            <Input v-model="form.lastUpdateTime" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="气瓶种类：">
            <Input v-model="form.cylinderTypeName" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="充装介质：">
            <Input v-model="form.mediumName" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="状态：">
            <Input v-model="form.status" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="条形码：">
            <Input v-model="form.barcode" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="联系方式：">
            <Input v-model="form.yxrq" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="上报单位：">
            <Input v-model="form.stationName" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="上报时间：">
            <Input v-model="form.recordTime" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="修改单位：">
            <Input v-model="form.stationName" />
          </FormItem>
          </Col>
        </Row><Row>
          <Col span="12">
          <FormItem label="末次修改时间：">
            <Input v-model="form.lastUpdateTime" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="自有编号：">
            <Input v-model="form.yxrq" />
          </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button size="small" @click="show = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        model1: '',
        show: false,
        Height:null,
        title: '',
        showList: false,
        dis: 0,
        numList: 0,
        form: {},
        edit: {},
        columns11: [
          {
            type: 'index',
            width: 70,
            align: 'center',
            title: '序号'
          },
          {
            title: '单位名称',
            key: 'a',
            align: 'center',
            width: 120,
          },
          {
            title: '详细地址',
            key: 'b',
            width: 260,
            align: 'center'
          },
          {
            title: '所在地区',
            key: 'c',
            align: 'center'
          },
          {
            title: '联系人',
            key: 'd',
            align: 'center'
          }, {
            title: '联系电话',
            key: 'd',
            align: 'center'
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                }, '修改'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                    }
                  }
                }, '删除')
              ]);
            }
          },
        ],
        data11: [
          {
            a: '王清',
            b: '320102197508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy.jpg'
          },
          {
            a: '李伟',
            b: '320102199208042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy.jpg'
          },
          {
            a: '张峰',
            b: '320102198808042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
          {
            a: '王斌',
            b: '320102196508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
          {
            a: '陈伟',
            b: '320102197508042912',
            c: '1384124231',
            d: '安全负责人',
            e: '../../static/boy1.jpg'
          },
        ],
        columns3: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
            fixed: 'left',
          },
          {
            title: '设备名称',
            key: 'a',
            align: 'center',
            width: 100,
            fixed: 'left',
          },
        ],
        columns5: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '文件名称',
            key: 'a',
            align: 'center',
          },
          {
            title: '文件大小',
            key: 'b',
            align: 'center',
          },
          {
            title: '上传时间',
            key: 'c',
            align: 'center',
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '查看'),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '下载'),
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                }, '删除'),
              ]);
            }
          },
        ],
        columns4: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '姓名',
            key: 'a',
            align: 'center',
          },
          {
            title: '人员类型',
            key: 'e',
            align: 'center',
          },
          {
            title: '联系电话',
            key: 'b',
            align: 'center',
          },
          {
            title: '操作证类别',
            key: 'c',
            align: 'center',
          },
          {
            title: '操作证有效期',
            key: 'd',
            align: 'center',
          },
          {
            title: '操作证图片',
            key: 'f',
            fixed: 'right',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('img', {
                  style: {
                    width: '80px',
                    height: '61px',
                    cursor: 'pointer',
                  },
                  attrs: {
                    'src': '/static/234.png',
                    // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                  },
                  on: {
                    click: (e) => {
                      this.src = e.srcElement.currentSrc;
                      this.show2 = true;
                    }
                  }
                }),
              ])
            }
          },

        ],
        data3: [
          {
            a: '陈伟',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '安全管理员',
            f: '../../static/20190521223419.jpg',
          },
          {
            a: '张斌',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '作业人员',
          },
          {
            a: '王伟',
            b: '1385172312',
            c: '锅炉作业	',
            d: '2019-05-23',
            e: '水处理人员',
          },
        ],
        data4: [
          {
            a: '安装清洗资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '安全附件相关信息',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '化学清洗技术资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '锅炉设备出场资料',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
        ],
        data7: [
          {
            a: '定期检验报告(30)',
            b: '30K',
            c: '2019-05-19  11:22:00',
          },
          {
            a: '定期检验报告(19)',
            b: '30K',
            c: '2019-05-14  11:22:00',
          },
          {
            a: '定期检验报告(22)',
            b: '30K',
            c: '2019-04-22  11:22:00',
          },
          {
            a: '定期检验报告(26)',
            b: '30K',
            c: '2019-04-12  11:22:00',
          },
        ],
        data5: [
          {
            a: '安全附件校检记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '锅炉定期检验记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '巡回检查记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '日常维护保养记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '水处理记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '定期自行检查记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '应急救援演练记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
          {
            a: '交接班记录',
            b: '30K',
            c: '2019-05-23  11:22:00',
          },
        ],
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '充装单位',
            key: 'stationName',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },
          {
            title: '制造单位',
            key: 'factoryName',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.factoryName
                  }
                }, params.row.factoryName)
              ]);
            }
          },
          {
            title: '出厂编号',
            key: 'factoryNumber',
            align: 'center',
            width:140,
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.factoryNumber
                  }
                }, params.row.factoryNumber)
              ]);
            }
          },
          {
            title: '制造年月',
            width:140,
            key: 'lastUpdateTime',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.lastUpdateTime
                  }
                }, params.row.lastUpdateTime)
              ]);
            }
          },{
            title: '气瓶种类',
            width:140,
            key: 'cylinderTypeName',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.cylinderTypeName
                  }
                }, params.row.cylinderTypeName)
              ]);
            }
          },{
            title: '充装介质',
            width:140,
            key: 'mediumName',
            align: 'center',
          },{
            title: '状态',
            width:140,
            key: 'status',
            align: 'center',
          },{
            title: '条形码',
            key: 'barcode',
            width:140,
            align: 'center',
          },
          // {
          //   title: '车牌号码',
          //   width:140,
          //   key: 'data02',
          //   align: 'center',
          // },
          {
            title: '联系方式',
            width:140,
            key: 'yxrq',
            align: 'center',
          },{
            title: '上报单位',
            width:140,
            key: 'stationName',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },{
            title: '上报时间',
            key: 'recordTime',
            width:140,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.recordTime
                  }
                }, params.row.recordTime)
              ]);
            }
          },{
            title: '修改单位',
            key: 'stationName',
            width:140,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.stationName
                  }
                }, params.row.stationName)
              ]);
            }
          },{
            title: '末次修改时间',
            width:140,
            key: 'lastUpdateTime',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.lastUpdateTime
                  }
                }, params.row.lastUpdateTime)
              ]);
            }
          },{
            title: '自有编号',
            width:140,
            key: 'yxrq',
            align: 'center',

          },
          {
            title: '操作',
            key: 'cz',
            fixed: 'right',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.getDetail(params.row.id )
                      this.show = true;
                      this.form = Object.assign({},params.row);
                    }
                  }
                }, '详情'),
              ]);
            }
          },
        ],
        data1: [],
        loading:false,
        add:{},
        data2: [{
          title: '全部',
          loading: false,
          number: 0,
          children: []
        }],
        query: {
          pageSize: 10,
          pageNum: 1,
          total:0,
        },
        zlList:[],
        listSteam:[],
        listDw:[],
        listJz:[],
      }
    },
    mounted(){
      setTimeout(()=>{
        this.Height = this.$refs.mid.offsetHeight;
      },500);
    },
    created(){
      this.getSbList();
      this.getZl();
      this.getCom();
      this.getDw();
      this.getJz();
    },
    methods:{
      // 分页
      changePageNo(val){
        this.query.pageNum = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      },
      // 树结构 企业列表
      async getInfoMsg(){
        this.loading = true;
        let res = await this.$fetch.get('/yqapi/rest/workOrder/listWorkOrder',{params:this.query});
        this.data1 =  res.data.varList;
        this.query.total = res.data.page.totalResult;
        this.loading= false;
      },
      // 获取详情
      // async getDetail(id){
      //   this.show = true;
      //   let res = await this.$fetch('/api/ariBottleRecordData/getaribottlerecorddata',{params:{aribottlerecorddataId:id}})
      //   this.form = Object.assign({},res.data.result);
      // },
      // 树结构 设备列表
      async getSbTreeList(id){
        let res = await this.$fetch.get('glxx/getCompanysDeviceInfo',{params:{usci:id}});
        return res.data.result;
      },
      async getZl(){
        let res = await this.$fetch.get('/api/ariBottleRecordData/listAriBottleType');
        this.zlList = res.data;
      },
      async getCom(){
        let res = await this.$fetch.get('/api/ariBottleRecordData/listSteamStation');
        this.listSteam = res.data;
      },async getDw(){
        let res = await this.$fetch.get('/api/ariBottleRecordData/listManufacturer');
        this.listDw = res.data;
      },async getJz(){
        let res = await this.$fetch.get('/api/ariBottleRecordData/listFillingMedium');
        this.listJz = res.data;
      },
      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/ariBottleRecordData/listAriBottle',{params:this.query})
        this.data1 = res.data.list;
        this.query.total = res.data.totalPage;
        this.loading = false;
      },
      openFile(){
        document.getElementById("file").click();
      },
      showTitle(id){
        this.showList = true;
        this.getDetail(id);
      }
    }
  }
</script>

<style lang="scss">


</style>
<style lang='scss' scoped>
  .left:hover{
    overflow-y: scroll;
    transition: all .5s;
  }
  .logo-title {
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 10px 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .editFlex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #87888b;
    &:first-child{
      margin-top: 20px;
    }
    label{
      flex: .3;
      text-align: justify;
      text-align-last:justify;
      &::after{
        display: flex;
        content: "";
        overflow: hidden;
        width: 100%;
        height: 0;
      }
    }
    .ivu-input-wrapper,.ivu-select,.ivu-date-picker,.ivu-upload{
      flex: 1;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }

  .spe{
    background: #fff !important;
  }
  .logoImg{
    display: flex;
    align-items: center;
    img{
      cursor: pointer;
      max-width: 40px;
      margin-right: 10px;
      vertical-align: bottom;
    }
    &>div{
      flex: .5;
      display: flex;
      align-items: center;

    }
  }
  .publicItem{
    padding: 6px 0;
    display: flex;
    justify-content: center;
  }
  .publicItem:nth-child(even){
    background: #f1f3f8;

  }
  .ivu-tabs-content{
    height: 100%;
  }
  .wrappper-title {
    position: relative;
    background-color: #fff;
    // border-bottom:1px solid #e8edf7;
    font-size: 14px;
    .el-button--primary.is-plain {
      color: #409EFF;
      background: #ecf5ff;
      border-color: #b3d8ff;
    }
    .el-button {
      box-shadow: 0 3px 6px #d0d0d0;
      padding: 7px 15px;
      border-radius: 3px;
      transition: .1s;
      font-weight: 500;
      box-sizing: border-box;
      outline: 0;
      -webkit-appearance: none;
      text-align: center;
      border: 1px solid #dcdfe6;
      line-height: 1;
      white-space:nowrap;
      display: inline-block;
      cursor: pointer;
    }
    .el-button--primary.is-plain:focus, .el-button--primary.is-plain:hover {
      background: #409EFF;
      border-color: #409EFF;
      color: #fff;
    }
    i{
      color: #62a0de!important;
      background-color: #62a0de!important;
    }
    .circle+span{
      vertical-align: middle;
      color: #62a0de!important;
      cursor: pointer;
    }
  }
  .flex{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #87888b;
    label{
      text-align: right;
      flex: .25;
      font-size: 14px;
      color: #87888b;
      margin-right: 10px;
    }

    span,img,.ivu-input-wrapper,.ivu-date-picker,.ivu-select{
      flex: .5;
    }
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .infor{
    display: flex;
    height: 100%;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    .left{
      border-right:1px solid #ccc;
      margin-right: 10px;
      height: 100%+1;
      flex: .16;
    }
    .right{
      display: flex;
      height: 100%;
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      padding-left: 1px;
      .mid{
        margin-top: 10px;
        flex: 1;
      }
      .top{
        margin-bottom: 10px;
      }
      .bot{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
      }
    }

  }
  .ivu-upload{
    display: flex;
  }
</style>
