<template>
  <div class="main">
    <div class="left">
      <!--<Select style="width: 200px;" filterable>-->
      <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cid ">{{list.cname}}</Option>-->
      <!--</Select>-->
      <Input v-model="query.trainingAddr" style="width: 160px;margin-right: 10px;" placeholder="培训地点"/>
      <Input v-model="query.trainingDept" style="width: 160px;margin-right: 10px;" placeholder="培训部门"/>
      <Input v-model="query.trainingProject" style="width: 160px;margin-right: 10px;" placeholder="培训项目"/>
      <Button type="primary" icon="ios-search" @click="getSbList"></Button>
      <!--<Button type="error" icon="ios-add" @click="add">新增</Button>-->
    </div>
    <div class="bot" ref="mid">
      <Table  :loading="loading" :height="winHeight" border :columns="columns1" :data="data1" ></Table>
    </div>
    <Page :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize" style="margin: 10px 0;" />
    <Modal
      v-model="show"
      title="查询详情"
      width="800"
      @on-ok="save"
    >
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="培训项目：">
            <Input v-model="form.trainingProject" :disabled="true"/>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="组织培训部门：">
            <Input v-model="form.trainingDept" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="培训时间：">
            <Input v-model="form.trainingTime" :disabled="true"/>
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="培训地点：">
            <Input v-model="form.trainingAddr" :disabled="true"/>
          </FormItem>
          </Col>
        </Row> <Row>
        <Col span="24">
        <FormItem label="培训目的：">
          <Input v-model="form.trainingObjective" :disabled="true"/>
        </FormItem>
        </Col>
      </Row>
        <Row>
          <Col span="12">
          <FormItem label="外聘老师：">
            <Input v-model="form.trainingOuterTeacher" :disabled="true" />
          </FormItem>
          </Col> <Col span="12">
          <FormItem label="内聘老师：">
            <Input v-model="form.trainingInnerTeacher" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="课时安排：">
            <Input v-model="form.trainingLessonArrange" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="考核方式：">
            <Input v-model="form.trainingTestMethod" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="培训对象及人数：">
            <Input v-model="form.trainingPerson" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
          <FormItem label="培训内容：" class="textareaList">
            <Input type="textarea" v-model="form.trainingContent" :disabled="true"/>
          </FormItem>
          </Col>
        </Row>
      </Form>
    </Modal>
    <!--<Modal-->
    <!--v-model="show"-->
    <!--title="新增"-->
    <!--width="800"-->
    <!--&gt;-->
    <!--<Form :model="form" class="form" label-position="right" :label-width="120">-->
    <!--<Row>-->
    <!--<Col span="12">-->
    <!--<FormItem label="使用地点：">-->
    <!--<Input v-model="form.usingAddr" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备名称：">-->
    <!--<Input v-model="form.deviceName" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row style="border-bottom: 1px solid #ddd;">-->
    <!--<Col span="12">-->
    <!--<FormItem label="规格型号：">-->
    <!--<Input v-model="form.deviceSpec" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备编号：">-->
    <!--<Input v-model="form.input3" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row>-->
    <!--<Col class="publicItem" span="24">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--<label style="flex: 1;">序号</label>-->
    <!--</Col><Col class="flex" span="6">-->
    <!--<label style="flex: 1;">设备注册代码</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备名称</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备编号</label>-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col class="publicItem" span="24" v-for="(list,index) in item" :key="index">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--{{index}}-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备注册代码" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备名称" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备编号" />-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col :span="24" style="text-align: center;">-->
    <!--<Button @click="addNew" type="success" icon="ios-add">新增</Button>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--</Form>-->
    <!--</Modal>-->
  </div>
</template>

<script>
  export default {
    name: "gljg",
    data(){
      return{
        form:{},
        item:[],
        winHeight:null,
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '培训项目',
            key: 'trainingProject',
            align: 'center',
          },
          {
            title: '培训地点',
            key: 'trainingAddr',
            align: 'center',
          },
          {
            title: '培训内容',
            key: 'trainingContent',
            align: 'center',
          },{
            title: '培训部门',
            key: 'trainingDept',
            align: 'center',
          },{
            title: '上传时间',
            key: 'trainingTime',
            align: 'center',
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(params.row.id);
                    }
                  }
                }, '查看'),
              ]);
            }
          },
        ],
        columns2: [
          {
            title: '日期',
            key: 'name',
            align: 'center',
            render: (h, params) => {
              return h('DatePicker ', {
                props: {
                  clearable: false,
                  placeholder: '请选择日期',
                  value: params.row[params.column.key],
                  type: 'date',
                  format: 'yyyy-MM-dd',
                  size: 'small'
                },
                on: {
                  'on-change': (val)=>{
                    this.form[params.index][params.column.key] = val
                  }
                }
              });
            }
          },{
            title: '时间',
            key: 'name',
            align: 'center',
          },{
            title: '使用人',
            key: 'name',
            align: 'center',
          },
          {
            title: '运行状况',
            align: 'center',
            children: [
              {
                title: '是否正常',
                key: 'age',
                align: 'center',
              },
              {
                title: '异常现象描述',
                align: 'center',
              },
              {
                title: '处理结果',
                align: 'center',
              },
              {
                title: '备注',
                align: 'center',
              }
            ]
          },
        ],
        data1:[],
        loading:false,
        data2: [
          {
            title: '全部',
            loading: false,
            number: 0,
            children: []
          }
        ],
        show:false,
        query:{
          total:0,
          pageSize:10,
          pageNo:1,
        },
        companyList:[],
      }
    },
    created(){
      this.getSbList();
    },
    mounted(){
      setTimeout(()=>{
        this.winHeight = this.$refs.mid.offsetHeight;
      },800);
    },
    methods:{
      showTitle(id){
        this.show = true;
        this.getDetail(id);
      },
      // 树结构 企业列表
      async getInfoMsg(){
        let res = await this.$fetch.get('/api/company/listComapny');
        this.companyList = res.data.result;
      },
      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/index/pageTraining',{params:this.query})
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
        this.loading = false;
      },
      async getDetail(id){
        let res = await this.$fetch.get('/api/index/getTraining',{params:{id:id}})
        this.form = Object.assign({},res.data.result);
      },
      add(){
        this.show = true;
      },
      async save(){
        let res = await this.$fetch.post('index/addTraining',this.form)
      },
      addNew(){
        this.data2.push({});
      },
      // 分页
      changePageNo(val){
        this.query.pageNo = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      }
    }
  }
</script>

<style scoped lang="scss">
  .main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .bot{
      flex: 1;
      margin-top: 10px;
    }
  }
</style>
