<template>
  <div class="main">
    <div class="left">
      <Select style="width: 200px;margin-right: 10px;" filterable>
        <Option v-for="list in companyList" :key="list.cid" :value="list.cid ">{{list.cname}}</Option>
      </Select>
      <Button type="primary" icon="ios-search" @click="getSbList"></Button>
      <!--<Button type="error" icon="ios-add" @click="add">新增</Button>-->
    </div>
    <div class="bot" ref="mid">
      <Table :loading="loading" :height="winHeight" border :columns="columns1" :data="data1" ></Table>
    </div>
    <Page :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize" style="margin: 10px 0;text-align: center;" />
    <Modal
      v-model="show"
      title="查询详情"
      width="1000"
    >
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="使用地点：">
            <Input v-model="form.sydwdz" :disabled="true" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="设备名称：">
            <Input v-model="form.sbmcWz" :disabled="true" style="width: 50%;"  />
            <Input v-model="form.sbmclxWz" :disabled="true" style="width: 49%;" />
            <!--<Select style="width: 48%;margin-right: 3%;" v-model="sbmc" @on-change="changeLb">-->
            <!--<Option v-for="list in sblxItem" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>-->
            <!--</Select>-->
            <!--<Select style="width: 48%;" v-model="sbmclx" @on-change="changeLbdetail">-->
            <!--<Option v-for="list in sblxChildItem" :key="list.id" :value="list.id">{{list.SBMC}}</Option>-->
            <!--</Select>-->
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="规格型号：">
            <Input v-model="form.sbxh" :disabled="true" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="设备编号：">
            <Input v-model="form.sbdm" :disabled="true" />
          </FormItem>
          </Col>
        </Row>
        <!--<Table  border :columns="columns2" :data="data2" ></Table>-->
        <el-table class="form" :data="data2" border >
          <el-table-column label="日期" align="center" >
            <template slot-scope="scope">
              <!--<el-date-picker-->
              <!--v-model="form.a"-->
              <!--type="date"-->
              <!--size="small"-->
              <!--style="width: 100%;"-->
              <!--placeholder="选择日期">-->
              <!--</el-date-picker>-->
              <Input v-model="form.time" :disabled="true" />
            </template>
          </el-table-column>
          <el-table-column label="时间" align="center" >
            <template slot-scope="scope">
              <!--<el-date-picker-->
              <!--v-model="form.a"-->
              <!--style="width: 100%;"-->
              <!--type="date"-->
              <!--size="small"-->
              <!--placeholder="选择日期" align="center" >-->
              <!--</el-date-picker>-->
              <Input v-model="form.sbdm" :disabled="true" />
            </template>
          </el-table-column>
          <el-table-column label="使用人" align="center" >
            <template slot-scope="scope">
              <Input size="small" v-model="form.username" style="width: 100%;" :disabled="true" />
            </template>
          </el-table-column>
          <el-table-column label="运行状况" align="center" >
            <el-table-column label="是否正常" align="center" >
              <template slot-scope="scope">
                <!--<el-select size="small" style="width: 100%;">-->
                <!--<el-option value="" label="是"></el-option>-->
                <!--<el-option value="" label="否"></el-option>-->
                <!--</el-select>-->
                <Input value="是" v-if="form.isNormal == 0" :disabled="true" />
                <Input value="否" v-else :disabled="true" />
              </template>
            </el-table-column>
            <el-table-column label="异常现象描述" align="center" >
              <template slot-scope="scope">
                <Input size="small" v-model="form.exceptionDesc" style="width: 100%;" :disabled="true" />
              </template>
            </el-table-column>
            <el-table-column label="处理结果" align="center" >
              <template slot-scope="scope">
                <Input size="small" v-model="form.result" style="width: 100%;" :disabled="true" />
              </template>
            </el-table-column>
            <el-table-column label="备注" align="center" >
              <template slot-scope="scope">
                <Input size="small" v-model="form.remark" style="width: 100%;" :disabled="true" />
              </template>
            </el-table-column>

          </el-table-column>
        </el-table>
        <!--<Button @click="addNew" type="success" icon="ios-add">新增</Button>-->
      </Form>
    </Modal>
    <!--<Modal-->
    <!--v-model="show"-->
    <!--title="新增"-->
    <!--width="800"-->
    <!--&gt;-->
    <!--<Form :model="form" class="form" label-position="right" :label-width="120">-->
    <!--<Row>-->
    <!--<Col span="12">-->
    <!--<FormItem label="使用地点：">-->
    <!--<Input v-model="form.usingAddr" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备名称：">-->
    <!--<Input v-model="form.deviceName" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row style="border-bottom: 1px solid #ddd;">-->
    <!--<Col span="12">-->
    <!--<FormItem label="规格型号：">-->
    <!--<Input v-model="form.deviceSpec" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--<Col span="12">-->
    <!--<FormItem label="设备编号：">-->
    <!--<Input v-model="form.input3" />-->
    <!--</FormItem>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--<Row>-->
    <!--<Col class="publicItem" span="24">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--<label style="flex: 1;">序号</label>-->
    <!--</Col><Col class="flex" span="6">-->
    <!--<label style="flex: 1;">设备注册代码</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备名称</label>-->
    <!--</Col><Col class="flex" span="6" >-->
    <!--<label style="flex: 1;">设备编号</label>-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col class="publicItem" span="24" v-for="(list,index) in item" :key="index">-->
    <!--<Col class="flex" span="6" style="text-align: center;">-->
    <!--{{index}}-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备注册代码" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备名称" />-->
    <!--</Col><Col class="flex" span="6" style="text-align: center;">-->
    <!--<Input style="flex:1" placeholder="请输入设备编号" />-->
    <!--</Col>-->
    <!--</Col>-->
    <!--<Col :span="24" style="text-align: center;">-->
    <!--<Button @click="addNew" type="success" icon="ios-add">新增</Button>-->
    <!--</Col>-->
    <!--</Row>-->
    <!--</Form>-->
    <!--</Modal>-->
  </div>
</template>

<script>
  export default {
    name: "gljg",
    data(){
      return{
        form:{},
        item:[],
        winHeight:null,
        sbmc:'',
        sbmclx:'',

        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '使用人',
            key: 'username',
            align: 'center',
          },
          {
            title: '设备类型',
            key: 'deviceType',
            align: 'center',
          },
          {
            title: '组织机构代码',
            key: 'compUsci',
            align: 'center',
          },{
            title: '记录添加时间',
            key: 'addUserTime',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.addUserTime
                  }
                }, params.row.addUserTime)
              ]);
            }
          },{
            title: '记录添加人',
            key: 'addUserName',
            align: 'center',
          },{
            title: '异常现象描述',
            key: 'exceptionDesc',
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('span', {
                  style: {
                    display: 'inline-block',
                    width: '100%',
                    overflow: 'hidden',
                    textOverflow: 'ellipsis',
                    whiteSpace: 'nowrap'
                  },
                  domProps: {
                    title: params.row.exceptionDesc
                  }
                }, params.row.exceptionDesc)
              ]);
            }
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(params.row.id);
                    }
                  }
                }, '查看'),
                // h('Button', {
                //   props: {
                //     type: 'success',
                //     size: 'small'
                //   },
                //   style: {
                //     marginRight: '5px'
                //   },
                //   on: {
                //     click: () => {
                //       this.showTitle(2, params, 1);
                //     }
                //   }
                // }, '下载'),
              ]);
            }
          },
        ],
        columns2: [
          {
            title: '日期',
            key: 'name',
            align: 'center',
            render: (h, params) => {
              return h('DatePicker ', {
                props: {
                  clearable: false,
                  placeholder: '请选择日期',
                  value: params.row[params.column.key],
                  type: 'date',
                  format: 'yyyy-MM-dd',
                  size: 'small'
                },
                on: {
                  'on-change': (val)=>{
                    this.form[params.index][params.column.key] = val
                  }
                }
              });
            }
          },{
            title: '时间',
            key: 'name',
            align: 'center',
          },{
            title: '使用人',
            key: 'name',
            align: 'center',
          },
          {
            title: '运行状况',
            align: 'center',
            children: [
              {
                title: '是否正常',
                key: 'age',
                align: 'center',
              },
              {
                title: '异常现象描述',
                align: 'center',
              },
              {
                title: '处理结果',
                align: 'center',
              },
              {
                title: '备注',
                align: 'center',
              }
            ]
          },
        ],
        data1:[],
        loading:false,
        data2: [
          {
            title: '全部',
            loading: false,
            number: 0,
            children: []
          }
        ],
        show:false,
        query:{
          total:0,
          pageSize:10,
          pageNo:1,
        },
        companyList:[],
        sblxItem:[],
        sblxChildItem:[],
      }
    },
    created(){
      this.getSbList();
      this.getSbLx();
    },
    mounted(){
      setTimeout(()=>{
        this.winHeight = this.$refs.mid.offsetHeight;
      },500);
    },
    methods:{
      async changeLb(val){
        let res = await this.$fetch.get('/api/glxx/listDeviceBySbType',{params:{sblb:val}});
        this.sblxChildItem = res.data.result;
      },
      async changeLbdetail(){
        this.getDetailLx()
      },
      async getSbLx(){
        let res = await this.$fetch.get('/api/index/getDeviceDict');
        this.sblxItem = res.data.result;
      },
      showTitle(id){
        this.show = true;
        this.getDetail(id);
      },
      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/deviceRunRecord/pageDeviceRunRecord',{params:this.query})
        this.data1 = res.data.result.records;
        this.query.total = res.data.result.total;
        this.loading = false;
      },
      async getDetail(id){
        let res = await this.$fetch.get('/api/deviceRunRecord/getDeviceRunRecord',{params:{id:id}})
        this.form = Object.assign({},res.data.result);
        this.changeLb(res.data.result.deviceType)
        this.sbmc = res.data.result.deviceType;
        for(let i of this.sblxItem){
          if(i.BIANMA == this.sbmc){
            this.$set(this.form,'sbmcWz',i.NAME)
          }
        }
        this.sbmclx = res.data.result.deviceId;
        this.getDetailLx();
      },
      // 获取设备详情信息
      async getDetailLx(id,type){
        let res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:this.sbmclx,sbType:this.sbmc}})
        this.$set(this.form,'sbmclxWz',res.data.result.sbmc);
        this.$set(this.form,'sbxh',res.data.result.sbxh);
        this.$set(this.form,'sbdm',res.data.result.sbdm);
        this.$set(this.form,'sydwdz',res.data.result.sydwdz);
      },
      add(){
        this.show = true;
      },
      addNew(){
        this.data2.push({});
      },
      // 分页
      changePageNo(val){
        this.query.pageNo = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      }
    }
  }
</script>

<style scoped lang="scss">
  .main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .bot{
      flex: 1;
      margin-top: 10px;
    }
  }
</style>
