<template>
  <div class="main">
    <div class="left">
      <!--<Tree style="width: 200px;" :data="data2" :load-data="loadData" :render="renderContent" ></Tree>-->
      <Input v-model="query1.sydwmc" style="width: 200px;margin-right: 10px;" placeholder="请输入文件名称" />
      <!--<Select  v-model="query.cUsic" placeholder="请输入企业名称" filterable style="width: 180px">-->
      <!--<Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>-->
      <!--</Select>-->
      <Button type="primary" icon="ios-search" @click="getCompanyAll"></Button>
      <!--<Button type="error" icon="ios-add" @click="showTitle(1)">新增</Button>-->
    </div>
    <div class="bot" style="margin-top: 10px;" ref="mid">
      <div class="leftDet" style="width: 25%;margin-right: 10px;">
        <el-table
          :data="tableData"
          style="width: 100%;margin-right: 10px;flex: 1;" highlight-current-row		 @row-click="rowClick" class="sepl" :height="winHeight">
          <el-table-column
            type="index"
            label="#"
            align="center"
            width="40"
          >
          </el-table-column>
          <el-table-column
            prop="sydwmc"
            label="公司名称"
            align="center"
            show-overflow-tooltip
          >
          </el-table-column>
        </el-table>
        <Page style="text-align: center;margin-top: 10px;" :total="query1.total" @on-change="changePageNo1" @on-page-size-change="changePageSize" :page-size="query1.pageSize"/>
      </div>
      <div style="width: 75%;">
        <Table  :height="winHeight" :loading="loading" border :columns="columns1" :data="data1"></Table>
        <Page :total="query.total" @on-change="changePageNo" @on-page-size-change="changePageSize" :page-size="query.pageSize" style="text-align: center;margin-top: 10px;" />
      </div>

    </div>

    <Modal
      v-model="show"
      title="新增"
    >
      <div>
        <div style="display: flex;align-items: center;">
          <Select  v-model="form.cUsic" placeholder="请选择类型" filterable style="width: 180px;margin-bottom: 8px;">
            <Option :value="0">使用单位</Option>
            <Option :value="1">生产单位</Option>
            <Option :value="2">检验单位</Option>
            <Option :value="3">经营单位</Option>
            <Option :value="4">充装单位</Option>
          </Select>
          <Select  v-model="form.cUsic" placeholder="请输入企业名称" filterable style="width: 180px;margin-bottom: 8px;">
            <Option v-for="list in companyList" :key="list.cid" :value="list.cusci">{{list.cname}}</Option>
          </Select>
          <Upload style="margin-left: 10px;" action="/" :before-upload="beforeUpload">
            <Button icon="ios-cloud-upload-outline">上传</Button>
          </Upload>
        </div>

        <Table style="margin-top: 4px;" height="400" border :columns="columns2" :data="data2"></Table>
      </div>
      <div slot="footer">
        <Button @click="add">确认</Button>
        <Button @click="show = false;">取消</Button>
      </div>
    </Modal>
    <Modal
      v-model="show1"
      title="新增"
    >
      <img style="width: 500px;" :src="src">
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
    <Modal
      v-model="zyDetail"
      title="详情"
    >
      <Form :model="formDet" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
          <FormItem label="文件名称：">
            <Input v-model="formDet.dname" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="文件大小：">
            <Input v-model="formDet.dsize" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="文件有效期：">
            <Input v-model="formDet.dvaliditydate" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="文件上传时间：">
            <Input v-model="formDet.duploadDate" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="文件类型：">
            <Input v-model="dtype" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="文件类型：" style="border-right: 1px solid #ddd;">
            <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
          </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyDetail = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "gljg",
    data(){
      return{
        show:false,
        show1:false,
        zyDetail:false,
        form:{
          dType:15,
          cUsic:'',
        },
        formDet:{},
        dtype:'',
        src:"",
        columns1: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '文件名称',
            key: 'dname',
            align: 'center',
          },
          {
            title: '文件大小',
            key: 'dsize',
            align: 'center',
          },
          {
            title: '上传时间',
            key: 'duploadDate',
            align: 'center',
          },
          {
            title: '操作',
            key: 'cz',
            align: 'center',
            width: 200,
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'primary',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showTitle(2, params, 1);
                      this.zyDetail = true;
                      this.getAqDetail(params.row.did);
                    }
                  }
                }, '查看'),
                h('Button', {
                  props: {
                    type: 'success',
                    size: 'small'
                  },
                  style: {
                    marginRight: '5px'
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      // this.showTitle(2, params, 1);
                      this.downLoad(params.row.did);
                    }
                  }
                }, '下载'),
              ]);
            }
          },
        ],
        columns2: [
          {
            type: 'index',
            width: 80,
            align: 'center',
            title: '序号',
          },
          {
            title: '文件名称',
            key: 'a',
            align: 'center',
          },
          {
            title: '文件大小',
            key: 'b',
            align: 'center',
          },
          {
            title: '上传时间',
            key: 'c',
            align: 'center',
          },
        ],
        data1:[],
        winHeight:null,
        loading:false,
        data2: [],
        query:{
          total:0,
          pageSize:10,
          pageNo:1,
          dType:15,
        },
        query1:{
          total:0,
          pageSize:12,
          pageNo:1,
          dType:15,
        },
        companyList:[],
        tableData:[],
        file:'',
        wjList:[],
      }
    },
    created(){
      // this.getInfoMsg();
      // this.getSbList();
      this.getCompanyAll();
      this.getWjlxMsg();
    },
    mounted(){
      setTimeout(()=>{
        this.winHeight = this.$refs.mid.offsetHeight - 60;
      },200);
    },
    methods:{
      // 分页
      changePageNo1(val){
        this.query1.pageNo = val;
        this.getCompanyAll();
      },
      async getCompanyAll(){
        let res = await this.$fetch.get('/api/sydwjcxx/listSydwjcxx',{params:this.query1});
        this.tableData = res.data.result.records;
        this.query1.total = res.data.result.total;
      },
      // 安全管理
      async getAqDetail(id){
        this.formDet = {};
        let res = '';
        res = await this.$fetch.get('/api/doc/getDoc',{params:{dId:id}});
        this.formDet = Object.assign({},res.data.result);
        for(let i of this.wjList){
          if(i.BIANMA == res.data.result.dtype){
            this.dtype = i.NAME
          }
        }
      },
      rowClick(data){
        this.query.cUsic = data.zzjgdm;
        this.getSbList()
      },
      look(){
        window.open('http://36.154.40.222:8085/jeecg-boot/'+ this.formDet.durl,"_blank")
      },
      async getWjlxMsg(){
        let res = await this.$fetch.get('/api/index/getFileTypeDict');
        this.wjList = res.data.result;
      },
      showTitle(){
        this.show = true;
      },
      // 树结构 企业列表
      async getInfoMsg(){
        let res = await this.$fetch.get('/api/company/listComapny',{params:this.query});
        this.companyList = res.data.result;
      },
      // 获取列表
      async getSbList(){
        this.loading = true;
        this.data1 = [];
        let res = await this.$fetch.get('/api/doc/pageDoc',{params:this.query})
        if(res.data.result){
          this.data1 = res.data.result.records;
          this.query.total = res.data.result.total;
        }
        
        this.loading = false;
      },
      async downLoad(id){
        // let res = await this.$fetch({
        //   url:'doc/downloadDoc',
        //
        // })
        // let blob = new Blob([res], {type: "application/force-download"});
        // let objectUrl = URL.createObjectURL(blob);
        window.open('http://36.154.40.222:8085/jeecg-boot/doc/downloadDoc?dId='+ id,"_blank")
      },
      // 新增
      async add(){
        if(!this.form.cUsic){
          this.$Message.error('请选择公司！');
          return
        }
        let params = new FormData();
        params.append('cUsic',this.form.cUsic);
        params.append('mf',this.file);
        params.append('dType ',15);
        let res = await this.$fetch.post('doc/addDoc',params);

        this.show = false;
        this.$Message.success("上传成功")
        this.getSbList();
      },
      beforeUpload(item,file){
        this.file = item;
        this.data2 = [{a:item.name,b:item.size}]
        return false;
      },
      // 分页
      changePageNo(val){
        this.query.pageNo = val;
        this.getSbList();
      },
      changePageSize(val){
        this.query.pageSize = val;
        this.getSbList();
      }
    }
  }
</script>

<style scoped lang="scss">

  .main{
    padding: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;;
    .left{
    }
    .bot{
      flex: 1;
      display: flex;
    }
  }
</style>
<style lang="scss">
  .ivu-upload-list{
    margin-bottom: 0px !important;
  }
</style>
