<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <Input
          suffix="ios-search"
          v-model="query.zsbh"
          placeholder="证书编号"
          style="width: 300px;margin-right:10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.xm"
          placeholder="姓名"
          style="width: 300px;margin-right:10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.dabh"
          placeholder="档案编号"
          style="width: 300px;margin-right:10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.LXDH"
          placeholder="联系电话"
          style="width: 300px;margin-right:10px;"
        />
        <br />
        <DatePicker
          type="date"
          v-model="query.ratifyStartDate"
          format="yyyy-MM-dd"
          placeholder="请选择批准开始日期"
          style="width: 300px;margin-top: 10px;margin-right: 10px;"
        ></DatePicker>
        <DatePicker
          type="date"
          v-model="query.ratifyEndDate"
          format="yyyy-MM-dd"
          placeholder="请选择批准结束日期"
          style="width: 300px;margin-top: 10px;margin-right: 10px;"
        ></DatePicker>
        <DatePicker
          type="date"
          v-model="query.validStartDate"
          format="yyyy-MM-dd"
          placeholder="请选择有效开始日期"
          style="width: 300px;margin-top: 10px;margin-right: 10px;"
        ></DatePicker>
        <DatePicker
          type="date"
          v-model="query.validEndDate"
          format="yyyy-MM-dd"
          placeholder="请选择有效结束日期"
          style="width: 300px;margin-top: 10px;margin-right: 10px;"
        ></DatePicker>
        <br />
        <Select
          v-model="query.zyzl_id"
          v-if="!query.sblx"
          style="width:300px;margin-top: 10px;margin-right: 10px;"
          placeholder="请选择作业种类"
          disabled
        >
          <Option value>全部</Option>
          <Option v-for="(list,index) in zlList" :value="list.zyzlId" :key="index">{{list.zyzl}}</Option>
        </Select>
        <Select
          v-model="query.zyxmDm"
          v-if="!query.sblx"
          style="width:300px;margin-top: 10px;margin-right: 10px;"
          placeholder="请选择作业项目"
        >
          <Option value>全部</Option>
          <Option v-for="(det,index1) in xmdmList" :value="det.zyxmDm" :key="index1">{{det.zyxmDm}}</Option>
        </Select>
        <!--<Select v-model="query.ksjgDm" v-if="!query.sblx" style="width:180px" placeholder="请选择发证机构">-->
        <!--<Option  v-for="list in listFz" :value="list.fzjg">{{list.fzjg}}</Option>-->
        <!--</Select>-->
        <Select
          v-model="query.ksjgDm"
          v-if="!query.sblx"
          style="width:300px;margin-top: 10px;margin-right: 10px;"
          placeholder="请选择考试机构"
        >
          <Option value>全部</Option>
          <Option v-for="(list,index2) in listFz" :value="list.ksjgDm" :key="index2">{{list.ksjg}}</Option>
        </Select>
        <Button type="primary" icon="ios-search" @click="getSbList" style="margin-top:10px">查询</Button>
        <!--<Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>-->
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <!--<Table border v-show="!showList" :loading="loading" class="paddingTable" :columns="columns1" :height="Height" :data="data1"></Table>-->
        <Table
          border
          v-show="!showList"
          :loading="loading"
          style="width: 100%;"
          :columns="columns1"
          :height="Height"
          :data="data1"
        ></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          :total="query.total"
        />
      </div>
    </div>
    <Modal v-model="show" :title="title" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="证书编号：">
              <Input v-model="form.zsbh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="姓名：">
              <Input v-model="form.xm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="领证人：">
              <Input v-model="form.lzr" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="联系电话：">
              <Input v-model="form.lxdh" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="身份证号：">
              <Input v-model="form.sfzh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业项目：">
              <Input v-model="form.zyxm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="档案编号：">
              <Input v-model="form.dabh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业种类：">
              <Input v-model="form.zyzl" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="用人单位：">
              <Input v-model="form.yrdw" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="发证机构：">
              <Input v-model="form.fzjg" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="考试机构：">
              <Input v-model="form.ksjg" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="考试类别：">
              <Input v-model="form.kslb" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="有效日期：">
              <Input v-model="form.yxrq" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="批准日期：">
              <Input v-model="form.pzrq" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="关联企业：">
              <Input v-model="form.yxrq" />
            </FormItem>
          </Col>
         
        </Row>
      </Form>
    </Modal>
    <Modal v-model="show222" title="选择企业" width="800">
      <div>
        <!--<Select>-->
        <!--<Option></Option>-->
        <!--</Select>-->
        <span style="font-size:20px;margin-left:10px;">{{this.form.compName}}</span>
        <Input
          placeholder="输入公司名称"
          v-model="query1.sydwmc"
          style="width: 160px;margin-right:10px;;margin-bottom: 10px;margin-right: 10px;"
        />
        <!--<Button></Button>-->
        <Button
          type="primary"
          icon="ios-search"
          style="margin-bottom: 10px;"
          @click="getAllCompany"
        >查询</Button>
        
      </div>
      <!--<Table ref="table" border v-show="!showList" :loading="loading" :columns="columns2" :height="Height" :data="title == '公司配置'?data2:title=='设备配置'?deviceList:''"></Table>-->
      <!-- @on-row-click="rowClick" -->
      <Table
        highlight-row
        ref="table"
        border
        :loading="loading"
        :columns="columns222"
        @on-select="changeList"
        height="400"
        :data="data2"
      ></Table>
      <Page
        style="margin-top: 10px;text-align: center;"
        @on-change="changePageNo1"
        @on-page-size-change="changePageSize1"
        :page-size="query1.pageSize"
        :total="query1.total"
      />
      <div slot="footer">
        <Button @click="show222 = false;">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="saveCompany">保存</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      model1: "",
      show: false,
      modal_loading: false,
      show222: false,
      Height: null,
      title: "",
      showList: false,
      dis: 0,
      numList: 0,
      form: {},
      edit: {},
      columns11: [
        {
          type: "index",
          width: 70,
          align: "center",
          title: "序号"
        },
        {
          title: "单位名称",
          key: "a",
          align: "center",
          width: 120
        },
        {
          title: "详细地址",
          key: "b",
          width: 260,
          align: "center"
        },
        {
          title: "所在地区",
          key: "c",
          align: "center"
        },
        {
          title: "联系人",
          key: "d",
          align: "center"
        },
        {
          title: "联系电话",
          key: "d",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                },
                "修改"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {}
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data11: [
        {
          a: "王清",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "李伟",
          b: "320102199208042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "张峰",
          b: "320102198808042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "王斌",
          b: "320102196508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "陈伟",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        }
      ],
      columns3: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号",
          fixed: "left"
        },
        {
          title: "设备名称",
          key: "a",
          align: "center",
          width: 100,
          fixed: "left"
        }
      ],
      columns5: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "文件名称",
          key: "a",
          align: "center"
        },
        {
          title: "文件大小",
          key: "b",
          align: "center"
        },
        {
          title: "上传时间",
          key: "c",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "查看"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "success",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "下载"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      // this.showList = true;
                      // this.numList = 0;
                      this.showTitle(2, params, 1);
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      columns4: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "姓名",
          key: "a",
          align: "center"
        },
        {
          title: "人员类型",
          key: "e",
          align: "center"
        },
        {
          title: "联系电话",
          key: "b",
          align: "center"
        },
        {
          title: "操作证类别",
          key: "c",
          align: "center"
        },
        {
          title: "操作证有效期",
          key: "d",
          align: "center"
        },
        {
          title: "操作证图片",
          key: "f",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "80px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: "/static/234.png"
                  // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        }
      ],
      data3: [
        {
          a: "陈伟",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "安全管理员",
          f: "../../static/20190521223419.jpg"
        },
        {
          a: "张斌",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "作业人员"
        },
        {
          a: "王伟",
          b: "1385172312",
          c: "锅炉作业	",
          d: "2019-05-23",
          e: "水处理人员"
        }
      ],
      data4: [
        {
          a: "安装清洗资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "安全附件相关信息",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "化学清洗技术资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "锅炉设备出场资料",
          b: "30K",
          c: "2019-05-23  11:22:00"
        }
      ],
      data7: [
        {
          a: "定期检验报告(30)",
          b: "30K",
          c: "2019-05-19  11:22:00"
        },
        {
          a: "定期检验报告(19)",
          b: "30K",
          c: "2019-05-14  11:22:00"
        },
        {
          a: "定期检验报告(22)",
          b: "30K",
          c: "2019-04-22  11:22:00"
        },
        {
          a: "定期检验报告(26)",
          b: "30K",
          c: "2019-04-12  11:22:00"
        }
      ],
      data5: [
        {
          a: "安全附件校检记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "锅炉定期检验记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "巡回检查记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "日常维护保养记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "水处理记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "定期自行检查记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "应急救援演练记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        },
        {
          a: "交接班记录",
          b: "30K",
          c: "2019-05-23  11:22:00"
        }
      ],
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "证书编号",
          key: "dabh",
          align: "center",
          width: 140,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zsbh
                  }
                },
                params.row.zsbh
              )
            ]);
          }
        },
        {
          title: "姓名",
          key: "xm",
          align: "center",
          width: 140
        },
        {
          title: "档案编号",
          key: "dabh",
          align: "center",
          width: 140,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.dabh
                  }
                },
                params.row.dabh
              )
            ]);
          }
        },
        {
          title: "作业种类",
          key: "zyzl",
          align: "center",
          width: 140,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zyzl
                  }
                },
                params.row.zyzl
              )
            ]);
          }
        },
        {
          title: "作业项目",
          key: "zyxm",
          align: "center",
          width: 180,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zyxm
                  }
                },
                params.row.zyxm
              )
            ]);
          }
        },
        {
          title: "发证机构",
          key: "fzjg",
          width: 140,
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.fzjg
                  }
                },
                params.row.fzjg
              )
            ]);
          }
        },
        {
          title: "考试机构",
          key: "ksjg",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.ksjg
                  }
                },
                params.row.ksjg
              )
            ]);
          }
        },
        {
          title: "批准日期",
          key: "pzrq",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.pzrq
                  }
                },
                params.row.pzrq
              )
            ]);
          }
        },
        {
          title: "有效日期",
          key: "yxrq",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.yxrq
                  }
                },
                params.row.yxrq
              )
            ]);
          }
        },
        {
          title: "关联企业",
          key: "compName",
          align: "center",
          width: 160,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.compName
                  }
                },
                params.row.compName
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 180,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(params.row.id);
                      // this.showTitle(2, params);
                    }
                  }
                },
                "详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.form = Object.assign({}, params.row);
                      this.show222 = true;
                      if (this.form.compName) {
                        for (let f of this.data2) {
                          if (this.form.compName == f.sydwmc) {
                            this.$set(f, "_checked", true);
                          }else{
                            this.$set(f, "_checked", false);
                          }
                        }
                      } 
                      // if (this.form.compName) {
                      //   for (let f of this.data2) {
                      //     if (this.form.compName == f.sydwmc) {
                      //       this.$set(f, "_checked", true);
                      //     }
                      //   }
                      // } else {
                      //   for (let s of this.data2) {
                      //     this.$set(s, "_checked", false);
                      //   }
                      // }
                    }
                  }
                },
                "分配公司"
              )
            ]);
          }
        }
      ],
      data1: [],
      loading: false,
      add: {},
      data2: [],
      columns222: [
        {
          type: "selection",
          width: 60,
          label: "#",
          align: "center"
          // render: (h, params) => {
          //   return h("div", [
          //     h("Checkbox", {
          //       props: {
          //         value: params.row.checkBox
          //       },
          //       on: {
          //         "on-change": e => {
          //           console.log(e);
          //           this.data2.forEach(items => {
          //             //先取消所有对象的勾选，checkBox设置为false
          //             this.$set(items, "checkBox", false);
          //           });
          //           this.data2[params.index].checkBox = e; //再将勾选的对象的checkBox设置为true
          //           console.log(this.data2[params.index]);

          //         }
          //       }
          //     })
          //   ]);
          // }
        },
        {
          title: "企业名称",
          key: "sydwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        }
      ],
      query: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
        fzjg: "金湖县市场监督管理局",
        zyzl_id:2,
      },
      query1: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
        fzjg: "金湖县市场监督管理局",
        zyzl_id:2,
      },
      xmdmList: [],
      zlList: [],
      listFz: []
    };
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 50);
  },
  created() {
    // this.getInfoMsg();
    this.getSbList();
    this.getZl();
    this.getXMDM();
    this.getlistFz();
    this.getAllCompany();
  },
  methods: {
    changeList(val, item) {
      if (val.length > 1) {
        this.$Message.error("只能选择一个企业！");
        return;
      }
      this.$set(this.form, "compName", item.sydwmc);
      // this.$refs.table.toggleSelect(index);
      this.$set(item, "_checked", "false");
      console.log(item);
    },
    // 作业种类
    async getZl() {
      let res = await this.$fetch.get("/api/workOrder/listWorkType");
      this.zlList = res.data;
    }, // 作业种类
    async getlistFz() {
      let res = await this.$fetch.get("/api/workOrder/listTestOrg");
      this.listFz = res.data;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNum = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },
    async getAllCompany() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3", {
        params: this.query1
      });
      this.data2 = res.data.result;
      
      // this.query1.total = res.data.result.total;
    },
    async changePageNo1(val) {
      this.query1.pageNo = val;
      await this.getAllCompany();
      if (this.form.compName) {
        for (let f of this.data2) {
          if (this.form.compName == f.sydwmc) {
            this.$set(f, "_checked", true);
          }
        }
      }
    },
    changePageSize1(val) {
      this.query1.pageSize = val;
      this.getAllCompany();
    },
    rowClick(row) {
      // console.log(row);
      // this.show222 = false;
      this.$set(this.form, "compUsci", row.sydwid);
      // this.$set(this.form,'orgName',row.sydwmc)
    },
    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("/api/workOrder/listWorkOrder", {
        params: this.query
      });
      this.data1 = res.data.list;
      this.query.total = res.data.totalPage;
      this.loading = false;
    },
    // 获取详情
    async getDetail(id) {
      let res = await this.$fetch.get("/api/workOrder/getWorkPeople", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    }, // 获取详情
    async saveCompany(id) {
      this.buttonShow = true;
      let det = this.$refs.table.getSelection();
      console.log(det);
      if (det.length > 1) {
        this.$Message.error("只能选择一个企业！");
        return;
      } else if (det.length == 0) {
        this.$Message.error("请选择企业！");
        return;
      }
      let res = await this.$fetch.put(
        "/api/workOrder/updateByCompAndPeople?id=" +
          this.form.id +
          "&compUsci=" +
          det[0].zzjgdm
      );
      if (res.data.success) {
        this.show222 = false;
        this.$Message.success("保存成功！");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
      this.buttonShow = false;
    },
    async getXMDM() {
      let res = await this.$fetch.get("/api/workOrder/listJobProjectCode");
      this.xmdmList = res.data;
    },
    select(value, item) {
      if (item.number == 1) {
        this.query.usci = item.ufci;
        this.query.sblx = "";
      } else if (item.number == 2) {
        this.query.usci = item.ucsi;
        this.query.sblx = item.id;
      }
      this.getSbList();
    },
    openFile() {
      document.getElementById("file").click();
    },
    showTitle(id) {
      //  this.numList = 1;
      // if(num == 1){
      //     this.title = '新增';
      //     this.edit = {};
      //     this.show = true;
      // }else{
      this.title = "详情";
      this.show = true;
      // }
      // if(y){
      //     this.numList = 0;
      // }
      // this.showList = true;
      this.getDetail(id);
    }
  }
};
</script>

<style lang="scss">
.paddingTable {
}
</style>
<style lang='scss' scoped>
.left:hover {
  overflow-y: scroll;
  transition: all 0.5s;
}
.logo-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
/*.ivu-tabs-content{*/
/*height: 100%;*/
/*}*/
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.25;
    font-size: 14px;
    color: #87888b;
    margin-right: 10px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.16;
  }
  .right {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1px;
    .mid {
      margin-top: 10px;
      flex: 1;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
