<template>
  <div class="bg">
    <div class="title">
      <div class="left">
        <div class="left-top">
          <h5>金湖县特种设备安全监察信息管理平台</h5>
          <div>JIN HU XIAN TE ZHONG SHE BEI AN QUAN JIAN CHA XIN XI GUAN LI PING TAI</div>
        </div>
        <div class="left-bot">监管端</div>
      </div>
      <div class="right">
        <div class="right-top">欢迎登录</div>
        <div class="right-mid">
          <div class="rm-list">
            <img src="../../../static/User@2x.png" />
            <input type="text" placeholder="请输入账号" @keyup.enter="login" v-model.trim="username" />
          </div>
          <div class="rm-list">
            <img src="../../../static/Key@2x.png" />
            <input type="password" placeholder="请输入密码" @keyup.enter="login" v-model.trim="password" />
          </div>
        </div>
        <div class="right-bot">
          <span @click="login">登录</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  components: {},
  data() {
    return {
      VerificationImg: "",
      username: "",
      password: "",
      randomString: ""
    };
  },
  mounted() {
    // this.imgUrls();
  },
  methods: {
    //获取验证码
    clickVerification() {
      this.imgUrls();
    },
    async imgUrls() {
      let aw = await this.$fetch.get("gunsApi/capt/captcha", {
        responseType: "arraybuffer"
      });
      // 转换成bsae64
      this.VerificationImg =
        "data:image/png;base64," +
        btoa(
          new Uint8Array(aw.data).reduce(
            (data, byte) => data + String.fromCharCode(byte),
            ""
          )
        );
    },
    async login() {
      if (this.username && this.password) {
        let res = await this.$fetch.post("/api/sys/login?userType=1", {
          username: this.username,
          password: this.password
        });
        if (res.data.success) {
          sessionStorage.setItem("token", res.data.result.token);
          sessionStorage.setItem("setActiveId", "1-1");
          sessionStorage.setItem("userinfo", res.data.result.userInfo.username);
          this.$store.commit("user/setUserInfo", {
            nickname: res.data.result.userInfo.username,
            token: res.data.result.token
          });
          this.$Message.success({
            content: "登录成功"
          });
          setTimeout(() => {
            this.$router.push("/");
          }, 500);
        } else {
          this.$Message.error(res.data.message);
        }
      } else {
        this.$Message.warning("请输入用户名或密码");
      }
      // this.$Message.success({
      //   content: "登录成功",
      // });
      // setTimeout(() => {
      //   this.$router.push("/");
      // }, 500);

      // if (this.username && this.password && this.randomString) {
      // this.$service.account
      //   .login({ username: this.username, password: this.password,randomString: this.randomString})
      //   .then(res => {
      // if (res.data.code  == '200') {
      // sessionStorage.setItem('setActiveId','1-1');
      // this.$store.commit("user/setUserInfo", {
      //   nickname: res.data.data.userName,
      //   token : res.data.data.token,
      //   account : res.data.data.account
      // });
      // } else this.$Message.error(res.data.message);this.imgUrls();this.password = '';this.randomString = '';
      // });
      // } else {
      //   this.$Message.warning("请输入用户名或密码");
      // }
    }
  }
};
</script>

<style scoped lang="scss">
.title {
  background: url("../../../static/bg1.png") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  font-family: "微软雅黑";
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .left-top {
      color: #fefefe;
      text-align: center;
      margin-top: 10%;
      h5 {
        font-size: 48px;
      }
      div {
        font-size: 21px;
      }
    }
    .left-bot {
      color: #fff;
      margin-top: 10%;
      font-size: 80px;
    }
  }
  .right {
    flex: 0.4;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    .right-top {
      font-size: 30px;
      margin-top: -20px;
      margin-bottom: 20px;
      align-self: center;
      color: #333333;
      position: relative;
      text-align: center;
      padding-bottom: 4px;
      // margin: 0 auto;
      &::after {
        display: block;
        position: absolute;
        content: "";
        height: 4px;
        width: 120px;
        left: 0%;
        bottom: 0;
        background: #4485f3;
      }
    }
    .right-mid {
      margin-top: 30px;
      .rm-list {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 33px;
        padding-bottom: 12px;
        img {
          max-width: 25px;
          margin-right: 10px;
          margin-left: 10px;
        }
        input {
          border: none;
          flex: 1;
          outline: none;
          font-size: 18px !important;
        }
        &:after {
          display: block;
          position: absolute;
          content: "";
          height: 1px;
          width: 80%;
          bottom: 1px;
          right: 9%;
          background: #666666;
        }
      }
    }
    .right-bot {
      padding: 0 60px;
      margin-top: 60px;
      span {
        background: #4485f3;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: #fff;
        letter-spacing: 10px;
        padding: 6px 0;
      }
    }
    .rm-list:last-child {
      margin-top: 30px;
    }
  }
}
.bg {
  height: 100vh;
  position: relative;
  // padding: 120px 96px;
  padding: 10% 3%;
  overflow: hidden;
  background: url("../../../static/20190523190329.jpg") no-repeat;
  background-size: 100% 100%;
  .login {
    border-radius: 10px;
    box-shadow: 5px 5px 20px #ccc;
    border: 1px solid #eee;
    background: -webkit-linear-gradient(#eaf7fb, #fff);
    background: -o-linear-gradient(#eaf7fb, #fff);
    background: linear-gradient(#eaf7fb, #fff);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10%;
    top: calc(50% - 200px);
    .myinput {
      margin-top: 40px;
    }
    .Verification {
      height: 30px;
      display: flex;
      margin-left: 42%;
      margin-top: -8%;
      cursor: pointer;
    }
    .welcome {
      margin-top: 10%;
      font-size: 16px;
    }
  }
  .login_top {
    height: 27px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    left: 10%;
    top: 4%;
    .login_top img {
      height: 27px;
    }
  }
  .login_main {
    width: 100%;
    height: 100%;
    position: relative;
    top: 10%;
    background-color: #2b85e4;
    .img1 {
      width: 75%;
      // height: 75%;
      position: absolute;
      left: 5%;
      top: 5%;
      max-width: 100%;
    }
    .img2 {
      width: 63%;
      // height: 75%;
      position: absolute;
      left: 5%;
      top: 5%;
      max-width: 100%;
    }
  }
  .copyright {
    font-size: 14px;
    width: 100px;
    text-align: center;
    position: absolute;
    left: calc(50% - 50px);
    bottom: 50px;
  }
}
</style>
<style>
input::-webkit-input-placeholder {
  color: #333 !important;
  font-size: 15px;
}
input::-moz-input-placeholder {
  color: #333 !important;
  font-size: 15px;
}
input::-ms-input-placeholder {
  color: #333 !important;
  font-size: 15px;
}
</style>
