<template>
  <div class="containl">
    <!--<div class="top">-->
      <!--<div class="item mr10">-->
        <!--<h5 class="title">实时图像</h5>-->
        <!--<img class="topImg" src="../../../static/ssImg.png">-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<h5 class="title">放大图片</h5>-->
        <!--<img class="topImg" src="../../../static/sstx.png">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="bot">-->
      <!--<div class="item mr10">-->
        <!--<h5 class="title">人像列表</h5>-->
        <!--<ul class="headItem">-->
          <!--<li>-->
            <!--<img src="../../../static/boy.jpg" />-->
            <!--<span>12:00</span>-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="../../../static/djzb.jpg" />-->
            <!--<span>12:00</span>-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="../../../static/djzb.jpg" />-->
            <!--<span>12:00</span>-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="../../../static/djzb.jpg" />-->
            <!--<span>12:00</span>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<h5 class="title">&nbsp;</h5>-->
      <!--</div>-->
    <!--</div>-->
    <div class="top">
      <Input suffix="ios-search" placeholder="请输入姓名" style="width: 180px" />
      <Input suffix="ios-search" placeholder="请输入联系电话" style="width: 180px" />
      <Select style="width: 180px" placeholder="请选择人员类型">
        <Option>安全管理员</Option>
        <Option>水处理人员</Option>
        <Option>作业人员</Option>
      </Select>
      <Button type="primary" icon="ios-search">查询</Button>
      <Button type="error" icon="md-add" @click.native='show = true'>新增</Button>
    </div>
    <Table style="margin-top: 10px;" width="100%" border :columns="columns4" :data="data3"></Table>
  </div>
</template>

<script>
    export default {
        name: "rl_sfrz",
      data(){
          return{
            columns4:[
              {
                type: 'index',
                width: 80,
                align: 'center',
                title:'序号',
              },
              {
                title: '姓名',
                key: 'a',
                align:'center',
              },
              {
                title: '公司名称',
                key: 'e',
                align:'center',
              },
              {
                title: '证照类别',
                key: 'c',
                align:'center',
              },{
                title: '性别',
                key: 'd',
                align:'center',
              },
              {
                title: '联系方式',
                key: 'b',
                align:'center',
              },
              {
                title: '操作证图片',
                key: 'f',
                fixed: 'right',
                align:'center',
                width:200,
                render: (h, params) => {
                  return h('div', [
                    h('img', {
                      style: {
                        width:'80px',
                        height:'61px',
                        cursor: 'pointer',
                      },
                      attrs:{
                        'src':'/static/boy.jpg',
                        // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                      },
                      on: {
                        click: (e) => {
                          this.src = e.srcElement.currentSrc;
                          this.show2 = true;
                        }
                      }
                    }),
                  ])
                }
              },

            ],
            data3:[
              {
                a: '陈伟',
                b: '1385172312',
                c: '操作证	',
                d: '女',
                e:'淮安蓝星塑料器械开发有限公司',
                f:'../../static/20190521223419.jpg',
                g:'气瓶',
              },
              {
                a: '张斌',
                b: '1385172312',
                c: '操作证	',
                d: '女',
                e:'淮安蓝星塑料器械开发有限公司',
                g:'电梯',
              },
              {
                a: '王伟',
                b: '1385172312',
                c: '操作证	',
                d: '女',
                e:'淮安蓝星塑料器械开发有限公司',
                g:'锅炉',
              },
            ],
          }
      }
    }
</script>

<style lang="scss" scoped>
  .containl{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /*.top{*/
      /*flex: .5;*/
      /*display: flex;*/
    /*}*/
    /*.bot{*/
      /*flex: .5;*/
      /*display: flex;*/
    /*}*/
    .bot{
      margin-top: 10px;
    }
    .mr10{
      margin-right: 10px;
    }
    .item{
      flex: .5;
      display: flex;
      flex-direction: column;
      .title{
        color: #fff;
        font-size: 20px;
        background: #595660;
        padding: 2px 10px;
      }
      .topImg{
        flex: 1;
      }
      .headItem{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        li{
          width: 12.5%;
          height: 140px;
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            width: 100%;
            height: 120px;
            border: 1px solid #ddd;
          }
        }
      }
    }
  }
</style>
