<template>
  <Form :model="form" class="form" label-position="right" :label-width="200">
    <Row>
      <Col span="12">
      <FormItem label="设备代码：">
        <Input v-model="form.sbdm" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="设备类别：">
        <Input v-model="form.sblb" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="设备名称：">
        <Input v-model="form.sbmc" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="设备型号：">
        <Input v-model="form.sbxh" />
      </FormItem>
      </Col>
    </Row> <Row>
    <Col span="12">
    <FormItem label="注册登记机构代码：">
      <Input v-model="form.zcdjjqdm" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="注册登记机构名称：">
      <Input v-model="form.zcdjjqmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="注册登记人员：">
      <Input v-model="form.zcdjry" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="注册登记日期：">
      <Input v-model="form.zcdjrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="注册更新日期：">
      <Input v-model="form.zcgxrq" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="使用证编号：">
      <Input v-model="form.syjbh" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="登记表编号：">
      <Input v-model="form.djbbh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="设备注册代码：">
      <Input v-model="form.sbzcdm" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="注册状态：">
      <Input v-model="form.zczt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="发证机构：">
      <Input v-model="form.fzjq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="发证类型：">
      <Input v-model="form.fzlx" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="发证日期：">
      <Input v-model="form.fzrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="使用状态：">
      <Input v-model="form.syzt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="使用状态变更日期：">
      <Input v-model="form.syztbgrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="24">
    <FormItem label="是否重点监控：">
      <Input v-model="form.sfzdjk" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="最新监察业务状态：">
      <Input v-model="form.zxjqywzt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="使用单位名称：">
      <Input v-model="form.sydwmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="所在地区代码：">
      <Input v-model="form.dqdm" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="部门名称：">
      <Input v-model="form.bmmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="部门所在地地址：">
      <Input v-model="form.bmdz" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="组织机构代码证：">
      <Input v-model="form.zzjgdmz" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="使用单位地址：">
      <Input v-model="form.sydwdz" />
    </FormItem>
    </Col>
    <Col span="12">
      <FormItem label="使用单位邮政编码：">
      <Input v-model="form.sydwfdfr" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="使用单位法定代表人：">
      <Input v-model="form.a" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="邮箱：">
      <Input v-model="form.email" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="所属行业代码：">
      <Input v-model="form.sshydm" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="使用单位联系人：">
      <Input v-model="form.sydwxxr" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="使用单位联系电话：">
      <Input v-model="form.sydwlxdh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="设备单位内部编号：">
      <Input v-model="form.sbdwnbh" />
    </FormItem>
    </Col>
  </Row><Row>
    <Col span="12">
    <FormItem label="设备单位内地点：">
      <Input v-model="form.sbdwndd" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="安全管理部门：">
      <Input v-model="form.aqglbm" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="安全管理人员：">
      <Input v-model="form.aqgllxr" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="安全管理人员联系电话：">
      <Input v-model="form.aqglxxdh" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="安全管理人员手机：">
      <Input v-model="form.agrsj" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="经办人：">
      <Input v-model="form.jbr" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="经办人电话：">
      <Input v-model="form.jbrdh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="经办人手机：">
      <Input v-model="form.jbrsj" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="设备用途 ：">
      <Input v-model="form.sbyt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="制造单位 ：">
      <Input v-model="form.zzdwmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="组织机构代码证：">
      <Input v-model="form.zzdwjgdm" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="制造单位联系电话 ：">
      <Input v-model="form.zzdwxxdh" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="资格证书名称：">
      <Input v-model="form.zgzsmc" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="产品质量证明书编号：">
      <Input v-model="form.zzxkzh" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="产品监检证书编号 ：">
      <Input v-model="form.cpjyzsbh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="是否进口 ：">
      <Input v-model="form.sfjk" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="制造国家：">
      <Input v-model="form.zzgj" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="制造日期 ：">
      <Input v-model="form.zzrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="24">
    <FormItem label="安装单位名称：">
      <Input v-model="form.azdwmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="组织机构代码证：">
      <Input v-model="form.azdwdm" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="安装许可证编号：">
      <Input v-model="form.azxkzh" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="告知受理编号：">
      <Input v-model="form.gzslbh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="安装项目负责人：">
      <Input v-model="form.zzlxr" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="安装项目负责人联系电话：">
      <Input v-model="form.zzlxdh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="运行速度(m/s)：">
      <Input v-model="form.yxsd" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="额定载荷（kg）：">
      <Input v-model="form.edzzl" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="电梯站数 ：">
      <Input v-model="form.dizs" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="电梯层数 ：">
      <Input v-model="form.dics" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="电梯门数 ：">
      <Input v-model="form.dtcms" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="控制方式 ：">
      <Input v-model="form.kzfs" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="检验员：">
      <Input v-model="form.jyymc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="拖动方式 ：">
      <Input v-model="form.tdfs" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="电梯轿门数：">
      <Input v-model="form.dtjms" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="开门方式 DQKMFS：">
      <Input v-model="form.dqkmfs" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="检验性质 ：">
      <Input v-model="form.jyxz" />
    </FormItem>
    </Col>
  </Row>  <Row>
    <Col span="12">
    <FormItem label="检验责任主体机构名称：">
      <Input v-model="form.jyjgmc" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="检验部门  ：">
      <Input v-model="form.jybmmc" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="内部（全面）检验日期：">
      <Input v-model="form.nbjyrq" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="内部（全面）下次检验日期  ：">
      <Input v-model="form.nbxcjyrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
      <FormItem label="内部（全面）报告书编号：">
      <Input v-model="form.nbbgsbh" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="最后修改时间：">
      <Input v-model="form.lastdateprocedate" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
      <FormItem label="运行速度（m/s）：">
        <Input v-model="form.yxsd1" />
      </FormItem>
    </Col><Col span="12">
      <FormItem label="额定载荷（kg）：">
        <Input v-model="form.edzzl1" />
      </FormItem>
    </Col>
  </Row> <Row>
    <Col span="24">
      <FormItem label="电梯站数 ：">
        <Input v-model="form.dizs1" />
      </FormItem>
    </Col>
  </Row>
  </Form>
</template>

<script>
  export default {
    name: "guolu",
    props:{
      form:Object
    }
  }
</script>

<style scoped>

</style>
