<template>
  <Form :model="form" ref="form" class="form"  label-position="right" :label-width="140">
    <Row>
      <Col span="12">
        <FormItem label="设备名称：" >
          <label slot='label'><span style="color:red">*</span>设备名称：</label>
          <Input v-model="form.sbmc" :disabled='disabled'/>
        </FormItem>
      </Col>
     
      <Col span="12">
        <FormItem label="设备种类：" :rules="{required: true, message: '请输入设备类别 '}">
          <Input v-model="form.sblb" :disabled='disabled'/>
        </FormItem>
      </Col>
      
    </Row>
    <!-- <Row> -->
      <!-- <Col span="12">
        <FormItem label="设备名称：" :rules="{required: true, message: '请输入设备名称'}">
          <Input v-model="form.sbmc" :disabled='disabled'/>
        </FormItem>
      </Col> -->
      <!-- <Col span="12">
        <FormItem label="设备型号：" :rules="{required: true, message: '请输入设备型号'}">
          <Input v-model="form.sbxh" :disabled='disabled'/>
        </FormItem>
      </Col> -->
    <!-- </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="注册登记机构代码：">
          <Input v-model="form.zcdjjqdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="注册登记机构名称：">
          <Input v-model="form.zcdjjqmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row> -->
      <!-- <Col span="12">
        <FormItem label="注册登记人员：">
          <Input v-model="form.zcdjry" :disabled='disabled'/>
        </FormItem>
      </Col> -->
       
    <Row>
      <Col span="12">
        <FormItem label="制造单位 ：">
          <Input v-model="form.zzdwmc" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备代码：" >
          <label slot='label'><span style="color:red">*</span>设备代码：</label>
          <Input v-model="form.sbdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备注册代码：">
          <Input v-model="form.sbzcdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      
      <Col span="12">
        <FormItem label="注册状态：">
          <Input v-model="form.zczt" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
     <Row>
       <Col span="12">
        <FormItem label="使用状态：">
          <Input v-model="form.syzt" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12" style="border-right: 1px solid #333;" >
        <FormItem label="注册登记日期：">
          <el-date-picker
            v-model="form.zcdjrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
            :disabled="disabled"
          ></el-date-picker>
        </FormItem>
      </Col>
      
    </Row>
    <!-- <Row>
      <Col span="12">
        <FormItem label="注册更新日期：">
          <el-date-picker
            v-model="form.zcgxrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用证编号：">
          <Input v-model="form.syjbh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="登记表编号：">
          <Input v-model="form.djbbh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="设备注册代码：">
          <Input v-model="form.sbzcdm" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="注册状态：">
          <Input v-model="form.zczt" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用状态：">
          <Input v-model="form.syzt" :disabled='disabled'/>
        </FormItem>
      </Col>
    </!--> 
    <!-- <Row>
      <Col span="12">
        <FormItem label="发证类型：">
          <Input v-model="form.fzlx" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="发证日期：">
          <el-date-picker
            v-model="form.fzrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="使用状态：">
          <Input v-model="form.syzt" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用状态变更日期：">
          <el-date-picker
            v-model="form.syztbgrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="是否重点监控：">
          <Input v-model="form.sfzdjk" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem style="border-right: 1px solid #ddd;" label="设备坐标：" prop="address">
          <Input style="width: 70%;" v-model="form.zb" :disabled='disabled'/>
          <Button v-if="title != '详情'" @click="initMap">查询</Button>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="最新监察业务状态：">
          <Input v-model="form.zxjqywzt" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位名称：" :rules="{required: true, message: '请输入设备型号'}">
          <Input v-model="form.sydwmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="所在地区代码：">
          <Input v-model="form.dqdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="部门名称：">
          <Input v-model="form.bmmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row> -->
    <!-- <Row>
      <Col span="12">
        <FormItem label="部门所在地地址：">
          <Input v-model="form.bmdz" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.zzjgdmz" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row> -->
    <Row v-if="!disabled">
      <Col span="12">
        <FormItem label="使用地点：" >
          <label slot='label'><span style="color:red">*</span>使用地点：</label>
          <Input v-model="form.sydwdz" @on-change="changeDz" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem  >
          <label slot='label'><span style="color:red">*</span>设备坐标：</label>
          <Input style="width: 70%;" v-model="form.zb" :disabled='disabled'/>
          <Button v-if="title != '详情'" @click="initMap">查询</Button>
        </FormItem>
      </Col>
      <!-- <Col span="12">
        <FormItem label="使用单位邮政编码：">
          <Input v-model="form.sydwyzbm" :disabled='disabled'/>
        </FormItem>
      </Col> -->
    </Row>
    <Row v-if="disabled">
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem label="外部检验日期：">
          <el-date-picker
            v-model="form.wbjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
            :disabled='!disabled'
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="外部检验结论：">
          <Input v-model="form.wbjyjl" :disabled='!disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row v-if="disabled">
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem label="外部检验有效期：">
          <el-date-picker
            v-model="form.wbxcjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
            :disabled='!disabled'
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem label="内部检验日期：">
          <el-date-picker
            v-model="form.nbjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
            :disabled='!disabled'
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row v-if="disabled">
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem label="内部下次检验日期：">
          <el-date-picker
            v-model="form.nbxcjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
            :disabled='!disabled'
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="内部检验结论：">
          <Input v-model="form.nbjyjl" :disabled='!disabled'/>
        </FormItem>
      </Col>
    </Row>
    <!-- <Row>
      <Col span="12">
        <FormItem label="使用单位法定代表人：">
          <Input v-model="form.sydwfdfr" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="邮箱：">
          <Input v-model="form.email" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="所属行业代码：">
          <Input v-model="form.sshydm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位联系人：">
          <Input v-model="form.sydwxxr" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem label="使用单位联系电话：">
          <Input v-model="form.sydwlxdh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem label="设备单位内部编号：">
          <Input v-model="form.sbdwnbh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备单位内地点：">
          <Input v-model="form.sbdwndd" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理部门：">
          <Input v-model="form.aqglbm" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="安全管理人员：">
          <Input v-model="form.aqgllxr" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安全管理人员联系电话：">
          <Input v-model="form.aqglxxdh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="安全管理人员手机：">
          <Input v-model="form.agrsj" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="经办人：">
          <Input v-model="form.jbr" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="经办人电话：">
          <Input v-model="form.jbrdh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="经办人手机：">
          <Input v-model="form.jbrsj" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设备用途 ：">
          <Input v-model="form.sbyt" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造单位 ：">
          <Input v-model="form.zzdwmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.zzdwjgdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造单位联系电话 ：">
          <Input v-model="form.zzdwxxdh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="资格证书名称：">
          <Input v-model="form.zgzsmc" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="产品质量证明书编号：">
          <Input v-model="form.zzxkzh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="产品监检证书编号 ：">
          <Input v-model="form.cpjyzsbh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="是否进口 ：">
          <Input v-model="form.sfjk" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="制造国家：">
          <Input v-model="form.zzgj" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="制造日期 ：">
          <el-date-picker
            v-model="form.zzrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="24">
        <FormItem label="安装单位名称：">
          <Input v-model="form.azdwmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="组织机构代码证：">
          <Input v-model="form.azdwdm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安装许可证编号：">
          <Input v-model="form.azxkzh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="告知受理编号：">
          <Input v-model="form.gzslbh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="安装项目负责人：">
          <Input v-model="form.zzlxr" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设计工作压力：">
          <Input v-model="form.sjgzyl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="额定蒸发量：">
          <Input v-model="form.edzfl" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="许可使用压力：">
          <Input v-model="form.edyl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="加热方式 ：">
          <Input v-model="form.jrfs" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="燃料种类 ：">
          <Input v-model="form.rszl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="燃烧方式 ：">
          <Input v-model="form.rsfs" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="水处理方式：">
          <Input v-model="form.sclfs" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="锅筒工作压力：">
          <Input v-model="form.jtgzyl" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="过热器出口压力：">
          <Input v-model="form.grqckyl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="过热器出口温度：">
          <Input v-model="form.grqckwd" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="回水温度 ：">
          <Input v-model="form.hswd" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="出水温度 ：">
          <Input v-model="form.cswd" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="允许工作温度：">
          <Input v-model="form.xxggwd" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="额定出口温度：">
          <Input v-model="form.edwd" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="设计压力 ：">
          <Input v-model="form.sjyl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="工作压力 ：">
          <Input v-model="form.gzyl" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="工作温度 ：">
          <Input v-model="form.gzwd" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="额定热功率：">
          <Input v-model="form.edrgl" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验性质 ：">
          <Input v-model="form.jyxz" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验责任主体机构名称：">
          <Input v-model="form.jyjgmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验部门  ：">
          <Input v-model="form.wbjybm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验员：">
          <Input v-model="form.wbjyry" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="内部（全面）检验结论 ：">
          <Input v-model="form.nbjyjl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="内部（全面）检验日期：">
          <el-date-picker
            v-model="form.nbjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="内部（全面）下次检验日期  ：">
          <el-date-picker
            v-model="form.nbxcjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="内部（全面）报告书编号：">
          <Input v-model="form.nbbgsbh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验部门：">
          <Input v-model="form.wbjybm" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="检验员：">
          <Input v-model="form.wbjyry" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="报告书编号 ：">
          <Input v-model="form.wbbgsbh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="外部（年度）检验结论：">
          <Input v-model="form.wbjyjl" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="外部（年度）检验日期 ：">
          <el-date-picker
            v-model="form.wbjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="外部（年度）下次检验日期 ：">
          <el-date-picker
            v-model="form.wbxcjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验部门：">
          <Input v-model="form.jybmmc" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="报告书编号：">
          <Input v-model="form.wbbgsbh" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验日期：">
          <el-date-picker
            v-model="form.snyjyrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="下次检验日期：">
          <el-date-picker
            v-model="form.snyxjrq"
            type="date"
            value-format="yyyy-MM-dd"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
        <FormItem label="检验结论  ：">
          <Input v-model="form.snyjyjl" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="最后修改时间：">
          <el-date-picker
            v-model="form.lastdateprocedate"
            type="datetime"
            value-format="yyyy-MM-dd HH:mm:ss"
            style="width: 100%;"
            
          ></el-date-picker>
        </FormItem>
      </Col>
    </Row> -->
    <Row v-if="!disabled">
      <Col span="12">
        <FormItem label="内部编号 ：">
          <Input v-model="form.sbdwnbh" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="使用单位名称：" :rules="{required: true, message: '请输入设备型号'}">
          <Input v-model="form.sydwmc" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Row class="deffffff" v-if="!disabled" v-for="(list,index) in videoList" :key="index">
      <Col span="12">
        <FormItem label="视频IP  ：">
          <Input v-model="videoList[index].vip" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12" style="border-right: 1px solid #333;">
        <FormItem label="视频端口：" style="border-right: 1px solid #ddd;">
          <Input v-model="videoList[index].vport" style="width: 60%;" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vaccount" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12" style="display: none">
        <FormItem label="视频账号：" class="tbNone">
          <Input v-model="videoList[index].vid" :disabled='disabled'/>
        </FormItem>
      </Col>
      <Col span="12">
        <FormItem label="视频密码：" class="tbNone">
          <Input v-model="videoList[index].vpassword" :disabled='disabled'/>
        </FormItem>
      </Col>
    </Row>
    <Modal v-model="modal9" title="地图" width="1000">
      <div>
        坐标：
        <Input v-model="form.zb" style="width: 200px;margin-bottom: 10px;" :disabled='disabled'/>
      </div>
      <div id="map" style="height: 500px;"></div>
    </Modal>
  </Form>
</template>

<script>
export default {
  name: "guolu",
  props: {
    form: Object,
    type: String,
    title: String,
    addSure: Number,
    disabled:Boolean
  },
  data() {
    return {
      modal9: false,
      edit: {},
      map:'',
      marker:'',
      videoList: [{}],
      ruleValidate: {
        address: [
          {
            required: true,
            message: "The name cannot be empty",
            trigger: "blur"
          }
        ]
      },
      sblxItem: [],
      syztList: []
    };
  },
  watch: {
    addSure(val) {
      console.log(val);
      this.saveGl();
    },
    form(val) {
      if (val.videoList) {
        this.videoList = val.videoList;
      }
    }
  },
  created() {
    this.form.zzjgdmz = this.$store.state.user.compId;
    this.getSyzt();
    this.getSbLx();
    switch (this.type) {
        // 锅炉
        case "SB1000":
          // this.form.sblb='锅炉'
          this.$set(this.form,'sblb','锅炉')
          break;
        //压力容器
        case "SB2000":
          this.$set(this.form,'sblb','压力容器')
          // this.form.sblb='压力容器'
          break;
        case "SB3000":
          // this.form.sblb='电梯'
          this.$set(this.form,'sblb','电梯')
          break;
        case "SB4000":
          this.$set(this.form,'sblb','起重机械')
          // this.form.sblb='起重机械'
          break;
        case "SB5000":
          // this.form.sblb='厂车'
          this.$set(this.form,'sblb','厂车')
          break;
        case "SB6000":
          // this.form.sblb='游乐设施'
          this.$set(this.form,'sblb','游乐设施')
          break;
        //压力管道
        case "SB8000":
          // this.form.sblb='游乐设施'
          this.$set(this.form,'sblb','游乐设施')
          break;
      }
  },
  methods: {
    addNew() {
      this.videoList.push({
        vid: this.videoList[0].vid,
        vdeviceId: this.videoList[0].vdeviceId
      });
    },
    remove(index) {
      this.videoList.splice(index, 1);
    },
    changeDz(val) {
      let _this = this;
      if (this.form.sydwdz) {
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(
          _this.form.sydwdz,
          function(point) {
            if (point) {
              // map.centerAndZoom(point, 16);
              // map.addOverlay(new BMap.Marker(point));
              _this.form.zb = point.lng + "," + point.lat;
              _this.$set(_this.form, "longitude", point.lng);
              _this.$set(_this.form, "latitude", point.lat);
              // var maker2 = new BMap.Icon(
              //   "../../static/green.jpg",
              //   new BMap.Size(30, 34)
              // );
              // var marker = new BMap.Marker(
              //   new BMap.Point(_this.form.longitude, _this.form.latitude),
              //   { icon: maker2 }
              // ); // 创建标注

              // _this.map.addOverlay(marker);
              // _this.marker
              console.log(_this.marker);
            } else {
              alert("您选择地址没有解析到结果!");
            }
          },
          "常州市"
        );
      }
    },
    initMap() {
      let _this = this;
      this.modal9 = true;
      _this.map = new BMap.Map("map");
      _this.map.centerAndZoom("南京", 12);
      //单击获取点击的经纬度
      _this.map.addEventListener("click", function(e) {
        _this.$set(_this.form, "zb", e.point.lng + "," + e.point.lat);
      });
      _this.opts = {
        width: 250, // 信息窗口宽度
        height: 250, // 信息窗口高度
        enableMessage: true //设置允许信息窗发送短息
      };
      if (!this.form.zb) {
        return;
      } else {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      var maker2 = new BMap.Icon(
        "../../static/green.jpg",
        new BMap.Size(30, 34)
      );
      _this.marker = new BMap.Marker(
        new BMap.Point(_this.form.longitude, _this.form.latitude),
        { icon: maker2 }
      ); // 创建标注
      _this.map.addOverlay(_this.marker); // 将标注添加到地图中
      setTimeout(() => {
        if (this.form.zb) {
          let s = {
            lng: this.form.zb.split(",")[0],
            lat: this.form.zb.split(",")[1]
          };
          // map.centerAndZoom(new BMap.Point(s.lng, s.lat), 12);
         _this.map.panTo(new BMap.Point(s.lng, s.lat));
        }
      }, 200);
    },
    async saveGl() {
      let res = "";

      let detNum = 0;
      this.$refs['form'].validate((valid) => {
          if (valid) {
            detNum = 0;
          } else {
            detNum++;
          }
      })
      if(detNum > 0){
        this.$Message.error('请填写完整信息!');
        return
      }
      if (this.form.zb) {
        this.form.latitude = this.form.zb.split(",")[1];
        this.form.longitude = this.form.zb.split(",")[0];
      }
      this.form.videoList = this.videoList;
      if (this.title == "新增") {
        res = await this.$fetch.post(
          "glxx/addGlxx?address=" +
            this.form.sydwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type,
          this.form
        );
      } else {
        res = await this.$fetch.put(
          "glxx/updateGlxx?address=" +
            this.form.sydwdz +
            "&latitude=" +
            this.form.latitude +
            "&longitude=" +
            this.form.longitude +
            "&type=" +
            this.type +
            "&id=" +
            this.form.fid,
          this.form
        );
      }
      if (res.data.success) {
        this.$emit("success", true);
      } else {
        this.$emit("success", false);
      }
    },
    //设备类型字典
    async getSbLx() {
      let res = await this.$fetch.get("index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    // 使用状态字典
    async getSyzt() {
      let res = await this.$fetch.get("index/getIsUsingDict");
      this.syztList = res.data.result;
    }
  }
};
</script>

<style scoped>
</style>
