<template>
  <Form :model="form" class="form" label-position="right" :label-width="200">
    <Row>
      <Col span="12">
      <FormItem label="使用单位ID：">
        <Input v-model="form.gdgcid" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="汇总表编号：">
        <Input v-model="form.hzbbh" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="使用证编号：">
        <Input v-model="form.syzbh" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="工程装备名称：">
        <Input v-model="form.gczzmc" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="设备类别 ：">
        <Input v-model="form.sblb" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="使用单位名称：">
        <Input v-model="form.sydwmc" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="使用单位地区代码 ：">
        <Input v-model="form.dqdm" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="使用单位地址：">
        <Input v-model="form.dwdz" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="组织机构代码：">
        <Input v-model="form.zzjgdm" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="管道单元数（条）：">
        <Input v-model="form.gddys" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="管道总长度（m）：">
        <Input v-model="form.gdzcs" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="安全管理部门	：">
        <Input v-model="form.agbmmc" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="部门负责人：">
        <Input v-model="form.mmfzr" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="安全管理人员：">
        <Input v-model="form.agrymc" />
      </FormItem>
      </Col>
    </Row>
    <Row>
      <Col span="12">
      <FormItem label="联系电话 ：">
        <Input v-model="form.aglxdh" />
      </FormItem>
      </Col>
      <Col span="12">
      <FormItem label="注册登记机构：">
        <Input v-model="form.zcdjjg" />
      </FormItem>
      </Col>
    </Row> <Row>
    <Col span="12">
    <FormItem label="注册登记人员：">
      <Input v-model="form.zcdjry" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="注册登记日期：">
      <Input v-model="form.zcdjrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="发证类型 ：">
      <Input v-model="form.fzlx" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="发证日期 ：">
      <Input v-model="form.fzrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="使用状态 ：">
      <Input v-model="form.syzt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="使用状态变更日期 ：">
      <Input v-model="form.bgrq" />
    </FormItem>
    </Col>
  </Row> <Row>
    <Col span="12">
    <FormItem label="注册状态 ：">
      <Input v-model="form.zczt" />
    </FormItem>
    </Col>
    <Col span="12">
    <FormItem label="最后修改时间：">
      <Input v-model="form.lastdateprocedate" />
    </FormItem>
    </Col>
  </Row>
  </Form>
</template>

<script>
  export default {
    name: "cncc",
    props:{
      form:Object
    }
  }
</script>

<style scoped>

</style>
