<template>
  <div id="app">
    <Header></Header>
    <!--<div style="height:calc(100vh -  70px);">-->
    <div style="flex:1;overflow:hidden;">
      <!--<Row style="display:flex;height:calc(100vh -  70px);">-->
      <Row style="display:flex;flex: 1;height: 100%;">
        <Col>
          <Left></Left>
        </Col>
        <Col style="width:100%;box-sizing:border-box;overflow: hidden;height: 100%;">
          <transition name="aaa">
            <router-view></router-view>
          </transition>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import { Header, Left } from "@/components";
export default {
  name: "app",
  data() {
    return {};
  },
  mounted() {},
  components: { Left, Header },
  created() {}
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aaa-enter-active {
  transition: transform 0.2s;
}
.aaa-leave-active {
  display: none;
  transition: transform 0s;
}
.aaa-enter {
  transform: translateX(-2000px);
}
</style>
