<template>
    <div class="content">
      <div class="top">
        <h5>金湖县锅炉安全与环保运行监控平台</h5>
      </div>
      <div class="main ">
        <!--<div class="pub" id="bigdata-main-map" style="width: 1000px;height:600px;display: flex;align-items: center;">-->

        <!--</div>-->
        <div class="m-t">
          <div class="mt-l">
            <div class="top-item flex pub">
              <div class="title">

              </div>
              <div id='sbTj' class="fl1 z999">

              </div>
            </div>
            <div class="bot-item flex pub">
              <div class="title">

              </div>
              <div id='zcqx' class="fl1 z999">

              </div>
            </div>
          </div>
          <div class="mt-m pub" id="bigdata-main-map">
            <div class="left">
              <div class="item">
                <h5></h5>
                <div></div>
              </div>
            </div>
            <div class="right">

            </div>
          </div>
          <div class="mt-r">
            <div class="top-item pub">

            </div>
            <div class="bot-item pub">

            </div>
          </div>
        </div>
        <div class="m-b ">

        </div>
      </div>
    </div>
</template>

<script>
  import echarts from 'echarts'
    export default {
      name: "big-data",
      data(){
        return{

        }
      },
      methods:{
        async sbTj(){
          let chart = echarts.init(document.getElementById('sbTj'));
          let option = {
            tooltip : {
              trigger: 'item',
              formatter: function (item) {
                let str = '';
                if(item.seriesName == '底图'){
                  return
                }else{
                  str += item.marker+item.seriesName + '：'+item.value+'%';
                }
                return str;
              }
            },
            calculable : true,
            series : [
              {
                name:'底图',
                type:'pie',
                selectedMode: 'single',
                radius: ['6%', '10%'],
                color:['#68CDFF'],
                hoverAnimation:false,
                label: {
                  normal: {
                    position: 'inner'
                  },
                  emphasis: {//对应的鼠标悬浮效果
                    show: true,
                    textStyle:{color:"#68CDFF"}
                  }
                },
                labelLine: {
                  normal: {
                    show: false
                  }
                },
                data:[
                  {value:335},
                ]
              },
              {
                name:'面积模式',
                type:'pie',
                radius : [30, 110],
                center : ['50%', '50%'],
                roseType : 'area',
                label: {
                  normal: {
                    // position:['-100,10],  // 设置标签位置，默认在饼状图外 可选值：'outer' ¦ 'inner（饼状图上）'
                    padding: [0, -30],
                    formatter: '{a}  {b|{d}%}',
                    rich: {
                      b: {
                        color: '#333',
                        fontSize: 12,
                        lineHeight: 1
                      }
                    }
                    // {a}指series.name  {b}指series.data的name
                    // {c}指series.data的value  {d}%指这一部分占总数的百分比
                  }
                },
                labelLine:{
                  normal:{
                    length2:30
                  }
                },
                data:[
                  {value:10, name:'rose1'},
                  {value:5, name:'rose2'},
                  {value:15, name:'rose3'},
                  {value:25, name:'rose4'},
                  {value:20, name:'rose5'},
                  {value:35, name:'rose6'},
                  {value:30, name:'rose7'},
                  {value:40, name:'rose8'}
                ]
              }
            ]
          };
          chart.setOption(option);
          //根据窗口的大小变动图表 --- 重点
          window.onresize = function(){
            chart.resize();
          }
        },
        async zcqx(){
          let chart = echarts.init(document.getElementById('zcqx'));
          let option = {
            grid:{
              top:'10%',
              bottom:'14%'
            },
            tooltip : {
              trigger: 'item',
            },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
              axisLine:{
                lineStyle:{
                  color:'#579ce5',
                  width:2,//这里是为了突出显示加上的

                }
              },

            },
            yAxis: {
              type: 'value',
              axisLine:{
                lineStyle:{
                  color:'#579ce5',
                  width:2,//这里是为了突出显示加上的
                  type:"arrow"
                },
                symbol:['none','arrow']
              },
              splitLine:{
                show:true,
                lineStyle:{
                  type:'dashed'
                }
              }
            },
            series: [{
              smooth:true,
              data: [820, 932, 901, 934, 1290, 1330, 1320],
              type: 'line',
              areaStyle: {},
              itemStyle: {
                normal: {   //颜色渐变函数 前四个参数分别表示四个位置依次为左、下、右、上
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                      offset: 0, color: '#023c7a' // 0% 处的颜色
                    }, {
                      offset: 1, color: '#0352a7' // 100% 处的颜色
                    }]
                  ),  //背景渐变色
                  lineStyle: {        // 系列级个性化折线样式
                    width: 3,
                    type: 'solid',
                    color: "#034093"
                  }
                },
              },//线条样式
            }]
          };
          chart.setOption(option);
          //根据窗口的大小变动图表 --- 重点
          window.onresize = function(){
            chart.resize();
          }
        }
      },
      mounted(){
        //设备数量统计
        this.sbTj();
        this.zcqx();
        // 3d
        // 容器
        var container,
          stats,
          // 控制器
          controls;
        var allSecne;
// 镜头
        var camera,
          moon,
          // 场景
          scene,
          labelRenderer,
          // 渲染
          renderer;
        var mouseX = 0, mouseY = 0;
        var width, height;
        init()
        animate();
        function init() {
          var MOON_RADIUS = 0.27;
          container = document.createElement( 'div' );
          if(!document.getElementById('bigdata-main-map')){
            return
          }
          document.getElementById('bigdata-main-map').appendChild( container );
          width = document.getElementById('bigdata-main-map').offsetWidth;
          height = document.getElementById('bigdata-main-map').offsetHeight;

          //创建一个一个视角
          camera = new THREE.PerspectiveCamera( 75, document.getElementById('bigdata-main-map').offsetWidth / document.getElementById('bigdata-main-map').offsetHeight, 0.1, 2000  );

          //设置视角离原点的位置（眼睛距离模型的距离）
          // camera.position.z =0;
          // camera.position.set(700,100,200)
          //控制器
          controls = new THREE.OrbitControls( camera );
          //设置旋转速度
          // controls.rotateSpeed = 3;
          controls.rotateSpeed =0.3;
          //上下翻转的最大角度
          controls.maxPolarAngle = 1.5;
          //上下翻转的最小角度
          controls.minPolarAngle = 0.3;
          // 使动画循环使用时阻尼或自转 意思是否有惯性
          controls.enableDamping = true;
          //是否可以缩放wrap
          controls.enableZoom = true;
          //是否自动旋转
          controls.autoRotate = false;
          //设置相机距离原点的最远距离
          controls.minDistance = 700;
          //设置相机距离原点的最远距离
          controls.maxDistance = 7000;
          //是否开启右键拖拽
          controls.enablePan = false;


          // scene

          scene = new THREE.Scene()
          // var axesHelper = new THREE.AxesHelper(5);
          // scene.add(axesHelper);

          // var ambientLight = new THREE.AmbientLight( 0xcccccc, 0.4 );
          // scene.add( ambientLight );
          //创建平行光
          var planeGeometry = new THREE.PlaneGeometry(100, 100);
          var planeMaterial = new THREE.MeshLambertMaterial({color: 0xaaaaaa});

          var plane = new THREE.Mesh(planeGeometry, planeMaterial);

          var directionalLight = new THREE.DirectionalLight(0xffffff);
          directionalLight.position.set(25, 17, -2);
          directionalLight.castShadow = true;
          directionalLight.target = plane
          directionalLight.shadow.camera.near = 2;
          directionalLight.shadow.camera.far = 40;
          directionalLight.shadow.camera.left = -20;
          directionalLight.shadow.camera.right = 20;
          directionalLight.shadow.camera.top = 20;
          directionalLight.shadow.camera.bottom = -20;
          scene.add(directionalLight);

          //显示光照区域
          var helper = new THREE.CameraHelper(directionalLight.shadow.camera );
          scene.add(helper);


          var pointLight = new THREE.PointLight( 0xffffff, 0.4 );
          camera.add( pointLight );
          scene.add( camera );



          // model  开始创建模型

          var onProgress = function ( xhr ) {

            if ( xhr.lengthComputable ) {

              var percentComplete = xhr.loaded / xhr.total * 100;
              console.log( Math.round( percentComplete, 2 ) + '% downloaded' );

            }


          };
          // var earthDiv = document.createElement('div');
          // earthDiv.className = 'label';
          // earthDiv.textContent = '烟感';
          // earthDiv.style.marginTop = '-1em';
          // // earthDiv.style.color = 'yellow';
          // earthDiv.style.fontSize = '30px';
          // /*创建2D实例*/
          // var earthLabel = new THREE.CSS2DObject(earthDiv);
          // earthLabel.position.set(200, 350, 200);
          // scene.add(earthLabel);

          //报错通知
          // var spriteMaterial = new THREE.SpriteMaterial({
          //   map:  new THREE.TextureLoader().load("/static/images/199.png"), //设置精灵纹理贴图
          //   transparent: false,//开启透明(纹理图片png有透明信息)
          // });


          var onError = function ( xhr ) { };

          THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

          // 加载mtl
          new THREE.MTLLoader().setPath( '/static/3d/' ).load( 'dalou.mtl', function ( materials ) {

            materials.preload();

            // 加载obj
            new THREE.OBJLoader()
              .setMaterials( materials )
              .setPath( '/static/3d/' )
              .load( 'dalou.obj', function ( object ) {
                scene.add( object );
                // obj缩放
                object.scale.set(.008, .008, .008);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                // object.rotateY(Math.PI/2);
                object.position.y = -200;
                console.log(object);

              }, onProgress, onError );
          } );



          renderer = new THREE.WebGLRenderer({antialias: false,
            alpha: true}); // 设置透明);
          // 设置分辨率
          renderer.setPixelRatio( window.devicePixelRatio );
          // 设置渲染尺寸
          renderer.setSize( document.getElementById('bigdata-main-map').offsetWidth, document.getElementById('bigdata-main-map').offsetHeight );
          container.appendChild( renderer.domElement );

          // labelRenderer = new THREE.CSS2DRenderer();
          // labelRenderer.setSize( width, height );
          // labelRenderer.domElement.style.position = 'absolute';
          // labelRenderer.domElement.style.top = 0;
          // container.appendChild( labelRenderer.domElement );
          // 自适应监听
          window.addEventListener( 'resize', onWindowResize, false );

        }

        function onWindowResize() {

          camera.aspect = document.getElementById('bigdata-main-map').offsetWidth / document.getElementById('bigdata-main-map').offsetHeight;
          camera.updateProjectionMatrix();

          renderer.setSize( document.getElementById('bigdata-main-map').offsetWidth, document.getElementById('bigdata-main-map').offsetHeight );

        }

        function onDocumentMouseMove( event ) {

          mouseX = ( event.clientX - windowHalfX ) / 2;
          mouseY = ( event.clientY - windowHalfY ) / 2;

        }


// 时刻渲染
        function animate() {
          if(!document.getElementById('bigdata-main-map')){
            return
          }
          controls.update();

          renderer.render( scene, camera );

          requestAnimationFrame( animate );
          // labelRenderer.render( scene, camera );

        }
        function mat(word){
          var vector = word.project(camera);
          let halfWidth = document.getElementById('bigdata-main-map').offsetWidth / 2;
          let halfHeight=document.getElementById('bigdata-main-map').offsetHeight / 2;
          return{
            x:Math.round(vector.x * halfWidth +halfWidth),
            y:Math.round(-vector.y * halfHeight +halfHeight),
          }
        }

        function render() {

          camera.position.x += ( mouseX - camera.position.x ) * .05;
          camera.position.y += ( - mouseY - camera.position.y ) * .05;

          camera.lookAt( scene.position );

          renderer.render( scene, camera );

        }
      }
    }
</script>

<style lang="scss">
  html,body,#app{
    height: 100%;
    width: 100%;
  }

</style>
<style lang="scss" scoped>
  .flex{
    display: flex;
    flex-direction: column;
    .fl1{
      flex: 1;
    }
  }
  .z999{
    position: relative;
    z-index: 999;
  }
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top{
      height: 50px;
      background: url("../../static/抬头.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      h5{
        font-weight: normal;
        font-size: 26px;
      }
    }
    .main{
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      .pub{
        position: relative;
        &:after{
          background:url("../../static/框.png") no-repeat 100% 100%;
          background-size:cover ;
          background-position-y: bottom;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      .m-t{
        flex: .6;
        display: flex;
        .mt-l,.mt-r{
          flex: .3;
          &.mt-l{
            margin-right: 20px;
          }
          &.mt-r{
            margin-left: 20px;
          }
          display: flex;
          flex-direction: column;
          .top-item{
            flex: .6;
            margin-bottom: 20px;
          }
          .bot-item{
            flex: .4;
          }
        }
        .mt-m{
          flex: .4;
          display: flex;
        }
      }
      .m-b{
        flex: .4;
      }
    }
  }
</style>
