<template>
  <div class="container" style="overflow:hidden;">
    <div class="searchStyle" style="display: flex;">
      <el-date-picker
        v-model="value1"
        size="small"
        type="date"
        value-format="yyyy-MM-dd"
        placeholder="开始时间"
      ></el-date-picker>
      <el-date-picker
        v-model="value1"
        style="margin-left:10px;"
        size="small"
        type="date"
        value-format="yyyy-MM-dd"
        placeholder="结束时间"
      ></el-date-picker>
      <Select v-model="query.d" placeholder="请选择企业" style="width:200px;margin-left:10px;">
        <Option value="">全选</Option>
        <Option
          v-for="(list,index) in companyList"
          :key="index"
          :value="list.sydwjcxxId"
        >{{list.sydwmc}}</Option>
      </Select>
      <Select v-model="query.d" style="width:200px;margin-left:10px;">
        <Option value="">全选</Option>
        <Option value="正常">正常</Option>
        <Option value="报警">报警</Option>
      </Select>

      <Input v-model="query.d" style="width:200px;margin-left:10px;" placeholder="请输入员工姓名" />
      <!-- <Input v-model="query.d" style="width:200px;margin-left:10px;" placeholder="请输入企业名称" /> -->
      <Button type="primary" icon="ios-search" @click="searchClockData" style="margin-left:10px;">查询</Button>
    </div>
    <div ref="mid" class="infor inforDetail" style="display:flex;">
      <!-- <div
        class="leftDet"
        style="width: 25%;margin-right: 10px;border:1px solid #333;height:100%;    display: flex;
    flex-direction: column;"
      >
        <el-table
          :data="tableData"
          style="width: 100%;margin-right: 10px;flex: 1;"
          highlight-current-row
          border
          @row-click="rowClick"
          class="sepl"
          :height="winHeight1"
        >
          <el-table-column type="index" label="序号" align="center" width="60"></el-table-column>
          <el-table-column prop="sydwmc" label="公司名称" show-overflow-tooltip></el-table-column>
        </el-table>
        <Page
          style="text-align: center;margin-top: 10px;"
          :total="query1.total"
          @on-change="changePageNo1"
          :page-size="query1.pageSize"
        />
      </div>-->
      <Table class="dell" border :columns="columns1" :height="Height" :data="data1"></Table>
    </div>
    <Page
      style="margin-top: 10px;text-align: center;margin-bottom:20px;"
      :total="query.total"
      @on-change="changePageNo"
      :page-size="query.pageSize"
    ></Page>
    <Modal v-model="show1" title="查看图片">
      <img style="width: 500px;height:500px;" :src="imgUrl" />
      <div slot="footer">
        <Button @click="show1 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isPlay: false,
      loading: false,
      show1: false,
      value1: "",
      imgUrl: "",
      tableData: [],
      winHeight1: null,
      winHeight: null,
      Height: "",
      query1: {
        pageSize: 10,
        pageNo: 1,
        total: 0
      },
      columns1: [
        {
          type: "index",
          width: 70,
          align: "center",
          title: "序号"
        },
        {
          title: "企业名称",
          key: "sydwjcxxName",
          align: "center"
        },
        {
          title: "员工姓名",
          key: "punchPerson",
          align: "center"
        },
        {
          title: "状态",
          key: "punchStatus",
          align: "center"
        },
        {
          title: "打卡时间",
          key: "punchTime",
          align: "center"
        },
        {
          title: "员工照片",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("img", {
              attrs: {
                src:
                  "http://36.154.40.222:8085/jeecg-boot/" + params.row.punchPic,
                style: "width: 36px;border-radius: 2px;cursor:pointer"
              },
              on: {
                click: () => {
                  this.show1 = true;
                  this.imgUrl =
                    "http://36.154.40.222:8085/jeecg-boot/" +
                    params.row.punchPic;
                }
              }
            });
          }
        }
      ],
      data1: [],
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0
      },
      companyList: []
    };
  },
  mounted() {
    let _this = this;
    setTimeout(function() {
      $("embed").css({
        width: "100%"
      });
    }, 500);
    setTimeout(() => {
      this.Height = _this.$refs.mid.offsetHeight - 20;
      this.winHeight1 = _this.$refs.mid.offsetHeight;
    }, 50);
  },
  created() {
    this.getClockData();
    this.getAllCompanydeT();
    this.getCompanyAll();
  },

  methods: {
    async getCompanyAll() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx", {
        params: this.query1
      });
      this.tableData = res.data.result.records;
      this.query1.total = res.data.result.total;
      this.$set(this.query, "cUsic", this.tableData[0].zzjgdm);
    },
    rowClick(data) {
      this.query.pageNo = 1;
      this.query.cUsic = data.zzjgdm;
      this.getClockData();
    },
    changePageNo1(val) {
      this.query1.pageNo = val;
      this.getCompanyAll();
    },
    async getAllCompanydeT() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3");
      this.companyList = res.data.result;
    },
    searchClockData() {
      this.query.punchTime = this.value1;
      this.getClockData();
    },
    async getClockData() {
      let _this = this;
      let res = await this.$fetch.get("/api//RtmpVideo/listDevice", {
        params: this.query
      });
      this.data1 = res.data.result;
      this.query.total = res.data.result.total;
      this.$nextTick(() => {});
    },
    changePageNo(val) {
      this.query.pageNo = val;
      this.getClockData();
    }
  }
};
</script>
<!--height: 100%+1;-->
<style lang='scss' scoped>
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.searchStyle {
  margin: 10px 10px 0px 10px;
}
.infor {
  display: flex;
  /*height: 100%;*/
  /*max-height: 100%;*/
  padding: 10px;
  // flex: 1;
  height: 100%;
  // min-height: 600px;
  // flex-direction: column;
  flex: 1;
}
</style>
<style lang='scss'>
// .dell {
//   .ivu-table {
//     overflow-y: scroll;
//   }
// }
</style>
