<template>
    <div style="padding:10px;">
        <div class="top" v-show="!showList" style="margin-bottom:10px;">
            <Input suffix="ios-search" placeholder="人员名称" style="width: 160px" />
            <Input suffix="ios-search" placeholder="联系方式" style="width: 160px" />
             <DatePicker type="date" placeholder="请选择到期时间" style="width: 160px"></DatePicker>
            <Button type="primary" icon="ios-search">查询</Button>
        </div>
        <Table  :columns="columns1" class="home-bot" :data="data1"></Table>
    </div>
</template>

<script>
export default {
    data(){
        return{
            columns1: [
        {
          title: "姓名",
          key: "a",
          align: "center"
        },
        {
          title: "人员类型",
          key: "e",
          align: "center"
        },
        {
          title: "联系电话",
          key: "b",
          align: "center"
        },
        {
          title: "设备类别",
          key: "g",
          align: "center"
        },
        {
          title: "操作证类别",
          key: "c",
          align: "center"
        },
        {
          title: "操作证有效期",
          key: "d",
          align: "center"
        },
        {
          title: "操作证图片",
          key: "f",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "80px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: "/static/234.png"
                  // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        },
        {
                    title: '操作',
                    key: 'cz',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                    }
                                }
                            }, '发布提醒'),
                        ]);
                    }
                },
      ],
      data1: [
        {
          a: "陈伟",
          b: "1385172312",
          c: "气瓶作业	",
          d: "2019-05-23",
          e: "安全管理员",
          f: "../../static/20190521223419.jpg",
          g: "气瓶"
        },
        {
          a: "张斌",
          b: "1385172312",
          c: "气瓶作业	",
          d: "2019-05-23",
          e: "作业人员",
          g: "电梯"
        },
        {
          a: "王伟",
          b: "1385172312",
          c: "气瓶作业	",
          d: "2019-05-23",
          e: "水处理人员",
          g: "锅炉"
        }
      ],
        }
    }
}
</script>

<style>

</style>
