<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <!--<Input  v-model="query.sydwmc" placeholder="请输入单位名称" style="width: 180px" />-->
        <!--<Input  v-model="query.BMMC" placeholder="请输入部门名称" style="width: 180px" />-->
        <!--<Input  v-model="query.sbzcdm" placeholder="请输入设备注册代码" style="width: 180px" />-->
        <!--<Input  v-model="query.syzbh" placeholder="请输入使用证编号" style="width: 180px" />-->
        <!--<Input  v-model="query.CCBH" placeholder="请输入出厂编号" style="width: 180px" />-->
        <Input
          v-model="query.sbsydd"
          placeholder="请输入使用地点"
          style="width: 180px;margin-right: 10px;"
        />
        <Input
          v-model="query.sbzcdm"
          placeholder="请输入设备注册代码"
          style="width: 180px;margin-right: 10px;"
        />
        <Input
          v-model="query.sydwmc"
          placeholder="请输入单位名称"
          style="width: 180px;margin-right: 10px;"
        />
        <Input
          v-model="query.syzbh"
          placeholder="请输入使用证编号"
          style="width: 180px;margin-right: 10px;"
        />
        <Select
          v-model="query.sblb"
          v-if="!query.sblx"
          style="width:180px;margin-right: 10px;"
          placeholder="请选择设备"
        >
        <Option value="">全选</Option>
          <Option v-for="list in sblxItem" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
        </Select>

        <Select
          v-model="query.zczt"
          v-if="!query.sblx"
          style="width:180px;margin-right: 10px;"
          placeholder="请选择注册状态"
        >
        <Option value="">全选</Option>
          <Option :value="0">未注册</Option>
          <Option :value="1">已注册</Option>
        </Select>
        <!--<Input  v-model="query.SBMC" placeholder="请输入设备名称" style="width: 180px;margin-top: 10px;" />-->
        <!--<Input  v-model="query.SBXH" placeholder="请输入设备型号" style="width: 180px;margin-top: 10px;" />-->
        <!--<Input  v-model="query.SBDM" placeholder="请输入设备代码" style="width: 180px;margin-top: 10px;" />-->
        <!--<Input  v-model="query.SBDWNBH" placeholder="请输入设备内编号" style="width: 180px;margin-top: 10px;" />-->
        <br />
        <Select
          v-model="query.syzt"
          style="width:180px;margin-right: 10px;margin-top: 10px;"
          placeholder="请选择使用状态"
        >
          <!--<Option :value="1">在用</Option>-->
          <!--<Option :value="2">停用</Option>-->
          <!--<Option :value="3">报废</Option>-->
          <!--<Option :value="4">拆除</Option>-->
          <!--<Option :value="5">注销</Option>-->
          <!--<Option :value="6">安装告知中</Option>-->
          <!--<Option :value="7">旧监察已删除</Option>-->
          <!--<Option :value="8">外出作业</Option>-->

          <Option v-for="list in syztList" :key="list.BIANMA" :value="list.BIANMA">{{list.NAME}}</Option>
        </Select>
        <Button type="primary" icon="ios-search" @click="getSbList" style="margin-top: 10px;">查询</Button>
        <!--<Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>-->
      </div>
      <div class="mid" ref="mid">
        <Table
          v-show="!showList"
          :height="Height"
          :loading="loading"
          border
          :columns="columns1"
          :data="data1"
        >
          <template slot-scope="{ row }" slot="zczt">{{ row.zczt == 0 ?'未注册':'已注册' }}</template>
          <template slot-scope="{ row }" slot="syzt">{{row.syzt | filterSyzt}}</template>
        </Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          :total="query.total"
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
        />
      </div>
    </div>
    <Modal v-model="show" title="查看详情" width="1000" class="homeDetail">
      <gl v-if="show1" :form="form"></gl>
      <!--<dt v-else-if="show2" :form="form"></dt>-->
      <dt-name v-else-if="show3" :form="form"></dt-name>
      <ylrq v-else-if="show2" :form="form"></ylrq>
      <qzjx v-else-if="show4" :form="form"></qzjx>
      <cncc v-else-if="show5" :form="form"></cncc>
      <ylss v-else-if="show6" :form="form"></ylss>
      <!--<ylgd v-else-if="show7" :form="form"></ylgd>-->
      <ylgd v-else-if="show8" :form="form"></ylgd>
      <div slot="footer">
        <Button size="small" @click="show = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="show222" title="查看大图">
      <img :src="src" style="width: 100%" />
      <div slot="footer">
        <Button @click="show2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import gl from "./addModel/guolu";
import dtName from "./addModel/dt";
import ylrq from "./addModel/ylrq";
import qzjx from "./addModel/qzjx";
import cncc from "./addModel/cncc";
import ylss from "./addModel/ylss";
import ylgd from "./addModel/ylgd";
var detThis = "";
export default {
  components: {
    gl,
    dtName,
    ylrq,
    qzjx,
    cncc,
    ylss,
    ylgd
  },
  data() {
    return {
      model1: "",
      show1: false,
      show: false,
      show2: false,
      show3: false,
      show4: false,
      show5: false,
      show6: false,
      show7: false,
      show8: false,
      title: "",
      show222: false,
      src: "",
      showList: false,
      numList: 0,
      width: null,
      edit: {},
      Height: null,
      form: {},
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "设备名称",
          key: "sbmc",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sbmc
                  }
                },
                params.row.sbmc
              )
            ]);
          }
        },
         {
          title: "设备种类",
          key: "sblb",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sblb
                  }
                },
                params.row.sblb
              )
            ]);
          }
        },
        {
          title: "制造单位",
          key: "zzdwmc",
          align: "center",
          width: 180,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zzdwmc
                  }
                },
                params.row.zzdwmc
              )
            ]);
          }
        },
        {
          title: "设备代码",
          key: "sbdm",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sbdm
                  }
                },
                params.row.sbdm
              )
            ]);
          }
        },
        
        {
          title: "设备注册代码",
          key: "sbzcdm",
          align: "center",
          width: 160,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sbzcdm
                  }
                },
                params.row.sbzcdm
              )
            ]);
          }
        },
        {
          title: "注册状态",
          key: "zczt",
          align: "center",
          slot: "zczt",
          width: 120
        },
        {
          title: "使用状态",
          key: "syzt",
          align: "center",
          slot: "syzt",
          width: 160,
          render: (h, params) => {
            let str = "";
            for (let i of detThis.syztList) {
              if (params.row.syzt == i.BIANMA) {
                str = i.NAME;
              }
            }
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: str
                  }
                },
                str
              )
            ]);
          }
        },
        {
          title: "注册登记日期",
          key: "zcdjrq",
          align: "center",
          width: 160
        },
        
        {
          title: "使用地点",
          key: "sydwdz",
          align: "center",
          width: 180,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwdz
                  }
                },
                params.row.sydwdz
              )
            ]);
          }
        },
        {
          title: "内部编号",
          key: "sbdwnbh",
          align: "center",
          width: 160
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 180,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.title = "详情";

                      this.getDetail(params.row.sbtype, params.row.id);
                    }
                  }
                },
                "详情"
              ),
            ]);
          }
        }
      ],
      // columns1: [
      //   {
      //     type: "index",
      //     width: 80,
      //     align: "center",
      //     title: "序号"
      //   },
      //   {
      //     title: "设备名称",
      //     key: "sbmc",
      //     align: "center",
      //     width: 120,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "span",
      //           {
      //             style: {
      //               display: "inline-block",
      //               width: "100%",
      //               overflow: "hidden",
      //               textOverflow: "ellipsis",
      //               whiteSpace: "nowrap"
      //             },
      //             domProps: {
      //               title: params.row.sbmc
      //             }
      //           },
      //           params.row.sbmc
      //         )
      //       ]);
      //     }
      //   },
      //   {
      //     title: "使用单位名称",
      //     key: "sydwmc",
      //     align: "center",
      //     width: 180,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "span",
      //           {
      //             style: {
      //               display: "inline-block",
      //               width: "100%",
      //               overflow: "hidden",
      //               textOverflow: "ellipsis",
      //               whiteSpace: "nowrap"
      //             },
      //             domProps: {
      //               title: params.row.sydwmc
      //             }
      //           },
      //           params.row.sydwmc
      //         )
      //       ]);
      //     }
      //   },
      //   {
      //     title: "设备型号",
      //     key: "sbxh",
      //     align: "center",
      //     width: 200
      //   },
      //   {
      //     title: "使用单位地址",
      //     key: "sydwdz",
      //     align: "center",
      //     width: 180,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "span",
      //           {
      //             style: {
      //               display: "inline-block",
      //               width: "100%",
      //               overflow: "hidden",
      //               textOverflow: "ellipsis",
      //               whiteSpace: "nowrap"
      //             },
      //             domProps: {
      //               title: params.row.sydwdz
      //             }
      //           },
      //           params.row.sydwdz
      //         )
      //       ]);
      //     }
      //   },
      //   {
      //     title: "设备类别",
      //     key: "caseName",
      //     align: "center",
      //     width: 120,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "span",
      //           {
      //             style: {
      //               display: "inline-block",
      //               width: "100%",
      //               overflow: "hidden",
      //               textOverflow: "ellipsis",
      //               whiteSpace: "nowrap"
      //             },
      //             domProps: {
      //               title: params.row.caseName
      //             }
      //           },
      //           params.row.caseName
      //         )
      //       ]);
      //     }
      //   },
      //   {
      //     title: "设备代码",
      //     key: "sbdm",
      //     align: "center",
      //     width: 120,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "span",
      //           {
      //             style: {
      //               display: "inline-block",
      //               width: "100%",
      //               overflow: "hidden",
      //               textOverflow: "ellipsis",
      //               whiteSpace: "nowrap"
      //             },
      //             domProps: {
      //               title: params.row.sbdm
      //             }
      //           },
      //           params.row.sbdm
      //         )
      //       ]);
      //     }
      //   },
      //   {
      //     title: "注册状态",
      //     key: "zczt",
      //     align: "center",
      //     slot: "zczt",
      //     width: 120
      //   },
      //   {
      //     title: "使用状态",
      //     key: "syzt",
      //     align: "center",
      //     slot: "syzt",
      //     width: 120
      //   },
      //   {
      //     title: "检验日期",
      //     key: "nbjyrq",
      //     align: "center",
      //     width: 160
      //   },
      //   {
      //     title: "操作",
      //     key: "cz",
      //     fixed: "right",
      //     align: "center",
      //     width: 130,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "Button",
      //           {
      //             props: {
      //               type: "primary",
      //               size: "small"
      //             },
      //             style: {
      //               marginRight: "5px"
      //             },
      //             on: {
      //               click: () => {
      //                 this.getDetail(params.row.sbtype, params.row.id);
      //               }
      //             }
      //           },
      //           "详情"
      //         )
      //       ]);
      //     }
      //   }
      // ],
      data1: [],
      data2: [
        {
          title: "全部",
          loading: false,
          number: 0,
          children: []
        }
      ],
      loading: false,
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0
        // DQDM:320831,
      },
      companyList: [],
      syztList: [],
      sblxItem: []
    };
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 300);
  },
  filters: {
    filterSyzt(val) {
      for (let i of detThis.syztList) {
        if (val == i.BIANMA) {
          return i.NAME;
        }
      }
    }
  },
  created() {
    detThis = this;
    this.getSyzt();
    this.getSbList();
    this.getSbLx();
  },
  methods: {
    //设备类型字典
    async getSbLx() {
      let res = await this.$fetch.get("/api/index/getDeviceDict");
      this.sblxItem = res.data.result;
    },
    // 使用状态字典
    async getSyzt() {
      let res = await this.$fetch.get("/api/index/getIsUsingDict");
      this.syztList = res.data.result;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },
    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("/api/glxx/listDevice", {
        params: { ...this.query, ...{ syzt: 1 } }
      });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    select(value, item) {
      if (item.number == 1) {
        this.query.usci = item.ufci;
        this.query.sblx = "";
      } else if (item.number == 2) {
        this.query.usci = item.ucsi;
        this.query.sblx = item.id;
      }
      this.getSbList();
    },
    openFile() {
      document.getElementById("file").click();
    },
    async getDetailMsg(type, id) {
      let res = "";
      res = await this.$fetch.get("/api/glxx/getGlxx", {
        params: { glxxId: id, sbType: type }
      });
      return res.data.result;
    },
    async getDetail(type, id) {
      this.show1 = false;
      this.show2 = false;
      this.show3 = false;
      this.show4 = false;
      this.show5 = false;
      this.show6 = false;
      this.show7 = false;
      this.show8 = false;
      switch (type) {
        // 锅炉
        case "SB1000":
          this.show1 = true;
          break;
        //压力容器
        case "SB2000":
          // res = await this.$fetch.get('/api/ylrqxx/getYlrqxx',{params:{YlrqxxId:id}})
          this.show2 = true;
          break;
        case "SB3000":
          // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
          this.show3 = true;
          break;
        case "SB4000":
          // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
          this.show4 = true;
          break;
        case "SB5000":
          // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
          this.show5 = true;
          break;
        case "SB6000":
          // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
          this.show6 = true;
          break;
        // case 'SB7000':
        //   // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
        //   this.show7 = true;
        //   break
        //压力管道
        case "SB8000":
          // res = await this.$fetch.get('/api/glxx/getGlxx',{params:{glxxId:id}})
          this.show8 = true;
          break;
      }
      $(".homeDetail .ivu-modal-body").scrollTop = 0;
      this.show = true;
      this.getDetailMsg(type, id).then(res => {
        this.form = res;
      });
    },
    showTitle(num, params, y) {}
  }
};
</script>

<style lang="scss">
.homeDetail {
  .ivu-modal-body {
    height: 500px;
    overflow-y: scroll;
  }
}
</style>
<style lang='scss' scoped>
.logo-title {
  //   height: 16px;
  //   line-height: 16px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.ivu-tabs-content {
  height: 100%;
}
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.2;
    font-size: 14px;
    color: #87888b;
    margin-right: 30px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.12;
  }
  .right {
    display: flex;
    height: 100%;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
    /*padding-left: 1px;*/
    .mid {
      margin-top: 10px;
      flex: 1;
      display: flex;
      width: 100%;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
