<template>
    <div class="infor">
        <div class="top">
            <Input suffix="ios-search" placeholder="请输入证件编号" style="width: 180px" />
            <Input suffix="ios-search" placeholder="请输入姓名" style="width: 180px" />
            <Input suffix="ios-search" placeholder="请输入联系电话" style="width: 180px" />
            <Select v-model="model1" style="width:180px" placeholder="请选择专业组别">
            </Select>
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="error" icon="md-add" @click.native='showTitle(1)'>新增</Button>
            <Button type="warning" icon="ios-albums">导出</Button>
        </div>
        <div class="mid">
            <Table width="100%" border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
        <Modal
            v-model="show"
            :title="title"
            >
            <Row>
                <Col class="flex" span="24">
                    <label>人员类型</label>：
                    <Select v-model="eidt.c" placeholder="请选择人员类型">
                        <Option>作业人员</Option>
                        <Option>安全管理员</Option>
                    </Select>
                </Col>
                <Col class="flex" span="24">
                    <label>姓名</label>：
                    <Input v-model="eidt.a" placeholder="请输入姓名"  />
                </Col>
                <Col class="flex" span="24">
                    <label>联系电话</label>：
                   <Input v-model="eidt.b" placeholder="请输入联系电话"  />
                </Col>
                <Col class="flex" span="24">
                    <label>操作证类别</label>：
                    <Select v-model="eidt.c" placeholder="请选择操作证类别">
                    </Select>
                </Col>
                <Col class="flex" span="24">
                    <label>操作证有效期</label>：
                    <DatePicker type="date" placeholder="请选择操作证有效期"></DatePicker>
                </Col>
            </Row>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            title:'',
            eidt:{

            },
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号',
                    fixed: 'left'
                },
                {
                    title: '姓名',
                    key: 'a',
                    width:150,
                    align:'center',
                    fixed: 'left'
                },
                {
                    title: '证件编号',
                    key: 'b',
                    width:150,
                    align:'center',
                    fixed: 'left'
                },
                {
                    title: '档案编号',
                    key: 'c',
                    align:'center',
                    width:150,
                },
                {
                    title: '作业种类',
                    key: 'd',
                    align:'center',
                    width:220,
                },
                {
                    title: '作业项目',
                    key: 'e',
                    align:'center',
                    width:100,
                },
                {
                    title: '发证机构',
                    key: 'f',
                    align:'center',
                    width:100,
                },
                {
                    title: '批准日期',
                    key: 'g',
                    align:'center',
                    width:100,
                },
                {
                    title: '有效日期',
                    key: 'h',
                    align:'center',
                    width:100,
                },
                {
                    title: '作业项目代码',
                    key: 'i',
                    align:'center',
                    width:100,
                },
                {
                    title: '操作',
                    key: 'cz',
                    fixed: 'right',
                    align:'center',
                    width:150,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.showTitle(2,params);
                                    }
                                }
                            }, '编辑'),
                            h('Button', {
                                    props: {
                                        type: 'error',
                                        size: 'small'
                                    },
                                    on: {
                                        click: () => {
                                        }
                                    }
                            }, '删除')
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
                {
                    a: '高法银',
                    b: 'VARCHAR2(200)',
                    c: 'VARCHAR2(50)',
                    d: 'VARCHAR2(2000)',
                    e:'VARCHAR2(3000)',
                    f:'VARCHAR2(2000)',
                    g:'2017-05-16',
                    h:'2017-05-20',
                    i:'VARCHAR2(50)',
                },
            ]
        }
    },
    methods:{
        openFile(){
            document.getElementById("file").click();
        },
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.eidt = {};
           }else{
               this.title = '编辑';
               Object.keys(params.row).forEach((key,index) => {
                   this.eidt[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .25;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select,.ivu-date-picker{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
    .ivu-upload{
        display: flex;
    }
</style>
