<template>
  <div style="height:100%" id="deptForm">
    <Select
      placeholder="请选择企业"
      filterable
      style="width:200px;margin-bottom:10px;position:absolute;z-index:999;top:10px;left:6%"
      @on-change="changeMapList"
    >
      <Option v-for="(list,index) in dataItemList" :key="index" :value="list.fid">{{list.sydwmc}}</Option>
    </Select>
    <!-- <ul class="list">
        <li @click="num = 0;" :style="{background:(num == 0?'#282f42':'')}"><i class="layui-icon-flag layui-icon"></i>地图浏览</li>
        <li @click="num = 1;"  :style="{background:(num == 1?'#282f42':'')}"><i class="layui-icon-location layui-icon"></i>查询定位</li>
        <li @click="num = 2;"  :style="{background:(num == 2?'#282f42':'')}"><i class="layui-icon-notice layui-icon"></i>信息查看</li>
        <li @click="num = 3;"  :style="{background:(num == 3?'#282f42':'')}"><i class="layui-icon-form layui-icon"></i>图形数据和设备数据互查</li>
        <li @click="num = 4;"  :style="{background:(num == 4?'#282f42':'')}"><i class="layui-icon-search layui-icon"></i>空间查询</li>
        <li @click="num = 5;"  :style="{background:(num == 5?'#282f42':'')}"><i class="layui-icon-survey layui-icon"></i>统计报表</li>
        <li @click="num = 6;"  :style="{background:(num == 6?'#282f42':'')}"><i class="layui-icon-util layui-icon"></i>图形管理</li>
    </ul>-->
    <!-- <Menu :theme="theme2">
           <MenuItem  name="1">
               <Icon type="ios-home" />
               首页
           </MenuItem >
           <Submenu name="2">
               <template slot="title">
                   <Icon type="ios-people" />
                   用户管理
               </template>
               <MenuItem name="2-1">新增用户</MenuItem>
               <MenuItem name="2-2">活跃用户</MenuItem>
           </Submenu>
           <Submenu name="3">
               <template slot="title">
                   <Icon type="ios-stats" />
                   统计分析
               </template>
               <MenuGroup title="使用">
                   <MenuItem name="3-1">新增和启动</MenuItem>
                   <MenuItem name="3-2">活跃分析</MenuItem>
                   <MenuItem name="3-3">时段分析</MenuItem>
               </MenuGroup>
               <MenuGroup title="留存">
                   <MenuItem name="3-4">用户留存</MenuItem>
                   <MenuItem name="3-5">流失用户</MenuItem>
               </MenuGroup>
           </Submenu>
    </Menu>-->
    <div id="allmap"></div>
    <Modal v-model="modal1" title="视频监控" width="600" @on-visible-change="hideDl">
      <!--<video-->
      <!--id="myPlayer"-->
      <!--autoplay="autoplay"-->
      <!--src=""-->
      <!--controls-->
      <!--playsInline-->
      <!--style="width:100%;height:100%; object-fit: fill"-->
      <!--&gt;-->
      <!--</video>-->
      <Select
        placeholder="请选择视频"
        v-model="glxxxxId"
        style="width:200px;margin-bottom:10px;"
        @on-change="changeVideo"
      >
        <Option
          v-for="(list,index) in spList"
          :key="index"
          :value="list.glxx.glxxId"
        >{{list.glxx.sbmc}}({{list.video.status == 1?'在线':'不在线'}})</Option>
      </Select>
      <!-- <videoPlayer
        v-if="modal1"
        class="vjs-custom-skin videoPlayer"
        style="margin-top: 10px;"
        :options="playerOptions"
      ></videoPlayer>-->
      <video
        id="myVideo"
        class="video-js vdddd vjs-default-skin vjs-big-play-centered"
        controls
        preload="auto"
        autoplay
      ></video>
      <div slot="footer">
        <Button @click="modal1 = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="modal2" title="营业执照">
      <img src="../../static/timg.png" style="width:100%;height:100%;" />
      <div slot="footer">
        <Button @click="modal2 = false;">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import "video.js/dist/video-js.css";
import { videoPlayer } from "vue-video-player";
import "videojs-flash";
export default {
  components: {
    videoPlayer
  },
  data() {
    return {
      myVideo: null,
      videoList: "",
      markerItem: [],
      playerOptions: {
        height: "300",
        sources: [
          {
            type: "rtmp/mp4",
            src: "rtmp://live.hkstv.hk.lxdns.com/live/hks"
          }
        ],
        techOrder: ["flash"],
        autoplay: true,
        controls: true
      },
      modal1: false,
      modal2: false,
      map: "",
      opts: {},
      SYDWJCXX_ID: "",
      num: 0,
      glxxxxId: "",
      theme2: "dark",
      itemList: [],
      sblxItem: [],
      spList: [],
      dataItemList: []
    };
  },
  created() {
    this.getSbLx();
  },
  async mounted() {
    let _this = this;
    await this.initMap();
    _this.map.addEventListener("tilesloaded", function() {});
  },
  methods: {
    // async getInfoMsg(){
    //   let res = await this.$fetch.get('/api/company/listComapny');
    //   this.itemList = res.data.result;
    // },
    hideDl(val) {
      if (!val) {
        this.closeRtmp();
      }
    },
    async closeRtmp(val) {
      // options.sources[0].src = "";
      if (!this.videoList) {
        return;
      }
      let res = await this.$fetch.post("/api/RtmpVideo/closeRtmp", [
        this.videoList
      ]);
    },
    async changeVideo(val) {
      // this.playerOptions.sources[0].src =
      //   "rtmp://live.hkstv.hk.lxdns.com/live/hks1";
      let dataList = this.spList.filter(item => item.glxx.glxxId == val);
      this.closeRtmp(this.videoList);
      let res = await this.$fetch.get("/api/RtmpVideo/openRtmp", {
        params: {
          vAccount: "admin",
          vPassword: "hik12345",
          vPort: "554",
          vIp: dataList[0].video.vip,
          vId: dataList[0].video.vid
        }
      });
      this.videoList = res.data.result;
      // this.myVideo.src(
      //   "http://36.154.40.222:8087/hls/" + res.data.result + ".m3u8"
      // );
      this.myVideo.src("rtmp://36.154.40.222:1935/live/" + res.data.result);
      $("#showC").hide();
      this.myVideo.play();
    },
    addClickHandler(content, marker) {
      let _this = this;
      marker.addEventListener("click", function(e) {
        _this.openInfo(content, e);
      });
    },
    async getCompanyVideo() {
      let res = await this.$fetch.get("/api/video/listComapnyVideo", {
        params: { cId: id }
      });
    },
    async openInfo(content, e) {
      var p = e.target || e;
      let _this = this;
      let res = await this.$fetch.get("/api/mapInfo/listMapInfo", {
        params: { fid: content.fid, queryType: content.queryType }
      });
      // 获取列表信息
      if (!res || res.data.length == "0") {
        this.$Message.error("该点位并没有详细信息！");
        return;
      }
      var str = "";
      this.SYDWJCXX_ID = res.data[0].SYDWJCXX_ID;
      if (
        content.queryType == "SYDW" ||
        content.queryType == "SCDW" ||
        content.queryType == "CZDW" ||
        content.queryType == "JYDW" ||
        content.queryType == "JYDWXX"
      ) {
        str +=
          '<div style="color:#000;">' +
          '<div style="border-bottom:1px dashed rgba(67,125,229,1);padding-bottom:13px;display:flex;align-items:center;">' +
          '<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;background:#437DE5;color:#fff;font-size:16px;cursor: pointer;">企业基本信息</div>' +
          // +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;color:#437DE5;cursor: pointer;font-size:15px;margin-left:14px;">设备信息</div>'
          "</div>" +
          '<div style="margin-top:10px;border-bottom:1px dashed #437DE5;padding:0 0 13px 10px;">' +
          '<ul style="list-style: none;">' +
          '<li class="itemListDetail"><span style="font-weight:bold">单位名称：</span>' +
          res.data[0].SYDWMC +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">地址：</span>' +
          res.data[0].XXDZ +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">联系人：</span>' +
          res.data[0].LXR +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">电话：</span>' +
          res.data[0].LXDH +
          "</li>" +
          "</ul>" +
          "<div></div>" +
          "</div>" +
          '<div style="width:100%;margin-top:10px;">' +
          // +'<img id="tx" src=""+_this.itemList.clicenseUrl+" style="cursor: pointer;border-radius:6px;width:90px;height:89px;">'
          '<img id="shex" src="../../static/sx.png" style="cursor: pointer;border-radius:6px;width:90px;height:89px;margin-left:20px;">';
        "</div>" + "</div>";
      } else {
        let sblb = "";
        for (let i of _this.sblxItem) {
          if (i.BIANMA == res.data[0].TYPE) {
            sblb = i.NAME;
          }
        }
        this.spList = res;
        str +=
          '<div style="color:#000;">' +
          '<div style="border-bottom:1px dashed rgba(67,125,229,1);padding-bottom:13px;display:flex;align-items:center;">' +
          '<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;background:#437DE5;color:#fff;font-size:16px;cursor: pointer;">设备信息</div>' +
          // +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;color:#437DE5;cursor: pointer;font-size:15px;margin-left:14px;">设备信息</div>'
          "</div>" +
          '<div style="margin-top:10px;border-bottom:1px dashed #437DE5;padding:0 0 13px 10px;">' +
          '<ul style="list-style: none;">' +
          '<li class="itemListDetail"><span style="font-weight:bold">设备名称：</span>' +
          res.data[0].SBMC +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">使用单位名称：</span>' +
          res.data[0].SBMC +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">使用单位地址：</span>' +
          res.data[0].SYDWDZ +
          "</li>" +
          '<li class="itemListDetail"><span style="font-weight:bold">设备类别：</span>' +
          sblb +
          "</li>" +
          "</ul>" +
          "<div></div>" +
          "</div>" +
          '<div style="width:100%;margin-top:10px;">' +
          '<img id="shex" src="../../static/sx.png" style="cursor: pointer;border-radius:6px;width:90px;height:89px;margin-left:20px;">';
        "</div>" + "</div>";
      }
      var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
      var infoWindow = new BMap.InfoWindow(str, _this.opts); // 创建信息窗口对象
      _this.map.openInfoWindow(infoWindow, point); //开启信息窗口
      setTimeout(() => {
        $(".butAn").click(function(e) {
          $(e.target).css({
            background: "#437DE5",
            color: "#fff"
          });
          $(e.target)
            .siblings()
            .css({
              background: "#fff",
              color: "#437DE5"
            });
        });
        $("#shex").click(function() {
          _this.modal1 = true;
          _this.glxxxxId = "";
          _this.getAllSb();
          setTimeout(() => {
            _this.myVideo = videojs("myVideo", {
              // bigPlayButton: true,
              // textTrackDisplay: false,
              // posterImage: false,
              // enterFullScreen: true,
              // errorDisplay: false,
              // autoplay: true,
              // sources: [
              //   {
              //     type: "application/x-mpegURL"
              //   }
              // ]
              techOrder: ["html5", "flash"],
              controls: true,
              autoplay: true,
              sources: [
                {
                  type: "rtmp/flv"
                }
              ]
            });
          }, 500);
          // if()
          // this.title = "新增";
          // $('#myPlayer').attr("src", 'https://hls01open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b.m3u8');
          // var player = new EZUIKit.EZUIPlayer('myPlayer');
        });
        $("#tx").click(function() {
          _this.modal2 = true;
          _this.getAllSb();
        });
      }, 500);
    },
    async getAllSb(id) {
      let res = await this.$fetch.get("/api/sydwjcxx/getVideoBySydw", {
        params: { id: this.SYDWJCXX_ID }
      });
      this.spList = res.data.result;
    },
    //设备类型字典
    async getSbLx() {
      let res = await this.$fetch.get("/api/index/getDeviceDict");
      this.sblxItem = res.data.result;
    }, //设备类型字典
    async getSbList(type, id) {
      let res = await this.$fetch.get("/api/glxx/listDeviceBySbType", {
        params: { sblb: type, usci: id }
      });
      this.sblxItem = res.data.result;
    },
    changeMapList(val, det) {
      let num = 0;
      let _this = this;
      let data = this.dataItemList.filter((item, index) => {
        if (item.fid == val) {
          num = index;
          return true;
        } else {
          return false;
        }
      });
      this.map.panTo(new BMap.Point(data[0].longitude, data[0].latitude));
      this.openInfo(data[0], _this.markerItem[num]);
    },
    async initMap(num, allNum) {
      this.num++;
      let _this = this;
      if (this.num > allNum) {
        return;
      }
      if (!_this.map) {
        _this.map = new BMap.Map("allmap");
        // _this.map.centerAndZoom(new BMap.Point(res.data.list[0]['longitude'],res.data.list[0]['latitude']), 15);
        _this.map.centerAndZoom(new BMap.Point(119.010184, 33.018026), 14);
      }
      _this.opts = {
        width: 340, // 信息窗口宽度
        height: 300, // 信息窗口高度
        enableMessage: true, //设置允许信息窗发送短息
        offset: new BMap.Size(-24, -10)
      };
      let res = await this.$fetch.get("/api/mapInfo/listPositionVoForGuolu", {
        params: { pageSize: 100, pageNum: this.num }
      });

      this.dataItemList.push(...res.data.list);
      var maker2 = new BMap.Icon("../../static/组.png", new BMap.Size(50, 48));
      var maker1 = new BMap.Icon("../../static/组1.png", new BMap.Size(50, 54));
      for (var i = 0; i < res.data.list.length; i++) {
        let marker = "";
        if (
          res.data.list[i].queryType == "SYDW" ||
          res.data.list[i].queryType == "SCDW" ||
          res.data.list[i].queryType == "CZDW" ||
          res.data.list[i].queryType == "JYDW" ||
          res.data.list[i].queryType == "JYDWXX"
        ) {
          marker = new BMap.Marker(
            new BMap.Point(
              res.data.list[i]["longitude"],
              res.data.list[i]["latitude"]
            ),
            { icon: maker2 }
          );
        } else {
          marker = new BMap.Marker(
            new BMap.Point(
              res.data.list[i]["longitude"],
              res.data.list[i]["latitude"]
            ),
            { icon: maker1 }
          ); // 创建标注
        }

        var label = new BMap.Label(res.data.list[i].sydwmc, {
          offset: new BMap.Size(0, -20)
        });
        marker.setLabel(label);
        // 创建标注
        // var content  = '';
        // content += '<div style="color:#000;">'
        //             +'<div style="border-bottom:1px dashed rgba(67,125,229,1);padding-bottom:13px;display:flex;align-items:center;">'
        //                 +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;background:#437DE5;color:#fff;font-size:16px;cursor: pointer;">企业基本信息</div>'
        //                 // +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;color:#437DE5;cursor: pointer;font-size:15px;margin-left:14px;">设备信息</div>'
        //             +'</div>'
        //             +'<div style="margin-top:10px;border-bottom:1px dashed #437DE5;padding:0 0 13px 10px;">'
        //                 +'<ul style="list-style: none;">'
        //                     +'<li class="itemListDetail"><span style="font-weight:bold">单位名称：</span>'+_this.itemList.cname+'</li>'
        //                     +'<li class="itemListDetail"><span style="font-weight:bold">地址：</span>'+_this.itemList.cadress+'</li>'
        //                     +'<li class="itemListDetail"><span style="font-weight:bold">联系人：</span>'+_this.itemList.ccontacts+'</li>'
        //                     +'<li class="itemListDetail"><span style="font-weight:bold">电话：</span>'+_this.itemList.ccontactsTel+'</li>'
        //                 +'</ul>'
        //                 +'<div></div>'
        //             +'</div>'
        //             +'<div style="width:100%;margin-top:10px;">'
        //                 +'<img id="tx" src=""+_this.itemList.clicenseUrl+" style="cursor: pointer;border-radius:6px;width:90px;height:89px;">'
        //                 +'<img id="shex" src="../../static/sx.png" style="cursor: pointer;border-radius:6px;width:90px;height:89px;margin-left:20px;">'
        //             '</div>'
        //             +'</div>'
        _this.map.addOverlay(marker); // 将标注添加到地图中
        _this.markerItem.push(marker);
        _this.addClickHandler(res.data.list[i], marker);
      }
      // var data_infor1 = [[119.420988,33.539899],
      //     [118.515659,33.645391],
      //     [118.235304,33.654632],
      //     [118.852560,33.523323],
      //     [118.326404,33.845845],
      //     [118.436434,33.452353],
      //     [118.547577,33.236266],
      //     [118.352353,33.532532],
      //     [118.523535,33.547547],
      //
      // ];
      //  for(var i=0;i<data_infor1.length;i++){
      //     let marker = new BMap.Marker(new BMap.Point(data_infor1[0],data_infor1[1]),{icon:maker1});  // 创建标注
      //     var content  = '';
      //     content += '<div style="color:#000;">'
      //                 +'<div style="border-bottom:1px dashed rgba(67,125,229,1);padding-bottom:13px;display:flex;align-items:center;">'
      //                     +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;background:#437DE5;color:#fff;font-size:16px;cursor: pointer;">设备信息</div>'
      //                     // +'<div class="butAn" style="padding:4px 14px;border:1px solid #437DE5;border-radius:3px;color:#437DE5;cursor: pointer;font-size:15px;margin-left:14px;">设备信息</div>'
      //                 +'</div>'
      //                 +'<div style="margin-top:10px;border-bottom:1px dashed #437DE5;padding:0 0 13px 10px;">'
      //                     +'<ul style="list-style: none;">'
      //                         +'<li class="itemListDetail"><span style="font-weight:bold">设备名称：</span>有机热载体锅炉</li>'
      //                         +'<li class="itemListDetail"><span style="font-weight:bold">使用单位名称：</span>江苏翔发电源有限公司</li>'
      //                         +'<li class="itemListDetail"><span style="font-weight:bold">使用单位地址：</span>金湖县经济开发区工二路</li>'
      //                         +'<li class="itemListDetail"><span style="font-weight:bold">设备类别：</span>锅炉</li>'
      //                     +'</ul>'
      //                     +'<div></div>'
      //                 +'</div>'
      //                 +'<div style="width:100%;margin-top:10px;">'
      //                     +'<img id="shex" src="../../static/sx.png" style="cursor: pointer;border-radius:6px;width:90px;height:89px;margin-left:20px;">'
      //                 '</div>'
      //                 +'</div>'
      //     _this.map.addOverlay(marker);               // 将标注添加到地图中
      //     _this.addClickHandler(content,marker);
      // }
      var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
      });
      _this.map.addControl(navigationControl);
      _this.map.addControl(
        new BMap.MapTypeControl({
          mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]
        })
      );
      _this.map.enableScrollWheelZoom(true);
      _this.initMap(0, res.data.totalPage);
    }
  }
};
</script>
<style lang='css'>
.vdddd.video-js {
  height: 300px;
}
.BMap_noprint div {
}
#deptForm {
  display: flex;
  padding: 0px;
}
.list {
  flex: 0.16;
  background: #2f3b53;
}
.itemListDetail {
  position: relative;
  padding-left: 15px;
  color: #666666;
  font-family: "微软雅黑";
  margin-bottom: 6px;
  font-size: 14px;
}
.itemListDetail:last-child {
  margin-bottom: 0px;
}
.itemListDetail::after {
  position: absolute;
  left: 0;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: rgba(67, 125, 229, 1);
  border-radius: 5px;
  top: 35%;
}
.list li {
  width: 100%;
  height: 40px;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.list li:hover {
  background: #282f42;
}
.layui-icon {
  margin-right: 4px;
  margin-left: 20px;
}
.layui-fluid,
html,
body {
  height: 100%;
}
#allmap {
  width: 100%;
  height: 100%;
  /* flex: .9; */
}
/*地图标题*/
.anchorBL {
  display: none;
}
.BMap_bubble_title {
  color: black;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(1) {
  border-radius: 7px 0 0 0;
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(3) {
  border-radius: 0 7px 0 0;
  background: #70a2f2;
  width: 23px;
  height: 0px;
}
.BMap_pop div:nth-child(3) div {
  border-radius: 7px;
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(5) {
  border-radius: 0 0 0 7px;
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(9),
.BMap_center {
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(8) img {
  display: none;
}
.BMap_pop div:nth-child(8) {
  width: 0 !important;
  height: 0 !important;
  border-width: 12px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  top: 330px !important;
}

.BMap_pop div:nth-child(5) div {
  border-radius: 7px;
  /* background: #70a2f2 !important; */
}
.BMap_pop div:nth-child(7) {
  border-radius: 0 0 7px 0;
  /* background: #70a2f2 !important; */
}
.anchorBL {
  display: none;
}
.BMap_pop div:nth-child(7) div {
  border-radius: 7px;
  /* background: #70a2f2 !important; */
}
.BMap_top,
.BMap_bottom {
  /* background: #70a2f2 !important; */
}
#deptForm {
  display: flex;
  padding: 0px;
}
</style>
