<template>
  <div class="home">
    <div class="top">
        <div class="tt-left">
            <div class="top-list">
                <div class="t-left">
                    <img src="../../static/锅炉.png">
                </div>
                <div class="t-right">
                    锅炉
                    <span class="red">111</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/压力容器.png">
                </div>
                <div class="t-right">
                压力容器
                <span class="red">56</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/管道.png">
                </div>
                <div class="t-right">
                压力管道
                <span class="red">200</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/气瓶.png">
                </div>
                <div class="t-right">
                气瓶
                <span class="red">290</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/电梯.png">
                </div>
                <div class="t-right">
                电梯
                <span class="red">36</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/吊车.png">
                </div>
                <div class="t-right">
                起重机械
                <span class="red">55</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/叉车.png">
                </div>
                <div class="t-right">
                场内机动车
                <span class="red">12</span>
                </div>
            </div>
            <div class="top-list">
                <div class="t-left">
                <img src="../../static/设施_儿童游乐场_icon.png">
                </div>
                <div class="t-right">
                大型游乐设施
                <span class="red">0</span>
                </div>
            </div>
        </div>
        <div class="tt-right">
            <div ref="echart" style="width:100%;height:100%;"></div>
        </div>
    </div>
    <div class="bot">
      <div
        class="container-block"
        style="background-color: rgb(255, 255, 255); border-radius: 6px; padding: 10px 20px;margin-left:0px;margin-right:10px;"
      >
        <div>
            <div
            style="display: flex; align-items: center; padding: 10px 0px; border-bottom: 1px solid rgb(238, 238, 238);"
            >
            <i
                class="ice-icon-stable-medium icon1 ice-icon-stable ice-icon-stable-cascades"
                style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid rgb(238, 238, 238); border-radius: 4px;"
            ></i>
            <div style="margin-left: 20px;">
                <p style="margin: 10px 0px 5px; font-size: 20px;color:#666666">企业数目</p>
                <h4 style="margin: 5px 0px 10px;font-size: 26px; font-weight: bold; color: #5e83fb;">89</h4>
            </div>
            </div>
            <div style="display: flex; align-items: center; padding: 10px 0px;border-bottom: 1px solid rgb(238, 238, 238);">
            <i
                class="ice-icon-stable-medium icon2 ice-icon-stable ice-icon-stable-person"
                style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid rgb(238, 238, 238); border-radius: 4px;"
            ></i>
            <div style="margin-left: 20px;">
                <p style="margin: 10px 0px 5px; font-size: 20px;color:#666666">操作人员</p>
                <h4 style="margin: 5px 0px 10px;font-size: 26px; font-weight: bold; color: #5e83fb;">1234</h4>
            </div>
            </div>
        </div>
        
      </div>
      <div class="b-left" id="qyechart" style="overflow:hidden;background:#fff;border-radius:6px;">
        <div  ref="qyechart" style="width:85%;height:100%;">
        </div>
      </div>
      
    </div>
    <div class="bot">
      <div class="b-left">
        <h5 class="logo-title">到期预警</h5>
        <Table  :columns="columns1" class="home-bot" :data="data1"></Table>
      </div>
      <div
        class="container-block"
        style="background-color: rgb(255, 255, 255); border-radius: 6px; padding: 10px 20px;"
      >
        <div>
            <div
            style="display: flex; align-items: center; padding: 10px 0px; border-bottom: 1px solid rgb(238, 238, 238);"
            >
            <i
                class="ice-icon-stable-medium icon1 ice-icon-stable ice-icon-stable-cascades"
                style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid rgb(238, 238, 238); border-radius: 4px;"
            ></i>
            <div style="margin-left: 20px;">
                <p style="margin: 10px 0px 5px; font-size: 20px;color:#666666">设备即将到期</p>
                <h4 style="margin: 5px 0px 10px;font-size: 26px; font-weight: bold; color: red;">22</h4>
            </div>
            </div>
            <div style="display: flex; align-items: center; padding: 10px 0px;border-bottom: 1px solid rgb(238, 238, 238);">
            <i
                class="ice-icon-stable-medium icon2 ice-icon-stable ice-icon-stable-person"
                style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid rgb(238, 238, 238); border-radius: 4px;"
            ></i>
            <div style="margin-left: 20px;">
                <p style="margin: 10px 0px 5px; font-size: 20px;color:#666666">人员即将到期</p>
                <h4 style="margin: 5px 0px 10px;font-size: 26px; font-weight: bold; color: red;">5</h4>
            </div>
            </div>
            <!-- <div style="display: flex; align-items: center; padding: 10px 0px;">
            <i
                class="ice-icon-stable-medium icon3 ice-icon-stable ice-icon-stable-person"
                style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid rgb(238, 238, 238); border-radius: 4px;"
            ></i>
            <div style="margin-left: 20px;">
                <p style="margin: 10px 0px 5px; font-size: 20px;color:#666666">到期预警</p>
                <h4 style="margin: 5px 0px 10px;font-size: 26px; font-weight: bold; color: red;">27</h4>
            </div>
            </div> -->
        </div>
        
      </div>
    </div>
    <!-- <div class="mid">
      <list :data="data" :icon="icon" title="通知"></list>
      <list :data="data" :icon="icon" title="公告"></list>
      <list :data="data" :icon="icon" title="待办事项"></list>
    </div> -->
  </div>
</template>

<script>
import List from "./account/HomeList";
import echarts from 'echarts'
export default {
  data() {
    return {
      columns1: [
        {
          title: "公司名称",
          key: "e",
          align: "center",
          width:240
        },
        {
          title: "到期类型",
          key: "g",
          align: "center"
        },
        {
          title: "到期时间",
          key: "c",
          align: "center"
        },
        {
          title: "距离到期还差",
          key: "d",
          align: "center"
        },
        {
          title: "图片",
          key: "f",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "80px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: "/static/234.png"
                  // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        }
      ],
      data1: [
        {
          a: "陈伟",
          b: "1385172312",
          c: "2019-05-23",
          d: "30天",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "人员到期"
        },
        {
          a: "张斌",
          b: "1385172312",
          c: "2019-05-23	",
          d: "30天",
          e: "淮安新宁公共保税仓储有限公司",
          g: "设备到期"
        },
        {
          a: "王伟",
          b: "1385172312",
          c: "2019-05-23	",
          d: "30天",
          e: "江苏海投生物能源发展有限公司",
          g: "设备到期"
        }
      ],
      data: [
        {
          name: "登记信息收集",
          time: "2018-12-26 "
        },
        {
          name: "石油化工有限公司",
          time: "2018-12-26 "
        },
        {
          name: "金湖县市场监督管理局",
          time: "2018-12-26 "
        },
        {
          name: "金湖县市场监督管理局",
          time: "2018-12-26 "
        },
        {
          name: "金湖县市场监督管理局",
          time: "2018-12-26 "
        }
      ],
      icon: ""
    };
  },
  components: {
    List
  },
  mounted(){
      this.initMap();
      this.initQy();
      
  },
  methods: {
    // initMap(){
    //     let echart = echarts.init(this.$refs.echart);
    //     let option = {
    //             title : {
    //                 text: '',
    //             },
    //             color:'red',
    //             tooltip : {
    //                 trigger: 'axis'
    //             },
    //             legend: {
    //                 orient : 'vertical',
    //                 x : 'right',
    //                 y : 'bottom',
    //                 // data:['预算分配（Allocated Budget）','实际开销（Actual Spending）']
    //             },
    //             polar : [
    //             {
    //                 indicator : [
    //                     { text: '锅炉', max: 6000},
    //                     { text: '压力容器', max: 16000},
    //                     { text: '压力管道', max: 30000},
    //                     { text: '气瓶', max: 38000},
    //                     { text: '电梯', max: 52000},
    //                     { text: '起重机械', max: 25000},
    //                     { text: '场内机动车', max: 10000},
    //                     { text: '大型游乐设施', max: 29000}
    //                 ],
    //                     name:{
    //                         textStyle:{color:'red'}
    //                     },
    //                      radius : '70%',
    //                 }
    //             ],
    //             calculable : true,
    //             series : [
    //                 {
    //                     name: '',
    //                     type: 'radar',
    //                     data : [
    //                         {
    //                             value : [4300, 10000, 28000, 35000, 50000, 19000,6000,10000],
                                
    //                         },
    //                         // {
    //                         //     value : [5000, 14000, 28000, 31000, 42000, 21000,16000,25000],
    //                         //     // name : '实际开销（Actual Spending）'
    //                         // }
    //                     ],
    //                 }
    //             ]
    //         };
    //     echart.setOption(option);
    // }
    initMap(){
        let echart = echarts.init(this.$refs.echart);
        let option = {
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            calculable : true,
            series : [
                {
                    name:'面积模式',
                    type:'pie',
                    // radius : [30, 110],
                    // center : ['75%', 200],
                    roseType : 'area',
                    x: '50%',               // for funnel
                    max: 40,                // for funnel
                    sort : 'ascending',     // for funnel
                    data:[
                        {value:10, name:'锅炉'},
                        {value:5, name:'压力容器'},
                        {value:15, name:'压力管道'},
                        {value:25, name:'气瓶'},
                        {value:20, name:'电梯'},
                        {value:35, name:'起重机械'},
                        {value:30, name:'场内机动车'},
                        {value:40, name:'大型游乐设施'},
                    ],
                    label : {
                      normal : {
                        // formatter: '{b}:{c}: ({d}%)',
                        textStyle : {
                          fontWeight : 'normal',
                          fontSize : 15
                        }
                      }
                    }, 
                }
            ]
        };
                    
        echart.setOption(option);
        window.onresize = function(){
            echart.resize();
        }
    },
    initQy(){
      let echart = echarts.init(this.$refs.qyechart)
      let option = {
          title : {
              text: '企业监督',
              top:'8%'
          },
          tooltip : {
              trigger: 'axis'
          },
          // legend: {
          //     data:['意向','操作人员','企业数目']
          // },
          calculable : true,
          xAxis : [
              {
                  type : 'category',
                  boundaryGap : false,
                  data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          color:['green','#5e83fb'],
          grid:{
            left:'4%',
            right:'4%'
          },
          series : [
              {
                  name:'企业数目',
                  type:'line',
                  smooth:true,
                  itemStyle: {normal: {areaStyle: {type: 'default'}}},
                  data:[10, 12, 21, 54, 260, 830, 710,900,800,899,900,600]
              },
              {
                  name:'操作人员',
                  type:'line',
                  smooth:true,
                  itemStyle: {normal: {areaStyle: {type: 'default'}}},
                  data:[30, 182, 434, 791, 390, 400, 524, 588, 626,675,700,721]
              },
          ]
      };
        echart.setOption(option); 
        window.onresize = function(){
            echart.resize();
        }
    }
  }
};
</script>

<style lang='scss' scoped>
.logo-title {
  height: 16px;
  line-height: 16px;
  font-size: 18px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 0px 0px 20px;
  padding: 0px;
}
.home {
  background: #f2f2f2;
  height: 100%;
  // display: flex;
  // flex-direction: column;
  // overflow: hidden;
  overflow-y: scroll;
}
.Home-List-top {
  background: #fff;
}
.publicItem {
  padding: 6px 0;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    // flex: .5;
    font-size: 14px;
    color: #87888b;
    margin-right: 30px;
  }

  span,
  img {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.top {
  border-radius: 6px;
  flex: 0.6;
  display: flex;
  height: 35%;
  margin: 10px;
  flex-wrap: wrap;
    .tt-left{
        flex: .7;
        background: #fff;
        border-radius: 6px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .top-list:nth-child(1){
            .t-left{
                background: rgb(94, 131, 251);
            }
        }
        .top-list:nth-child(2){
            .t-left{
                background: rgb(247, 218, 71);
            }
        }
        .top-list:nth-child(3){
            .t-left{
                background: rgb(88, 202, 154);
            }
        }
        .top-list:nth-child(4){
            .t-left{
                background: rgb(238, 112, 109);
            }
        }
        .top-list:nth-child(5){
            .t-left{
                background: cadetblue;
            }
        }
        .top-list:nth-child(6){
            .t-left{
                background: thistle;
            }
        }
        .top-list:nth-child(7){
            .t-left{
                background: chocolate;
            }
        }
        .top-list:nth-child(8){
            .t-left{
                background: gray;
            }
        }
        .top-list {
            display: flex;
            width: 25%;
            align-items: center;
            color: rgb(102, 102, 102);
            font-size: 16px;
            // font-weight: 800;
            // flex-direction: column;
            // justify-content: center;
            padding-left: 2%;
            .red {
            color: red;
            margin-left: 2px;
            }
            .t-left {
                height: 60px;
                cursor: pointer;
                width: 60px;
                margin-right: 10px;
                text-align: center;
                padding: 8px 0px;
                border-radius: 8px;
            
            img {
                width: 44px;
                height: 44px;
            }
            }
            .t-right {
            cursor: pointer;
            }
        }
    }
    .tt-right{
        flex: .3;
        height: 100%;
        background: #fff;
        margin-left: 10px;
        border-radius: 6px;
        padding-top: 10px;
    }
}
.mid {
  margin: 10px 0 10px 10px;
  // flex: 0.33;
  height: 42%;
  display: flex;
  #qyechart{
    width: 80% !important;
  }
  #mid-right{
    width:20%;
    background: #fff;
    margin-left: 20px;
    border-radius: 6px;
    padding: 10px 20px;
  }
  .container-block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    // width: 240px;
    width: 20%;
    .logo-title{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &>div{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
    }
    .icon1::after{
            background: url('../../static/更多.png') no-repeat;
            width: 20px;
            height: 20px;
            content: '';
            background-size: 100%;
    }
    .icon2::after{
            background: url('../../static/人员.png') no-repeat;
            width: 20px;
            height: 20px;
            content: '';
            background-size: 100%;
    }
    .icon3::after{
            background: url('../../static/预警.png') no-repeat;
            width: 20px;
            height: 20px;
            content: '';
            background-size: 100%;
    }
  }
  
}
.bot {
  display: flex;
  flex: 0.64;
  height: 40%;
  margin: 10px;
  .b-left {
    padding: 20px 20px 0 20px;
    // flex-grow: .4;
    // flex: 1;
    width: 80%;
    background: #fff;
    border-radius: 6px;
  }
  .container-block {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    // width: 240px;
    width: 20%;
    .logo-title{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &>div{
        display: flex;
        flex:1;
        flex-direction: column;
        justify-content: center;
    }
    .icon1::after{
            background: url('../../static/更多.png') no-repeat;
            width: 20px;
            height: 20px;
            content: '';
            background-size: 100%;
    }
    .icon2::after{
            background: url('../../static/人员.png') no-repeat;
            width: 20px;
            height: 20px;
            content: '';
            background-size: 100%;
    }
  }
}
</style>
<style lang='css'>
.home-bot .ivu-table th {
  background: #ebecf0;
}
.home-bot {
  border: none;
}
.home-bot .ivu-table-tbody .ivu-table-row:last-child .ivu-table-column-center {
  border-bottom: none;
}
.home-bot .ivu-table:before,
.home-bot .ivu-table:after {
  display: none;
}
</style>