<template>
  <div class="main" id="main">
    <div class="left" style="position:relative;">
      <div class="left-t">
        <h5>金湖县特种设备监管平台</h5>
      </div>
      <div class="left-b">
        <Input v-if="!show" type="textarea" v-model="content" :rows="4" />
        <!--淮安市金湖县在用特种设备总数<input class="inputTitle" />台，其中锅炉<input class="inputTitle" />台、压力容器<input class="inputTitle" />台，电梯<input class="inputTitle" />台、起重机械<input class="inputTitle" />台、场（厂）内机动车辆<input class="inputTitle" />台，今年以来，培训特种设备操作人员<input class="inputTitle" />人次。-->
        <!--<div>-->
        <!--淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数淮安市金湖县在用特种设备总数-->
        <!--</div>-->
        <div v-else>{{content}}</div>
      </div>
      <div style="position: absolute;    right: 5%;
    bottom: 33%;">
        <Button v-if="!show" size="small" type="error" @click="save">保存</Button>
        <Button v-else size="small" type="primary" @click="show = false;">编辑</Button>
      </div>
    </div>
    <div class="right" id="right">
      <div class="r-t">
        <div class="yj">预警</div>
        <!-- <el-radio-group v-model="radio" @change="changeChose" class="homeVideo">
          <el-radio label="personal">全部</el-radio>
          <el-radio label="personal">作业证</el-radio>
          <el-radio :label="6">设备</el-radio>
          <el-radio :label="9">配件</el-radio>
        </el-radio-group>-->
        <el-select size="small" style="width:150px;" v-model="query.status" @change="changeTitle">
          <el-option :value="null" label="全部"></el-option>
          <el-option value="0" label="安全附件到期"></el-option>
          <el-option value="1" label="作业证到期"></el-option>
          <el-option value="2" label="设备到期"></el-option>
          <el-option value="3" label="作业证临期"></el-option>
          <el-option value="4" label="设备临期"></el-option>
          <el-option value="5" label="安全附件临期"></el-option>
        </el-select>
      </div>
      <div class="r-b">
        <ul class="item">
          <li class="itemList" @click="clickItem(list)" v-for="list in dataList">
            <!--<Tooltip placement="top" :content="list.compName+'设备检验已经超期'" style="display: flex;">-->
            <!--<div class="i-left" :key="list.id">-->
            <!--<img :src="list.warningType.substr(list.warningType.length-2,list.warningType.length) == '到期'?'../../static/错误.png':'../../static/警告.png'">-->
            <!--</div>-->
            <!--<div class="i-mid">-->
            <!--<h5>{{list.warningType}}</h5>-->
            <!--<div class="text">{{list.compName}}已经{{list.warningType.substr(list.warningType.length-2,list.warningType.length)}}</div>-->
            <!--</div>-->
            <!--<div class="close">-->
            <!--{{list.warningTime}}-->
            <!--</div>-->
            <!--</Tooltip>-->
            <Tooltip
              placement="left"
              max-width="200px"
              :content="list.compName+'设备检验已经超期'"
              style="display: flex;"
            >
              <div class="i-left" :key="list.id">
                <img
                  :src="list.warningType?list.warningType.substr(list.warningType.length-2,list.warningType.length) == '到期'?'../../static/错误.png':'../../static/警告.png':''"
                />
              </div>
              <div class="i-mid">
                <h5>{{list.warningType}}</h5>
                <div
                  class="text"
                >{{list.compName}}&nbsp;已经{{list.warningType?list.warningType.substr(list.warningType.length-2,list.warningType.length):'-'}}</div>
                <div class="close">{{list.warningTime.substr(0,10)}}</div>
              </div>
            </Tooltip>
          </li>
        </ul>
        <Page
          style="margin-top: 10px;margin-bottom:16px;position: relative;
          z-index: 999;"
          class="homeSpe"
          :page-size="query.pageSize"
          :current="query.pageNo"
          @on-change="changeList"
          size="small"
          :total="total"
        />
      </div>
    </div>
    <Modal v-model="showDetail" title="详情" width="1000" class="homeDetail">
      <gl v-if="show1" :form="form"></gl>
      <dt-name v-else-if="show3" :form="form"></dt-name>
      <ylrq v-else-if="show2" :form="form"></ylrq>
      <qzjx v-else-if="show4" :form="form"></qzjx>
      <cncc v-else-if="show5" :form="form"></cncc>
      <ylss v-else-if="show6" :form="form"></ylss>
      <ylgd v-else-if="show8" :form="form"></ylgd>
      <div slot="footer">
        <Button @click="showDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="aqDetail" title="详情">
      <Form :model="form" class="form" label-position="right" :label-width="100">
        <Row>
          <Col span="12">
            <FormItem label="器具名称：">
              <Input v-model="form.appName" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="出厂编号：">
              <Input v-model="form.factoryCode" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="型号规格：">
              <Input v-model="form.spec" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="有效日期：">
              <Input v-model="form.validityDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="检验日期：">
              <Input v-model="form.checkDate" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="aqDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="zyDetail" title="详情">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="文件名称：">
              <Input v-model="form.dname" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件大小：">
              <Input v-model="form.dsize" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件有效期：">
              <Input v-model="form.dvaliditydate" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件上传时间：">
              <Input v-model="form.duploadDate" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="文件类型：">
              <Input v-model="dtype" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="文件类型：" style="border-right: 1px solid #ddd;">
              <Button style="margin-left: 10px;" @click="look" size="small">查看</Button>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="zyzDetail" title="详情" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="证书编号：">
              <Input v-model="form.zsbh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="姓名：">
              <Input v-model="form.xm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="领证人：">
              <Input v-model="form.lzr" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="联系电话：">
              <Input v-model="form.lxdh" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="身份证号：">
              <Input v-model="form.sfzh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业项目：">
              <Input v-model="form.zyxm" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="档案编号：">
              <Input v-model="form.dabh" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="作业种类：">
              <Input v-model="form.zyzl" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="用人单位：">
              <Input v-model="form.yrdw" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="发证机构：">
              <Input v-model="form.fzjg" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="考试机构：">
              <Input v-model="form.ksjg" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="考试类别：">
              <Input v-model="form.kslb" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="有效日期：">
              <Input v-model="form.yxrq" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="批准日期：">
              <Input v-model="form.pzrq" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="zyzDetail = false">取消</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import gl from "./addModel/guolu";
import dtName from "./addModel/dt";
import ylrq from "./addModel/ylrq";
import qzjx from "./addModel/qzjx";
import cncc from "./addModel/cncc";
import ylss from "./addModel/ylss";
import ylgd from "./addModel/ylgd";
export default {
  name: "home-list",
  components: {
    gl,
    dtName,
    ylrq,
    qzjx,
    cncc,
    ylss,
    ylgd
  },
  data() {
    return {
      show: true,
      showDetail: false,
      zyzDetail: false,
      aqDetail: false,
      zyDetail: false,
      form: {},
      content: "",
      radio: "",
      query: {
        pageSize: 6,
        pageNo: 1,
        status: null
      },
      total: 0,
      item: [],
      dataList: [],
      show1: false,
      show2: false,
      show3: false,
      show4: false,
      show5: false,
      show6: false,
      show7: false,
      show8: false,
      wjList: [],
      dtype: ""
    };
  },
  created() {
    this.getInfoMsg();
    this.getDetail();
    this.getWjlx();
  },
  mounted() {
    setTimeout(() => {
      $("#right").css("height", $("#main").height());
    }, 200);
  },
  methods: {
    changeTitle() {
      this.$set(this.query, "pageNo", 1);
      this.getInfoMsg();
    },
    changeList(index) {
      this.query.pageNo = index;
      this.getInfoMsg();
    },
    async getWjlx() {
      let res = await this.$fetch.get("/api/index/getFileTypeDict");
      this.wjList = res.data.result;
    },
    changeChose(val) {
      console.log(this.dataList.filter(item => item.type == val));
    },
    async getInfoMsg() {
      let res = await this.$fetch.get(
        "/api/index/getJgMaturityEarlyWarningList",
        { params: this.query }
      );
      this.dataList = res.data.list;
      this.total = res.data.total;
      // this.dataList  = this.item.slice(0,7);
    },
    async getDetail() {
      let res = await this.$fetch.get("/api/index/getIndexContent");
      if (res.data.result) {
        this.show = true;
        this.content = res.data.result;
      } else {
        this.show = false;
      }
    },
    // 设备详情
    async getDetailMsg(type, id) {
      let res = "";
      res = await this.$fetch.get("/api/glxx/getGlxx", {
        params: { glxxId: id, sbType: type }
      });
      return res.data.result;
    }, // 设作业人
    async getZyMsg(id) {
      let res = "";
      res = await this.$fetch.get("/api/workOrder/getWorkPeople", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
    }, // 安全管理
    async getAqDetail(id) {
      this.form = {};
      let res = "";
      res = await this.$fetch.get("/api/safetyFileTest/getSafetyFileTest", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      for (let i of this.wjList) {
        if (i.BIANMA == res.data.result.dtype) {
          this.dtype = i.NAME;
        }
      }
    },
    clickItem(list) {
      console.log(list);
      if (list.type == "doc") {
        this.aqDetail = true;
        this.getAqDetail(list.id);
      } else if (list.type == "personal") {
        this.zyzDetail = true;
        this.getZyMsg(list.id);
      } else if (list.type == "safetyFile") {
        this.aqDetail = true;
        this.getAqDetail(list.id);
      } else {
        this.show1 = false;
        this.show2 = false;
        this.show3 = false;
        this.show4 = false;
        this.show5 = false;
        this.show6 = false;
        this.show7 = false;
        this.show8 = false;
        switch (list.type) {
          // 锅炉
          case "SB1000":
            this.show1 = true;
            break;
          //压力容器
          case "SB2000":
            // res = await this.$fetch.get('ylrqxx/getYlrqxx',{params:{YlrqxxId:id}})
            this.show2 = true;
            break;
          case "SB3000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show3 = true;
            break;
          case "SB4000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show4 = true;
            break;
          case "SB5000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show5 = true;
            break;
          case "SB6000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show6 = true;
            break;
          //压力管道
          case "SB8000":
            // res = await this.$fetch.get('glxx/getGlxx',{params:{glxxId:id}})
            this.show8 = true;
            break;
        }
        this.showDetail = true;
        $(".homeDetail .ivu-modal-body").scrollTop = 0;
        this.getDetailMsg(list.type, list.id).then(res => {
          this.form = res;
        });
      }
    },
    look() {
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/" + this.form.durl,
        "_blank"
      );
    },
    async save() {
      let res = await this.$fetch.put(
        "/api/index/updateIndexContent?content=" + this.content
      );
      if (res.data.success) {
        this.$Message.success(res.data.message);
        this.getDetail();
      } else {
        this.$Message.error(res.data.message);
      }
    }
  }
};
</script>

<style scoped lang="scss">
.inputTitle {
  width: 30px;
  border: none;
  outline: none;
  line-height: 0;
  border-bottom: 1px solid #999;
}
.main {
  height: 100%;
  display: flex;
  .left {
    flex: 0.7;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .left-t {
      flex: 1;
      background: url("../../static/照片.png") no-repeat 100% top;
      background-position-y: -110px;
      /*background-size:cover;*/
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      h5 {
        padding-top: 9%;
        font-size: 32px;
        color: #ffb033;
        font-weight: 400;
        text-align: center;
      }
    }
    .left-b {
      position: absolute;
      color: #333333;
      font-size: 16px;
      line-height: 1.5;
      width: 80%;
      bottom: 6%;
      height: 180px;
      overflow: hidden;
      left: 15%;
      padding: 30px;
      background: url("../..//static/金湖特种设备详情..png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .right {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    .r-t {
      border-bottom: 1px solid #448eb9;
      display: flex;
      align-items: center;
      .yj {
        color: #fff;
        background: #448eb9;
        width: 70px;
        height: 36px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
      }
    }
    .r-b {
      flex: 1;
      height: 60%;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      /*padding: 16px;*/
      padding: 16px 16px 0 16px;
      &:after {
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        content: "";
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .item {
        flex: 1;
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        position: relative;
        z-index: 999;
        .itemList {
          display: flex;
          background: #fff;
          cursor: pointer;
          border-radius: 8px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
          padding: 16px 10px 10px 10px;
          .i-left {
            flex: 0.1;
          }
          .i-mid {
            flex: 0.8;
            margin-left: 14px;
            width: 0px;

            h5 {
              color: #333333;
              font-weight: bold;
              font-size: 16px;
            }
            .text {
              color: #333333;
              font-size: 14px;
              margin-top: 4px;
              // overflow: hidden; //隐藏
              // white-space: nowrap; //不换行
              // text-overflow: ellipsis; //超出部分省略号
            }
          }
          .close {
            flex: 0.6;
            color: #96999e;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
.homeVideo.el-radio-group {
  .el-radio {
    margin-right: 6px;
  }
}
.homeDetail {
  .ivu-modal-body {
    height: 500px;
    overflow-y: scroll;
  }
}
.homeSpe {
  .ivu-page-next,
  .ivu-page-prev {
    background: none;
  }
  .ivu-page-item {
    color: #333333;
    border-radius: 50%;
    background: none;
    font-size: 14px;
  }
  .ivu-page-item:hover,
  .ivu-page-item-active {
    background: #448eb9;
    a {
      color: #fff;
    }
    border-color: transparent;
  }
  .ivu-page-next a,
  .ivu-page-prev a {
    color: #333 !important;
  }
}
.itemList {
  .ivu-tooltip {
    width: 100%;
    .ivu-tooltip-rel {
      display: flex;
    }
  }
}
</style>
