<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <Input
          v-if="query.dwlb == 0"
          v-model="query.sydwmc"
          placeholder="单位名称"
          style="width: 200px;margin-right: 10px;"
        />
        <Input
          v-if="query.dwlb == 0"
          v-model="query.xxdz"
          placeholder="单位地址"
          style="width: 200px;margin-right: 10px;"
        />
        <Input
          v-if="query.dwlb == 0"
          v-model="query.lxr"
          placeholder="联系人"
          style="width: 200px;margin-right: 10px;"
        />
        <Input
          v-if="query.dwlb == 0"
          v-model="query.lxdh"
          placeholder="联系电话"
          style="width: 200px;margin-right: 10px;"
        />
        <Input
          v-if="query.dwlb != 0"
          v-model="query.frdb"
          placeholder="法人姓名"
          style="width: 200px;margin-right: 10px;"
        />
        <Input
          v-if="query.dwlb != 0"
          v-model="query.dwmc"
          placeholder="单位名称"
          style="width: 200px;margin-right: 10px;"
        />
        <!-- <Select style="width: 200px;;margin-right: 10px;" v-model="query.dwlb">
          <Option :value="0">使用单位</Option>
          <Option :value="1">生产单位</Option>
          <Option :value="2">检验单位</Option>
          <Option :value="3">经营单位</Option>
          <Option :value="4">充装单位</Option>
        </Select>-->
        <Button type="primary" icon="ios-search" @click="query.pageNo = 1;getListMsg()">查询</Button>
        <!-- <Button type="error" icon="md-add" @click.native="addComp(1)" style="margin-left:10px">新增</Button> -->
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <Table
          border
          v-show="!showList"
          :loading="loading"
          :columns="type == 0?columns1:columns2"
          :height="Height"
          :data="data1"
        ></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          :total="query.total"
        />
      </div>
      <div v-show="showList" style="height:100%">
        <div data-v-2b91739e class="wrappper-title">
          <i data-v-2b91739e class="circle"></i>
          <span data-v-2b91739e @click="showList = false;"><&nbsp;&nbsp;返回</span>
        </div>
        <Tabs type="card" style="height:100%;">
          <TabPane label="基本信息" style="height:100%;">
            <Row>
              <Col class="publicItem" span="2">
                <Button type="primary" @click="editSave">保存</Button>
              </Col>
            </Row>
            <Row>
              <Col class="publicItem" span="24">
                <Col class="flex" span="10">
                  <label>单位名称：</label>
                  <Input
                    v-model="query.dwlb == 0?add.sydwmc:add.dwmc"
                    placeholder="请输入单位名称"
                  />
                  <!-- <Input
                    
                    v-model="query.dwlb == 0?add.sydwmc:add.dwmc"
                    placeholder="请输入单位名称"
                  /> -->
                </Col>
                <Col class="flex" span="10">
                  <label>详细地址：</label>
                  <Input
                    v-model="add.xxdz"
                    @on-change="changeDz"
                    placeholder="请输入详细地址"
                  />
                </Col>
              </Col>
              <Col class="publicItem" span="24">
                <Col class="flex" span="10">
                  <label>联系人：</label>
                  <Input
                    
                    v-model="query.dwlb == 0?add.lxr:add.frdb"
                    placeholder="请输入联系人"
                  />
                </Col>
                <Col class="flex" span="10">
                  <label>联系电话：</label>
                  <Input
                    
                    v-model="query.dwlb == 0?add.lxdh:add.dh1"
                    placeholder="请输入联系电话"
                  />
                </Col>
              </Col>
              <Col class="publicItem" span="24">
                <Col class="flex" span="10">
                  <label>安管人员：</label>
                  <Input  v-model="add.agry" placeholder="请输入安管人员" />
                </Col>
                <Col class="flex" span="10">
                  <label>安管人员电话：</label>
                  <Input  v-model="add.agrydh" placeholder="请输入安管人员电话" />
                </Col>
              </Col>
              <Col class="publicItem" span="24">
                <Col class="flex" span="10">
                  <label>是否有特种设备：</label>
                  <!-- <Input  v-model="add.agry" placeholder="请输入安管人员" /> -->
                  <Select v-model="add.starStatus" >
                    <Option value="1">是</Option>
                    <Option value="0">否</Option>
                  </Select>
                </Col>
                <Col class="flex" span="10">
                  <label>企业坐标</label>：
                  <Input :disabled='true' v-model="add.zb" style="width:68%;margin-right:10px;"  placeholder="请输入企业地址" />
                  <Button @click="initMap">查询</Button>
                </Col>
              </Col>
            </Row>
          </TabPane>
          <!--<TabPane label="技术档案资料">-->
          <!--<Row>-->
          <!--<Col class="publicItem" span="12">-->
          <!--<Col class="flex logoImg" span="10" style="margin-right:10px;">-->
          <!--<label style="flex:.5;">使用登记证：</label>-->
          <!--<div>-->
          <!--<img src="../../static/20190521215901.png" @click="show2 = true;src = '../../static/20190521215901.png'">-->
          <!--<Upload action="//jsonplaceholder.typicode.com/posts/">-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
          <!--</div>-->
          <!--</Col>-->
          <!--<Col class="flex logoImg" span="12">-->
          <!--<label style="flex:.6;">特种设备使用登记表：</label>-->
          <!--<div>-->
          <!--<img src="../../static/20190521215901.png" @click="show2 = true;src = '../../static/20190521215901.png'">-->
          <!--<Upload action="//jsonplaceholder.typicode.com/posts/">-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
          <!--</div>-->
          <!--</Col>-->
          <!--</Col>-->
          <!--<Col class="publicItem spe" span="12">-->
          <!--<Col class="flex logoImg" span="12">-->
          <!--<label style="flex:.5;">制造监督检验证书：</label>-->
          <!--<div>-->
          <!--<img src="../../static/20190521215901.png" @click="show2 = true;src = '../../static/20190521215901.png'">-->
          <!--<Upload action="//jsonplaceholder.typicode.com/posts/">-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
          <!--</div>-->
          <!--</Col>-->
          <!--<Col class="flex logoImg" span="12">-->
          <!--<label style="flex:.5;">监督检验证书：</label>-->
          <!--<div>-->
          <!--<img src="../../static/20190521215901.png" @click="show2 = true;src = '../../static/20190521215901.png'">-->
          <!--<Upload action="//jsonplaceholder.typicode.com/posts/">-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
          <!--</div>-->
          <!--</Col>-->
          <!--</Col>-->
          <!--</Row>-->
          <!--<div class="logo-title">-->
          <!--<div>资料</div>-->
          <!--<div data-v-2b91739e="" class="wrappper-title"><button @click="openFile"  data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" ><span>上传</span></button></div>-->
          <!--</div>-->
          <!--<Table width="100%"  border :columns="columns5" :data="data4"></Table>-->
          <!--<div style="width:100%;height:1px;background:#ccc;margin-top:20px;"></div>-->
          <!--<div class="logo-title">-->
          <!--<div>定期检验报告</div>-->
          <!--<div data-v-2b91739e="" class="wrappper-title"><button  @click="openFile" data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" ><span>上传</span></button></div>-->
          <!--</div>-->
          <!--<input type="file" style="display:none;" id='file'>-->
          <!--<Table width="100%"  border :columns="columns5" :data="data7"></Table>-->
          <!--</TabPane>-->
          <!--<TabPane label="人员档案">-->
          <!--<div class="top">-->
          <!--<Input  placeholder="请输入姓名" style="width: 180px" />-->
          <!--<Input  placeholder="请输入联系电话" style="width: 180px" />-->
          <!--<Select style="width: 180px" placeholder="请选择人员类型">-->
          <!--<Option>安全管理员</Option>-->
          <!--<Option>水处理人员</Option>-->
          <!--<Option>作业人员</Option>-->
          <!--</Select>-->
          <!--<Button type="primary" icon="ios-search">查询</Button>-->
          <!--<Button type="error" icon="md-add" @click.native='show = true'>新增</Button>-->
          <!--</div>-->
          <!--<Table width="100%" border :columns="columns4" :data="data3"></Table>-->
          <!--</TabPane>-->
          <!--<TabPane label="内部制度落实">-->
          <!--<div class="top" style="display:flex;align-items:center;">-->
          <!--<Input  placeholder="请输入名称" style="width: 180px" />-->
          <!--<Button type="primary" icon="ios-search">查询</Button>-->
          <!--<Upload style="margin-left:10px;" action="//jsonplaceholder.typicode.com/posts/">-->
          <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
          <!--</Upload>-->
          <!--&lt;!&ndash; <div data-v-2b91739e="" class="wrappper-title" style="float:left;"><button  @click="show = true" data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" style="float: left; margin: 2px 10px 0px 0px;"><span>上传</span></button></div> &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash; <div data-v-2b91739e="" class="wrappper-title"><button  @click="show = true" data-v-2b91739e="" type="button" class="el-button el-button&#45;&#45;primary el-button&#45;&#45;mini is-plain" style="float: left; margin: 2px 10px 0px 0px;"><span>上传</span></button></div> &ndash;&gt;-->
          <!--<Table width="100%"  border :columns="columns5" :data="data5"></Table>-->
          <!--</TabPane>-->
        </Tabs>
      </div>
    </div>
    <Modal v-model="show" :title="compTitle" @on-ok="editSave">
      <Row>
        <Col class="editFlex" span="24">
          <label>企业名称</label>：
          <Input v-model="edit.sydwmc" placeholder="请输入企业名称" :disabled="isEdit" />
        </Col>
        <Col class="editFlex" span="24">
          <label>企业地址</label>：
          <Input v-model="edit.xxdz" placeholder="请输入企业地址" />
        </Col>
        <Col class="editFlex" span="24">
          <label>企业坐标</label>：
          <div style="flex:1">
            <Input v-model="edit.zb" style="width: 82%;" placeholder="请输入企业地址" />
            <Button @click="initMap">查询</Button>
          </div>
        </Col>
        <Col class="editFlex" span="24">
          <label>负责人姓名</label>：
          <Input v-model="edit.lxr" placeholder="请输入组织机构代码" />
        </Col>
        <Col class="editFlex" span="24">
          <label>负责人联系电话</label>：
          <Input v-model="edit.lxdh" placeholder="请输入法人姓名" />
        </Col>
        <Col class="editFlex" span="24">
          <label>安全管理员姓名</label>：
          <Input v-model="edit.agry" placeholder="请输入法人电话号码" />
        </Col>
        <Col class="editFlex" span="24">
          <label>安全管理员电话</label>：
          <Input v-model="edit.agrydh" placeholder="请输入法人电话号码" />
        </Col>
        <!--<Col class="editFlex"  span="24">-->
        <!--<label>企业图片</label>：-->
        <!--<div style="flex:1;">-->
        <!--<Upload style="display: flex;align-items: center;" action="" :before-upload="beforeUpload">-->
        <!--<Button icon="ios-cloud-upload-outline">上传</Button>-->
        <!--</Upload>-->
        <!--</div>-->
        <!--</Col>-->
        <!-- <Col span="24">
          <img :src="srcList" @click="show2 = true;src = srcList" style="width: 100px;cursor: pointer;">
        </Col>-->
      </Row>
      <div slot="footer">
        <Button type="error" @click="show = false;">取消</Button>
        <Button type="primary" @click="editSave">保存</Button>
      </div>
    </Modal>
    <Modal v-model="modal9" title="地图" width="1000">
      <!-- <div>
        坐标：
        <Input v-model="add.zb" style="width: 200px;margin-bottom: 10px;" />
      </div> -->
      <div id="map" style="height: 500px;"></div>
    </Modal>
    <!-- <Modal
      v-model="show"
      :title="title"
      width="850"
      @on-ok="addComp"
    >
      <Form :model="form" class="form" label-position="right" :label-width="140">
        <Row>
          <Col span="12">
          <FormItem label="使用单位系统编号：">
            <Input v-model="form.input1" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="单位名称：">
            <Input v-model="form.input2" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="组织机构代码：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="责任主体类别：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="邮政编码：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="单位档案编号：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="所在地区：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="详细地址：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="部门名称：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="邮政编码：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="所在地区：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="所在地址：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="联系人：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12">
          <FormItem label="联系电话：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="安管人员：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12" class="lastBorder">
          <FormItem label="安管人员电话：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
          <FormItem label="最后修改时间：">
            <Input v-model="form.input3" />
          </FormItem>
          </Col>
          <Col span="12"></Col>
        </Row>
      </Form>
    </Modal>-->
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      model1: "",
      modal9: false,
      show: false,
      compTitle: "",
      Height: null,
      title: "",
      showList: false,
      dis: 0,
      numList: 0,
      form: {},
      edit: {},
      columns11: [
        {
          type: "index",
          width: 70,
          align: "center",
          title: "序号"
        },
        {
          title: "单位名称",
          key: "a",
          align: "center",
          width: 120
        },
        {
          title: "详细地址",
          key: "b",
          width: 260,
          align: "center"
        },
        {
          title: "所在地区",
          key: "c",
          align: "center"
        },
        {
          title: "联系人",
          key: "d",
          align: "center"
        },
        {
          title: "联系电话",
          key: "d",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params);
                    }
                  }
                },
                "修改"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  on: {
                    click: () => {}
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data11: [
        {
          a: "王清",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "李伟",
          b: "320102199208042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy.jpg"
        },
        {
          a: "张峰",
          b: "320102198808042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "王斌",
          b: "320102196508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        },
        {
          a: "陈伟",
          b: "320102197508042912",
          c: "1384124231",
          d: "安全负责人",
          e: "../../static/boy1.jpg"
        }
      ],
      columns1: [
        {
          type: "index",
          width: 70,
          align: "center",
          title: "序号"
        },
        {
          title: "单位名称",
          key: "sydwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        },
        {
          title: "详细地址",
          key: "xxdz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.xxdz
                  }
                },
                params.row.xxdz
              )
            ]);
          }
        },
        {
          title: "联系人",
          key: "lxr",
          align: "center",
          width: "100",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.lxr
                  }
                },
                params.row.lxr
              )
            ]);
          }
        },
        {
          title: "联系电话",
          key: "lxdh",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.lxdh
                  }
                },
                params.row.lxdh
              )
            ]);
          }
        },
        {
          title: "安全管理员姓名",
          key: "agry",
          align: "center",
          width: "160",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.agry
                  }
                },
                params.row.agry
              )
            ]);
          }
        },
        {
          title: "安全管理员手机",
          key: "agrydh",
          align: "center",
          width: "160",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.agrydh
                  }
                },
                params.row.agrydh
              )
            ]);
          }
        },
        {
          title: '操作',
          key: 'cz',
          align: 'center',
          width: 200,
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.showTitle(params.row.sydwid);
                  }
                }
              }, '编辑'),
            ]);
          }
        },
      ],
      columns2: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "单位名称",
          key: "dwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.dwmc
                  }
                },
                params.row.dwmc
              )
            ]);
          }
        },
        {
          title: "详细地址",
          key: "zcdz",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.zcdz
                  }
                },
                params.row.zcdz
              )
            ]);
          }
        },
        {
          title: "联系人",
          key: "frdb",
          align: "center"
        },
        {
          title: "联系电话",
          key: "dh1",
          align: "center"
        },
        {
          title: "安全管理员姓名",
          key: "LXDH",
          align: "center"
        },
        {
          title: "联系电话",
          key: "LXDH",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(params.row.unitinformationId);
                    }
                  }
                },
                "详情"
              )
            ]);
          }
        }
      ],
      data1: [],
      loading: false,
      add: {},
      data2: [
        {
          title: "全部",
          loading: false,
          number: 0,
          children: []
        }
      ],
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        DQDM: 320831,
        dwlb: 0
      },
      type: 0
    };
  },
  computed: {
    isEdit() {
      return this.compTitle == "编辑";
    }
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 200);
  },
  created() {
    // this.getInfoMsg();
    this.getListMsg();
  },
  methods: {
    changeDz(val) {
      let _this = this;
      if (this.add.xxdz) {
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上,并调整地图视野
        myGeo.getPoint(
          _this.add.xxdz,
          function(point) {
            if (point) {
              // map.centerAndZoom(point, 16);
              // map.addOverlay(new BMap.Marker(point));
              // _this.edit.zb = point.lng + "," + point.lat;
              _this.$set(_this.add, "zb", point.lng + "," + point.lat);
              _this.$set(_this.add, "longitude", point.lng);
              _this.$set(_this.add, "latitude", point.lat);
            } else {
              alert("您选择地址没有解析到结果!");
            }
          },
          "江苏省"
        );
      }
    },
    initMap() {
      let _this = this;
      this.modal9 = true;
      var map = new BMap.Map("map");
      map.centerAndZoom("南京", 12);

      //单击获取点击的经纬度
      map.addEventListener("click", function(e) {
        _this.$set(_this.add, "zb", e.point.lng + "," + e.point.lat);
        console.log(_this.add.zb)
        // _this.marker.(e.point.lng + "," + e.point.lat)
        // _this.marker.point.lng = e.point.lng
        // _this.marker.point.lat = e.point.lat
        // _this.$set(_this.marker.point,'lng',e.point.lng )
        // _this.$set(_this.marker.point,'lat',e.point.lat )
        map.removeOverlay(_this.marker);
        var maker2 = new BMap.Icon(
          "../../static/green.jpg",
          new BMap.Size(30, 34)
        );
        _this.marker = new BMap.Marker(
          new BMap.Point(e.point.lng, e.point.lat),
          { icon: maker2 }
        );
        map.addOverlay(_this.marker);
      });
      var data_info = [
        [
          119.300988,
          33.079899,
          "地址：北京市东城区王府井大街88号乐天银泰百货八层"
        ],
        [118.991659, 33.007891, "地址：北京市东城区东华门大街"],
        [118.971604, 33.023393, "地址：北京市东城区正义路甲5号"]
      ];
      _this.opts = {
        width: 250, // 信息窗口宽度
        height: 250, // 信息窗口高度
        enableMessage: true //设置允许信息窗发送短息
      };
      var maker2 = new BMap.Icon(
        "../../static/green.jpg",
        new BMap.Size(30, 34)
      );
      // for(var i=0;i<data_info.length;i++){
      _this.marker = new BMap.Marker(
        new BMap.Point(_this.add.zb.split(",")[0], _this.add.zb.split(",")[1]),
        { icon: maker2 }
      ); // 创建标注
      map.addOverlay(_this.marker); // 将标注添加到地图中
      setTimeout(() => {
        if (_this.add.zb) {
          let s = {
            lng: _this.add.zb.split(",")[0],
            lat: _this.add.zb.split(",")[1]
          };
          // map.centerAndZoom(new BMap.Point(s.lng, s.lat), 12);
          map.panTo(new BMap.Point(s.lng, s.lat));
        } else {
          map.centerAndZoom("南京", 12);
        }
      }, 1000);

      // _this.addClickHandler(content,marker);
      // }
    },
    // 新增公司
    addComp(num) {
      if (num == 1) {
        this.compTitle = "新增";
      } else {
        this.compTitle = "编辑";
      }
      this.show = true;
    },
    // initMap() {
    //   let _this = this;
    //   this.modal9 = true;
    //   var map = new BMap.Map("map");
    //   map.centerAndZoom("南京", 12);
    //   //单击获取点击的经纬度
    //   map.addEventListener("click", function(e) {
    //     _this.$set(_this.edit, "zb", e.point.lng + "," + e.point.lat);
    //   });
    //   var data_info = [
    //     [
    //       119.300988,
    //       33.079899,
    //       "地址：北京市东城区王府井大街88号乐天银泰百货八层"
    //     ],
    //     [118.991659, 33.007891, "地址：北京市东城区东华门大街"],
    //     [118.971604, 33.023393, "地址：北京市东城区正义路甲5号"]
    //   ];
    //   _this.opts = {
    //     width: 250, // 信息窗口宽度
    //     height: 250, // 信息窗口高度
    //     enableMessage: true //设置允许信息窗发送短息
    //   };
    //   var maker2 = new BMap.Icon(
    //     "../../static/green.jpg",
    //     new BMap.Size(30, 34)
    //   );
    //   var marker = new BMap.Marker(
    //     new BMap.Point(_this.edit.longitude, _this.edit.latitude),
    //     { icon: maker2 }
    //   ); // 创建标注
    //   map.addOverlay(marker); // 将标注添加到地图中
    // },
    async editSave() {
      let data = [];
      
      if (this.add.zb) {
        this.add.latitude = this.add.zb.split(",")[1];
        this.add.longitude = this.add.zb.split(",")[0];
      }
      this.add.type = "sydw";
      let res = await this.$fetch.put(
        "/api/sydwjcxx/updateSydwjcxx?longitude=" +
          this.add.longitude +
          "&latitude=" +
          this.add.latitude +
          "&address=" +
          this.add.xxdz +
          "&type=sydw",
        this.add
      );
      console.log(res);
      if (res.data.success) {
        this.show = false;
        this.$Message.success(res.data.message);
        this.getListMsg();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    changeList(val) {
      this.type = val;
    },
    async getListMsg() {
      this.loading = true;
      let res = "";
      this.type = this.query.dwlb;
      if (this.query.dwlb == 0) {
        res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx2", {
          params: this.query
        });
      } else {
        res = await this.$fetch.get(
          "/api/unitinformation/listUnitinformationEntity",
          { params: this.query }
        );
      }
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getListMsg();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getListMsg();
    },
    async getDetail(id) {
      let res1 = "";
      let res2 = "";
      if (this.query.dwlb == 0) {
        res1 = await this.$fetch.get("/api/sydwjcxx/getSydwjcxx", {
          params: { sydwid: id }
        });
        res2 = await this.$fetch.get("/api/mapInfo/listPositionVo", {
          params: { fid: id, queryType: "SYDW" }
        });
        console.log(res1, res2);
      } else {
        res = await this.$fetch.get(
          "/api/unitinformation/getUnitinformationEntity",
          { params: { unitinformationId: id } }
        );
      }
      this.add = Object.assign({},  res2.data.list[0],res1.data.result);
      this.edit = this.add;
      this.add.zb =
        res2.data.list[0].longitude + "," + res2.data.list[0].latitude;
        this.$set(this.add,'longitude', res2.data.list[0].longitude)
        this.$set(this.add,'latitude', res2.data.list[0].latitude)
    },
    openFile() {
      document.getElementById("file").click();
    },
    showTitle(id) {
      //  this.numList = 1;
      // if(num == 1){
      //     this.title = '新增';
      //     this.edit = {};
      //     this.show = true;
      // }else{
      //     this.title = '修改';
      //     this.showList = true;
      // }
      // if(y){
      //     this.numList = 0;
      // }
      this.showList = true;
      this.getDetail(id);
    }
  }
};
</script>

<style lang="scss">
</style>
<style lang='scss' scoped>
.left:hover {
  overflow-y: scroll;
  transition: all 0.5s;
}
.logo-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.ivu-tabs-content {
  height: 100%;
}
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.25;
    font-size: 14px;
    color: #87888b;
    margin-right: 10px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  background: #fff;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.16;
  }
  .right {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1px;
    .mid {
      margin-top: 10px;
      flex: 1;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
