<template>
  <div style="padding:10px;">
    <!--<div class="top"  style="margin-bottom:10px;">-->
    <el-date-picker
      v-model="query.date"
      size="small"
      type="date"
      value-format="yyyy-MM-dd"
      placeholder="请选择发布日期"
    ></el-date-picker>
    <Input v-model="query.unit" placeholder="单位名称" style="width: 200px" />
    <Input v-model="query.number" placeholder="编号" style="width: 200px" />
    <Input v-model="query.numbers" placeholder="文号" style="width: 200px" />
    <!--<Select v-model="query.isRelease"  style="width:160px" placeholder="是否发布">-->
    <!--<Option value="0">未发布</Option>-->
    <!--<Option value="1">已发布</Option>-->
    <!--</Select>-->
    <!--<DatePicker type="date" placeholder="请选择到期时间" style="width: 160px"></DatePicker>-->
    <!--<Button type="primary" icon="ios-search">查询</Button>-->
    <!--&lt;!&ndash;<Button type="error" icon="ios-edit" @click="add">批量发布</Button>&ndash;&gt;-->
    <!--</div>-->
    <Button type="primary" icon="ios-search" @click="getInfoMsg">查询</Button>
    <Button type="success" icon="ios-add" @click="add">新增</Button>
    <Table
      ref="table"
      @on-row-click="clickRow"
      :loading="loading"
      :columns="columns1"
      border
      class="home-bot"
      style="margin-top:10px;"
      :data="data1"
      height="550"
    ></Table>
    <Page
      style="margin-top: 10px;text-align: center;"
      :total="query.total"
      @on-change="changePageNo"
      :page-size="query.pageSize"
    ></Page>
    <Modal v-model="show" title="查看任务详情">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查名称：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="截止时间：">
              <DatePicker type="date" placeholder="选择截止日期" style="width: 100%;"></DatePicker>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </Modal>
    <Modal v-model="rwDetail" :title="title1" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="被检查单位：">
              <Input v-model="form.orgName" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="法定代表人：">
              <Input v-model="form.legalName" :disabled="disabled" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="地址：">
              <Input v-model="form.address" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="联系人：">
              <Input v-model="form.contacts" :disabled="disabled" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="职务：">
              <Input v-model="form.duty" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="电话号码：">
              <Input v-model="form.telphone" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row v-if="title1 == '新增'">
          <Col span="24">
            <FormItem label="执行人员：">
              <Select>
                <Option></Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="任务描述：" class="textareaList">
              <Input v-model="form.taskDesc" :disabled="disabled" type="textarea" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="success" v-if="title1 == '新增'">保存</Button>
        <Button type="error" @click="rwDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="jcDetail" title="查看" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查日期：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="hengList" label="被检查单位信息"></FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>asdasd</FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="检查设备类别" class="hengList"></FormItem>
          </Col>
        </Row>
        <Table :columns="columns3" border class="home-bot" :data="data3"></Table>
        <Row>
          <Col span="24">
            <FormItem label="主要问题：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="处理措施：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="备注：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="error" @click="jcDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="detailAdd" :title="title" width="734" height="800">
      <div id="zhongxin" v-if="title  == '详情'">
        <div align="center">
          <h1>特种设备安全监察指令书</h1>
        </div>
        <div align="center">
          <h4>({{form.abbreviation}})质监特令 [{{form.year}}] 第 {{form.numbers}} 号</h4>
        </div>
        <div align="left" style="font-size: 22px;">{{form.unit}}:</div>
        <div>
          <p>
            经检查,你单位在特种设备安全方面存在下列问题：
            <u>{{form.deviceProblem}}</u>
          </p>
        </div>
        <br />
        <div>
          <p>
            上述问题违反了
            <u>{{form.breakLawName}}{{form.breakLawContent}}</u>的规定，根据
            <u>
              {{form.dealLawName}}
              {{form.dealLawContent}}
            </u> 的规定，责令你单位（个人）于
            <u>{{form.dealDate}}</u> 前采取以下措施予以改正或者消除事故隐患：
            <u>{{form.dealContent}}</u>
          </p>
        </div>
        <div>
          <p>
            如对本指令书不服，可在接到指令书之日起60日之内向
            <u>{{form.applyOrg}}</u> 申请行政复议，或者于6个月内向
            <u>{{form.applyCourt}}</u> 人民法院提起行政诉讼。复议和起诉期间，不得停止消除事故隐患。
          </p>
        </div>
        <br />
        <div>
          <p>检查人员签名：</p>
        </div>
        <br />
        <div>
          <p>被检查单位（负责人）签名:</p>
        </div>
        <br />
        <br />
        <br />

        <div align="right">
          <p>(特种设备安全监管部门公章或者安全监察专用章)</p>
        </div>
        <div align="right">
          <p>{{form.date}}</p>
        </div>
        <div align="left">
          <hr />
        </div>
        <div align="left">
          <p>备注：本指令书一式两份，发出部门，被检查单位各一份。</p>
        </div>
      </div>
      <div id="zhongxin" v-else>
        <div align="center">
          <h1>特种设备安全监察指令书</h1>
        </div>
        <div align="center">
          <h4>
            (
            <Input placeholder v-model="form.abbreviation" size="small" style="width: 60px;" />)质监特令 [
            <Input placeholder v-model="form.year" size="small" style="width: 60px;" />] 第
            <Input placeholder v-model="form.numbers" size="small" style="width: 60px;" />号
          </h4>
        </div>
        <div align="left" style="font-size: 22px;    display: flex;">
          <Input placeholder v-model="form.unit" size="small" style="width: 100px;" />:
        </div>
        <div>
          <p>
            经检查,你单位在特种设备安全方面存在下列问题：
            <u>
              <Input placeholder v-model="form.deviceProblem" size="small" style="width: 100px;" />
            </u>
          </p>
        </div>
        <br />
        <div>
          <p>
            上述问题违反了
            <u>
              <Input
                placeholder
                v-model="form.breakLawName"
                size="small"
                style="width: 100px;margin-right: 6px;"
              />
              <Input
                placeholder
                v-model="form.breakLawContent"
                size="small"
                style="width: 100px;margin-right: 6px;"
              />
            </u>的规定，根据
            <u>
              <Input
                placeholder
                v-model="form.dealLawName"
                size="small"
                style="width: 100px;margin-right: 6px;"
              />
              <Input
                placeholder
                v-model="form.dealLawContent"
                size="small"
                style="width: 100px;margin-right: 6px;"
              />
            </u> 的规定，责令你单位（个人）于
            <u>
              <el-date-picker
                v-model="form.dealDate"
                type="date"
                size="small"
                value-format="yyyy-MM-dd"
                style="width: 150px;"
                placeholder="选择日期"
              ></el-date-picker>
            </u> 前采取以下措施予以改正或者消除事故隐患：
            <u>
              <Input
                placeholder
                v-model="form.dealContent"
                size="small"
                style="width: 100px;margin-right: 6px;"
              />
            </u>
          </p>
        </div>
        <div>
          <p>
            如对本指令书不服，可在接到指令书之日起60日之内向
            <u>
              <Input placeholder v-model="form.applyOrg" size="small" style="width: 100px;" />
            </u> 申请行政复议，或者于6个月内向
            <u>
              <Input placeholder v-model="form.applyCourt" size="small" style="width: 100px;" />
            </u> 人民法院提起行政诉讼。复议和起诉期间，不得停止消除事故隐患。
          </p>
        </div>
        <br />
        <div>
          <p>检查人员签名：</p>
        </div>
        <br />
        <div>
          <p>被检查单位（负责人）签名:</p>
        </div>
        <br />
        <br />
        <br />

        <div align="right">
          <p>(特种设备安全监管部门公章或者安全监察专用章)</p>
        </div>
        <div align="right">
          <p>
            <el-date-picker
              v-model="form.date"
              type="date"
              size="small"
              value-format="yyyy-MM-dd"
              style="width: 150px;"
              placeholder="选择日期"
            ></el-date-picker>
          </p>
        </div>
        <div align="left">
          <hr />
        </div>
        <div align="left">
          <p>备注：本指令书一式两份，发出部门，被检查单位各一份。</p>
        </div>
      </div>
      <div slot="footer">
        <Button type="error" @click="detailAdd = false;">取消</Button>
        <Button type="primary" :loading="buttonShow" v-if="title != '详情'" @click="addSubmit">保存</Button>
      </div>
    </Modal>
    <Modal v-model="show222" title="选择企业" width="600" @on-ok="selectSb">
      <div style="text-align:center;">
        <Select
          class="selectDDDD"
          filterable
          v-model="form.rcjdjcjhxfid"
          style="width:180px;"
          placeholder="请选择企业"
        >
          <Option v-for="(list,index) in sblxItem" :key="index" :value="list.zzjgdm">{{list.sydwmc}}</Option>
        </Select>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      detailAdd: false,
      show222: false,
      rwDetail: false,
      jcDetail: false,
      disabled: true,
      title1: "",
      value1: "",
      form: {},
      sblxItem: [],
      winHeight: null,
      query: {
        pageSize: 10,
        pageNo: 1
      },
      loading: false,
      show: false,
      title: "",
      columns1: [
        {
          // type: 'selection',
          type: "index",
          label: "序号",
          width: 60,
          align: "center"
        },
        {
          title: "发布日期",
          key: "date",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.date
                  }
                },
                params.row.date
              )
            ]);
          }
        },
        {
          title: "编号",
          key: "number",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.number
                  }
                },
                params.row.number
              )
            ]);
          }
        },
        {
          title: "文号",
          key: "numbers",
          align: "center"
        },
        {
          title: "单位",
          key: "unit",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.unit
                  }
                },
                params.row.unit
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.detailAdd = true;
                      this.title = "详情";
                      this.getDetail(params.row.instructionId);
                    }
                  }
                },
                "指令书"
              )
              // h(
              //   "Button",
              //   {
              //     props: {
              //       type: "primary",
              //       size: "small"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.detailAdd = true;
              //         this.title = "编辑";
              //         this.getDetail(params.row.instructionId);
              //       }
              //     }
              //   },
              //   "编辑"
              // ),
              // h(
              //   "Button",
              //   {
              //     props: {
              //       type: "error",
              //       size: "small"
              //     },
              //     style: {
              //       marginRight: "5px"
              //     },
              //     on: {
              //       click: () => {
              //         this.$Modal.confirm({
              //           title: "警告",
              //           content: "是否确认删除？",
              //           onOk: () => {
              //             this.delete(params.row.instructionId);
              //           }
              //         });
              //       }
              //     }
              //   },
              //   "删除"
              // )
            ]);
          }
        }
      ],
      data1: [],
      columns2: [
        {
          title: "被检查单位名称",
          key: "e",
          align: "center"
        },
        {
          title: "电话号码",
          key: "e",
          align: "center"
        },
        {
          title: "执行人员",
          key: "e",
          align: "center"
        },
        {
          title: "状态",
          key: "e",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.title1 = "查看";
                      this.rwDetail = true;
                    }
                  }
                },
                "任务详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.jcDetail = true;
                    }
                  }
                },
                "检查详情"
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          title: "序号",
          key: "index",
          width: 80,
          align: "center"
        },
        {
          title: "抽查设备名称",
          key: "e",
          align: "center"
        },
        {
          title: "使用登记代码",
          key: "e",
          align: "center"
        },
        {
          title: "图片",
          key: "e",
          align: "center",
          render: (h, params) => {
            return h("img", {
              attrs: {
                src: "/static/错误.png"
              },
              style: {
                width: "40px",
                height: "40px"
              }
            });
          }
        }
      ],
      buttonShow: false,
      data2: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ],
      data3: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ]
    };
  },
  created() {
    this.getInfoMsg();
    this.getAllList();
  },
  methods: {
    clickRow(data, index) {
      this.$refs.table.toggleSelect(index);
    },

    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getInfoMsg();
    },
    async delete(id) {
      let res = await this.$fetch.delete(
        "/api/instruction/deleteInstructionEntity",
        { params: { instructionId: id } }
      );
      if (res.data.success) {
        this.$Message.success("操作成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error("操作失败！");
      }
    },
    async getInfoMsg() {
      this.loading = true;
      // let res = await this.$fetch.get(
      //   "/api/instruction/listInstructionEntity",
      //   this.query
      // );
      let res = await this.$fetch.post(
        "/api/instruction/listInstructionEntity2?pageSize=" +
          this.query.pageSize +
          "&pageNo=" +
          this.query.pageNo,
        this.query
      );
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async getDetail(id) {
      let res = await this.$fetch.get("/api/instruction/getInstructionEntity", {
        params: { instructionId: id }
      });
      this.form = Object.assign({}, res.data.result);
    },
    selectSb(data, index) {
      this.title = "新增";
      let _this = this;
      let dataItem = this.sblxItem.filter(
        item => item.zzjgdm == _this.form.rcjdjcjhxfid
      );
      this.$set(this.form, "unit", dataItem[0].sydwmc);
      this.detailAdd = true;
    },
    async getAllList() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3", this.form);
      this.sblxItem = res.data.result;
    },
    async addSubmit() {
      this.buttonShow = true;
      let res = "";
      if (this.title == "新增") {
        this.$set(this.form, "zzjgdm", this.form.rcjdjcjhxfid);
        res = await this.$fetch.post(
          "/api/instruction/addInstructionEntity",
          this.form
        );
      } else {
        res = await this.$fetch.put(
          "/api/instruction/updateInstructionEntity",
          this.form
        );
      }
      if (res.data.success) {
        this.detailAdd = false;
        this.$Message.success("保存成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error(res.data.message);
      }
      this.buttonShow = false;
    },
    async fb(form) {
      form.isRelease = 1;
      let res = await this.$fetch.put("/api/rcjdjcjhxf/updateRcjdjcjhxf", form);
      if (res.data.success) {
        this.$Message.success("发布成功");
        this.getInfoMsg();
      }
    },
    add() {
      this.title = "新增";
      this.show222 = true;
      this.form = {};
    },
    addTwo() {
      this.title1 = "新增";
      this.rwDetail = true;
    }
  }
};
</script>

<style lang="scss">
.jctzDetail {
  .ivu-modal-body {
    height: 700px;
  }
}
.hengList {
  .ivu-form-item-label {
    width: 100% !important;
    text-align: center;
    border-right: 1px solid #ddd;
  }
}
.labelNoList {
  .ivu-form-item-content {
    margin-left: 0px !important;
    border-right: 1px solid #ddd;
    padding-left: 20px;
  }
}
.selectDDDD {
  .ivu-select-dropdown {
    min-width: 300px;
  }
}
</style>
<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mid {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
