<template>
  <div style="padding:10px;">
    <!--<div class="top"  style="margin-bottom:10px;">-->
    <div style="margin-bottom: 10px;">
      <Input
        v-model="query.orgName"
        placeholder="被检查单位名称"
        style="width: 160px;margin-right: 10px;"
      />
      <Select
        v-model="query.publishStatus"
        style="width:160px;margin-right: 10px;"
        placeholder="全部"
      >
        <Option value=" ">全部</Option>
        <Option value="0">未发布</Option>
        <Option value="1">已发布</Option>
      </Select>
      <Button type="primary" icon="ios-search" style="margin-right: 10px;" @click="getInfoMsg">查询</Button>
      <Button type="success" icon="ios-add" @click="add">新增</Button>
    </div>
    <!--<DatePicker type="date" placeholder="请选择到期时间" style="width: 160px"></DatePicker>-->

    <!--&lt;!&ndash;<Button type="error" icon="ios-edit" @click="add">批量发布</Button>&ndash;&gt;-->
    <!--</div>-->
    <Table
      ref="table"
      @on-row-click="clickRow"
      :loading="loading"
      :columns="columns1"
      border
      class="home-bot"
      :data="data1"
      height="550"
    ></Table>
    <Page
      style="margin-top: 10px;text-align: center;"
      :total="query.total"
      @on-change="changePageNo"
      :page-size="query.pageSize"
    ></Page>
    <Modal v-model="show" :title="title">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查名称：">
              <Input v-model="form.input1" :disabled="disabled" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="截止时间：">
              <DatePicker type="date" placeholder="选择截止日期" style="width: 100%;"></DatePicker>
            </FormItem>
          </Col>
        </Row>
      </Form>
    </Modal>
    <Modal v-model="rwDetail" :title="title1" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查通知名称：">
              <Input v-model="form.name" />
            </FormItem>
          </Col>
        </Row>
        <!-- <Row>
          <Col span="24">
            <FormItem class="spelDet" label="被检查单位：">
              <div
                class="orgNameH"
                style="width: 100%;border-right: 1px solid #616161;padding-left: 10px;cursor: pointer;"
                @click="showDetail"
              >{{this.form.orgName?this.form.orgName:'请选择被检查单位'}}</div>
            </FormItem>
          </Col>
        </Row>-->
        <!-- <Row>
          <Col span="12">
            <FormItem label="法定代表人：">
              <Input v-model="form.legalName" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="地址：">
              <Input v-model="form.address" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="联系人：">
              <Input v-model="form.contacts" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="职务：">
              <Input v-model="form.duty" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="电话号码：">
              <Input v-model="form.telphone" />
            </FormItem>
          </Col>
        </Row>-->
        <!--<Row >-->
        <!--<Col span="24">-->
        <!--<FormItem label="执行人员：">-->
        <!--<Select v-model="form.ecuName">-->
        <!--<Option v-for="(list,index) in peopList" :key="index" :value="list.realname">{{list.realname}}</Option>-->
        <!--</Select>-->
        <!--</FormItem>-->
        <!--</Col>-->
        <!--</Row>-->
        <Row>
          <Col span="24">
            <FormItem label="任务描述：" class="textareaList">
              <Input v-model="form.adescribe" type="textarea" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="error" @click="rwDetail = false;">取消</Button>
        <Button type="primary" :loading="buttonShow" v-if="title1 != '详情'" @click="save">保存</Button>
      </div>
    </Modal>
    <Modal v-model="jcDetail" title="查看" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem label="检查日期：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="hengList" label="被检查单位信息"></FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem class="labelNoList" label>asdasd</FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="检查设备类别" class="hengList"></FormItem>
          </Col>
        </Row>
        <Table :columns="columns3" border class="home-bot" :data="data3"></Table>
        <Row>
          <Col span="24">
            <FormItem label="主要问题：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="处理措施：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="备注：">
              <Input v-model="form.input1" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="error" @click="jcDetail = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="detailAdd" :title="title" width="1200" class="jctzDetail">
      <div class="detail">
        <div class="top">
          <Input placeholder="关键词" suffix="ios-search" style="width: 200px;" />
          <Select placeholder="公司名称" suffix="ios-search" style="width: 200px;">
            <Option></Option>
          </Select>
          <Button type="success" icon="ios-add" @click="addTwo">新增</Button>
        </div>
        <div class="mid" ref="mid">
          <Table border :loading="loading" :columns="columns2" :height="winHeight" :data="data2"></Table>
        </div>
      </div>
    </Modal>
    <Modal v-model="show222" title="选择企业" width="800" @on-ok="addSave">
      <!-- <div>
        <Input
          placeholder="输入公司名称"
          v-model="query1.sydwmc"
          style="width: 160px;margin-bottom: 10px;margin-right: 10px;"
        />
        <Button
          type="primary"
          icon="ios-search"
          style="margin-bottom: 10px;"
          @click="getAllCompany"
        >查询</Button>
      </div>-->
      <!-- @on-row-click="rowClick" -->
      <!-- <Table ref="table" border :loading="loading" :columns="columns222" height="400" :data="data2"></Table>
      <Page
        style="margin-top: 10px;text-align: center;"
        @on-change="changePageNo1"
        @on-page-size-change="changePageSize1"
        :page-size="query1.pageSize"
        :total="query1.total"
      />-->
      <div style="display:flex;justify-content: center;">
        <el-transfer v-model="value1" filterable :data="data4" :titles="['全部企业', '已选择']"></el-transfer>
      </div>

      <div slot="footer">
        <Button @click="show222 = false;">取消</Button>
        <Button type="primary" v-if="title1 != '详情'" :loading="modal_loading" @click="sure">保存</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data4: [],
      value1: [],
      buttonShow: false,
      detailAdd: false,
      show222: false,
      modal_loading: false,
      rwDetail: false,
      jcDetail: false,
      disabled: true,
      title1: "",
      compId: "",
      form: {},
      winHeight: null,
      query: {
        pageSize: 10,
        pageNo: 1
      },
      query1: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        sydwmc: ""
      },
      loading: false,
      show: false,
      title: "",
      columns1: [
        {
          type: "index",
          label: "序号",
          width: 60,
          align: "center"
        },
        {
          title: "检查通知名称",
          key: "name",
          align: "center",
          width: 140,
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.name
                  }
                },
                params.row.name
              )
            ]);
          }
        },
        {
          title: "任务描述",
          key: "adescribe",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.adescribe
                  }
                },
                params.row.adescribe
              )
            ]);
          }
        },
        // {
        //   title: "执行人员",
        //   key: "ecuName",
        //   align: "center"
        // },
        {
          title: "是否发布",
          key: "publishStatus",
          align: "center",
          render: (h, params) => {
            let str = params.row.publishStatus == 1 ? "已发布" : "未发布";
            return h("div", str);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 260,
          render: (h, params) => {
            if (params.row.publishStatus == 1) {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        // this.detailAdd = true;
                        // setTimeout(()=>{
                        //   this.winHeight = this.$refs.mid.offsetHeight;
                        // },200)
                        this.title1 = "详情";
                        this.show222 = true;
                        this.getDetail(params.row.id);
                        // setTimeout(() => {
                        //   this.winHeight = this.$refs.mid.offsetHeight;
                        // }, 200);
                      }
                    }
                  },
                  "详情"
                )
              ]);
            } else {
              return h("div", [
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.fb(params.row);
                      }
                    }
                  },
                  "发布"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "primary",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.show222 = true;
                        this.compId = params.row.id;
                        this.title1 = "新增";
                        this.getDetail(params.row.id);
                      }
                    }
                  },
                  "选择企业"
                ),
                h(
                  "Button",
                  {
                    props: {
                      type: "error",
                      size: "small"
                    },
                    style: {
                      marginRight: "5px"
                    },
                    on: {
                      click: () => {
                        this.$Modal.confirm({
                          title: "警告",
                          content: "是否确认删除？",
                          onOk: () => {
                            this.delete(params.row.id);
                          }
                        });
                      }
                    }
                  },
                  "删除"
                )
              ]);
            }
          }
        }
      ],
      data1: [],
      columns2: [
        {
          title: "被检查单位名称",
          key: "e",
          align: "center"
        },
        {
          title: "电话号码",
          key: "e",
          align: "center"
        },
        {
          title: "执行人员",
          key: "e",
          align: "center"
        },
        {
          title: "状态",
          key: "e",
          align: "center"
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.title1 = "查看";
                      this.rwDetail = true;
                    }
                  }
                },
                "任务详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.jcDetail = true;
                    }
                  }
                },
                "检查详情"
              )
            ]);
          }
        }
      ],
      columns222: [
        {
          type: "selection",
          width: 80,
          align: "center"
        },
        {
          title: "企业名称",
          key: "sydwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          title: "序号",
          key: "index",
          width: 80,
          align: "center"
        },
        {
          title: "抽查设备名称",
          key: "e",
          align: "center"
        },
        {
          title: "使用登记代码",
          key: "e",
          align: "center"
        },
        {
          title: "图片",
          key: "e",
          align: "center",
          render: (h, params) => {
            return h("img", {
              attrs: {
                src: "/static/错误.png"
              },
              style: {
                width: "40px",
                height: "40px"
              }
            });
          }
        }
      ],
      data2: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ],
      data3: [
        {
          a: "2019年使用单位日常监督检查",
          b: "1385172312",
          c: "2019-05-23",
          d: "部分已上报	",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        }
      ],
      peopList: []
    };
  },
  created() {
    this.getInfoMsg();
    // this.getAllCompany();
    this.getAllCompanydeT();
  },
  methods: {
    showDetail() {
      if (!this.disabled) {
        this.show222 = true;
      }
    },
    clickRow(data, index) {
      this.$refs.table.toggleSelect(index);
    },
    async sure() {
      // let data = this.data4.filter(item => {
      //   if (
      //     this.value1.filter(list => {
      //       if (list == item.key) return true;
      //       else return false;
      //     }).length > 0
      //   )
      //     return true;
      // });

      let res = await this.$fetch.post(
        "/api/inspectionNotificationSydwjcxx/batchSaveForSydwjcxx?inspectionNotificationId=" +
          this.compId,
        this.value1
      );
      if (res.data.success) {
        this.show222 = false;
        this.getAllCompanydeT();
      }
      return;
      console.log(data);
      let str = "";
      data.forEach(item => {
        str += item.label + ",";
      });
      this.$set(this.form, "orgName", str.substr(0, str.length - 1));
      this.show222 = false;
      setTimeout(() => {
        $(".spelDet .ivu-form-item-label").css({
          height: $(".orgNameH").height(),
          lineHeight: $(".orgNameH").height() - 16 + "px"
        });
      }, 500);
    },
    addSave() {
      this.show222 = false;
    },
    rowClick(row) {
      console.log(row);
      this.show222 = false;
      this.$set(this.form, "orgId", row.sydwid);
      this.$set(this.form, "orgName", row.sydwmc);
      this.$set(this.form, "contacts", row.lxr);
      this.$set(this.form, "address", row.xxdz);
      this.$set(this.form, "telphone", row.lxdh);
    },
    async getAllCompanydeT() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3", {
        params: this.query1
      });
      this.data4 = res.data.result.map(items => {
        return {
          key: items.sydwjcxxId,
          label: items.sydwmc
        };
      });
    },
    async getAllCompany() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx", {
        params: this.query1
      });
      this.data2 = res.data.result.records;
      this.query1.total = res.data.result.total;
    },
    async changePageNo1(val) {
      this.query1.pageNo = val;
      this.getAllCompany();
    },
    changePageSize1(val) {
      this.query1.pageSize = val;
      this.getAllCompany();
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getInfoMsg();
    },
    async getInfoMsg() {
      this.loading = true;
      let res = await this.$fetch.get("/api/inspectionNotification/list", {
        params: this.query
      });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    async getDetail(id) {
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      let res = await this.$fetch.get(
        "/api/inspectionNotificationSydwjcxx/getSydwjcxxByINId",
        {
          params: { inspectionNotificationId: id }
        }
      );
      loading.close();
      this.value1 = [];
      if (res.data.result.length > 0) {
        res.data.result.forEach(element => {
          this.value1.push(element.sydwjcxxId);
        });
      }

      // this.form = Object.assign({}, res.data.result);
    },
    async fb(form) {
      form.publishStatus = 1;
      let res = await this.$fetch.put("/api/inspectionNotification/edit", form);
      if (res.data.success) {
        this.$Message.success("发布成功");
        this.getInfoMsg();
      }
    },
    async save() {
      this.buttonShow = true;
      let res = "";
      this.$set(this.form, "publishStatus", "0");
      // let data = [];
      // for (let i in this.value1) {
      //   data.push({ orgId: this.value1[i], taskDesc: this.form.aDescribe });
      // }
      // console.log(data);
      if (this.title1 == "新增") {
        // res = await this.$fetch.post("/api/rcjdjcjhxf/saveRcjdjcjhxf", data);
        res = await this.$fetch.post(
          "/api/inspectionNotification/add",
          this.form
        );
      } else {
        res = await this.$fetch.put(
          "/api/rcjdjcjhxf/updateRcjdjcjhxf",
          this.form
        );
      }
      if (res.data.success) {
        this.rwDetail = false;
        this.$Message.success("保存成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error(res.data.message);
      }
      this.buttonShow = false;
    },
    async getPeop() {
      let res = await this.$fetch.get("/api/sys/jhUser/getUser");
      this.peopList = res.data.result;
    },
    async delete(id) {
      let res = await this.$fetch.delete("/api/inspectionNotification/delete", {
        params: { id: id }
      });
      if (res.data.success) {
        this.$Message.success("操作成功！");
        this.getInfoMsg();
      } else {
        this.$Message.error("操作失败！");
      }
    },
    add() {
      this.rwDetail = true;
      this.title1 = "新增";
      this.form = {};
      this.disabled = false;
      this.getPeop();
    },
    addTwo() {
      this.title1 = "新增";
      this.rwDetail = true;
    }
  }
};
</script>

<style lang="scss">
.spelDet {
  height: 50px;
  .ivu-form-item-label {
    height: 50px;
    line-height: 2;
  }
  .ivu-form-item-content {
    height: 50px;
    line-height: 4;
  }
}
.textareaList {
  height: 100px;
  .ivu-form-item-label {
    height: 100px !important;
    line-height: 80px !important;
  }
  .ivu-form-item-content {
    height: 100px;
    textarea {
      height: 99px;
    }
  }
}
.jctzDetail {
  .ivu-modal-body {
    height: 700px;
  }
}
.hengList {
  .ivu-form-item-label {
    width: 100% !important;
    text-align: center;
    border-right: 1px solid #ddd;
  }
}
.labelNoList {
  .ivu-form-item-content {
    margin-left: 0px !important;
    border-right: 1px solid #ddd;
    padding-left: 20px;
  }
}
</style>
<style lang="scss" scoped>
.detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  .mid {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
</style>
