<template>
    <div style="padding:10px;">
        <div class="top" v-show="!showList" style="margin-bottom:10px;">
            <Input suffix="ios-search" placeholder="单位名称" style="width: 160px" />
            <Input suffix="ios-search" placeholder="单位地址" style="width: 160px" />
            <Select v-model="model1" style="width:160px" placeholder="请选择地区">
            </Select>
            <DatePicker type="date" placeholder="请选择到期时间" style="width: 160px"></DatePicker>
            <Button type="primary" icon="ios-search">查询</Button>
        </div>
        <Table  :columns="columns1" class="home-bot" :data="data1"></Table>
    </div>
</template>

<script>
export default {
    data(){
        return{
            columns1: [
        {
          title: "公司名称",
          key: "e",
          align: "center",
          width:240
        },
        {
          title: "到期种类",
          key: "g",
          align: "center"
        },
        {
          title: "到期时间",
          key: "c",
          align: "center"
        },
        {
          title: "距离到期还差",
          key: "d",
          align: "center"
        },
        {
          title: "图片",
          key: "f",
          align: "center",
          width: 200,
          render: (h, params) => {
            return h("div", [
              h("img", {
                style: {
                  width: "80px",
                  height: "61px",
                  cursor: "pointer"
                },
                attrs: {
                  src: "/static/234.png"
                  // onerror:'this.src="https://goss.veer.com/creative/vcg/veer/800water/veer-133632476.jpg"'
                },
                on: {
                  click: e => {
                    this.src = e.srcElement.currentSrc;
                    this.show2 = true;
                  }
                }
              })
            ]);
          }
        },
        {
                    title: '操作',
                    key: 'cz',
                    fixed: 'right',
                    align:'center',
                    width:200,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                    }
                                }
                            }, '发布提醒'),
                        ]);
                    }
                },
      ],
      data1: [
        {
          a: "陈伟",
          b: "1385172312",
          c: "2019-05-23",
          d: "30天",
          e: "江苏淮州温氏畜牧有限公司",
          f: "../../static/20190521223419.jpg",
          g: "锅炉"
        },
        {
          a: "张斌",
          b: "1385172312",
          c: "2019-05-23	",
          d: "30天",
          e: "淮安新宁公共保税仓储有限公司",
          g: "电梯"
        },
        {
          a: "王伟",
          b: "1385172312",
          c: "2019-05-23	",
          d: "30天",
          e: "江苏海投生物能源发展有限公司",
          g: "气瓶"
        }
      ],
        }
    }
}
</script>

<style>

</style>
