<template>
    <div class="infor">
        <div class="left">
            <Tree :data="data2"></Tree>
        </div>
        <div class="right">
          <div class="r-list" style="margin-right:10px;">
            <video
              id="myPlayer"
              autoplay="autoplay"
              src=""
              controls
              playsInline
              style="width:100%; height:100%; object-fit: fill"
            >
            </video>
          </div>
        <video
            class="r-list"
            autoplay="autoplay"
            src=""
            controls
            playsInline
            style="object-fit: fill"
            >
        </video>
        <video
            class="r-list"
            autoplay="autoplay"
            src=""
            controls
            playsInline
            style="object-fit: fill;margin:10px 10px 0 0;"
            >
        </video>
        <video
            autoplay="autoplay"
            src=""
            class="r-list"
            controls
            playsInline
            style="object-fit: fill;margin-top:10px;"
            >
        </video>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            data2: [
                    {
                        title: '金湖县',
                        expand: true,
                        children: [
                            {
                                title: '江苏翔发电源有限公司',
                                expand: true,
                                children: [
                                    {
                                        title: '摄像头1'
                                    },
                                    {
                                        title: '摄像头2'
                                    },
                                    {
                                        title: '摄像头3'
                                    },
                                    {
                                        title: '摄像头4'
                                    }
                                ]
                            },
                            {
                                title: '淮安市船舶制造有限公司	',
                                expand: true,
                                children: [
                                    {
                                        title: '摄像头1'
                                    },
                                    {
                                        title: '摄像头2'
                                    },
                                    {
                                        title: '摄像头3'
                                    },
                                    {
                                        title: '摄像头4'
                                    }
                                ]
                            }
                        ]
                    }
                ]
        }
    },
    mounted(){
        $('#myPlayer').attr("src", 'rtmp://rtmp01open.ys7.com/openlive/2dcc6fd276214f8794cd07d9b6f4b2df');
        var player = new EZUIKit.EZUIPlayer('myPlayer');

        setTimeout(function () {
          $("embed").css({
            width:'100%',
            // height:'100%',
            // 'object-fit': 'fill'
          })
        },500)
    }
}
</script>

<style lang='scss' scoped>
    .infor{
        display: flex;
        height: 100%;
        padding: 10px;
        .left{
            border-right:1px solid #ccc;
            margin-right: 10px;
            height: 100%+1;
            flex: .16;
        }
        .right{
            display: flex;
            flex-wrap: wrap;
            .r-list{
                width: 49%;
                height: 50%;
            }
        }
    }
</style>
