<template>
  <div class="main">
    <!-- <div style="width:25%;border:1px solid #333;margin-right:10px;">
      <el-table
        :data="tableData"
        style="width: 100%;margin-right: 10px;flex: 1;"
        highlight-current-row
        border
        @row-click="rowClick"
        class="sepl"
        :height="winHeight1"
      >
        <el-table-column type="index" label="序号" align="center" width="60"></el-table-column>
        <el-table-column prop="sydwmc" label="公司名称" show-overflow-tooltip></el-table-column>
      </el-table>
      <Page
        style="text-align: center;margin-top: 10px;"
        :total="query1.total"
        @on-change="changePageNo1"
        :page-size="query1.pageSize"
      />
    </div>-->
    <div class="right">
      <div class="top" style="display:flex;">
        <Input v-model="query.com" placeholder="这里输入使用单位" style="width:160px;margin-right: 10px;" />
        <el-date-picker
          v-model="yearMonth"
          type="month"
          value-format="yyyy-MM"
          style="width: 200px;margin-right:10px;"
          size="small"
          placeholder="选择日期"
        ></el-date-picker>
        <Select v-model="query.townId" style="width:160px;margin-right: 10px;">
          <Option value>未选择</Option>
          <Option
            v-for="(list,index) in companyList"
            :value="list.DICTIONARIES_ID"
            :key="index"
          >{{list.NAME}}</Option>
        </Select>
        <Button type="primary" icon="ios-search" @click="searchDet">查询</Button>
        <Button
          type="success"
          v-if="compId"
          icon="md-add"
          style="margin-left:10px;"
          @click.native="showTitle(1)"
        >新增</Button>
      </div>
      <div class="bot" ref="mid">
        <Table
          border
          :loading="loading"
          :columns="columns5"
          :height="winHeight"
          style="flex: 1;width:100%;height:100%;"
          :data="dataItemList"
        ></Table>
      </div>
      <Page
        :total="query.total"
        @on-change="changePageNo"
        @on-page-size-change="changePageSize"
        :page-size="20"
        style="text-align: center;margin-top: 10px;"
      />
    </div>

    <Modal v-model="show" :title="title" width="800" @on-ok="add">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem label="所属乡镇：">
              <!-- <Select v-model="form.belongTownId" @on-change="changeList">
                <Option
                  v-for="(list,index) in companyList"
                  :value="list.DICTIONARIES_ID"
                  :key="index"
                >{{list.NAME}}</Option>
              </Select>-->
              <Input v-model="compName" disabled />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="是否使用燃煤：">
              <Select v-model="form.isUsingCoal">
                <Option value="1">是</Option>
                <Option value="0">否</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="企业名称：">
              <Select v-model="form.compUsci" filterable>
                <Option
                  v-for="(list,index) in sdwfList"
                  :value="list.zzjgdm"
                  :key="index"
                >{{list.sydwmc}}</Option>
              </Select>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="填报人：">
              <Input v-model="form.applicant" />
            </FormItem>
          </Col>
        </Row>
        <!-- <Row>
          <Col span="24">
            <FormItem label="日期：">
              <el-date-picker
                v-model="form.time"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                style="width: 100%;"
                placeholder="选择日期"
              ></el-date-picker>
            </FormItem>
          </Col>
        </Row>-->
      </Form>
    </Modal>
  </div>
</template>

<script>
var detThis = "";
export default {
  name: "aqglry",
  data() {
    return {
      winHeight: null,
      winHeight1: null,
      yearMonth: "",
      dataItemList:[],
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        SSDQ: 320831
      },
      compId: sessionStorage.getItem("compId"),
      jysblb: [],
      show: false,
      compName: sessionStorage.getItem("compName"),
      form: {
        pPersonType: 1,
        jysblb: ""
      },
      title: "",
      columns4: [
        {
          type: "index",
          width: 60,
          align: "center"
        },
        {
          title: "所属乡镇",
          key: "belongTown",
          align: "center"
        },
        {
          title: "填报人",
          key: "applicant",
          align: "center"
        },
        {
          title: "企业名称",
          key: "compName",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.compName
                  }
                },
                params.row.compName
              )
            ]);
          }
        },
        {
          title: "是否使用燃煤",
          key: "isUsingCoal",
          align: "center",
          render: (h, params) => {
            let str = "";
            // if(params.row.isUsingCoal )
            str = params.row.isUsingCoal == "1" ? "是" : "否";
            return h("div", str);
          }
        },
        {
          title: "日期",
          key: "time",
          align: "center"
        },
        {
          title: "操作",
          fixed: "right",
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params.row.id);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "警告",
                        content: "是否确认删除？",
                        onOk: () => {
                          this.delete(params.row.id);
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      // columns5: [
      //   {
      //     title: "使用单位",
      //     key: "compName",
      //     align: "center",
      //     fixed: "left",
      //     width: 200
      //   },
      //   {
      //     title: "监控内容",
      //     key: "namesDet",
      //     align: "center",
      //     width: 160,
      //     render: (h, params) => {
      //       return h("div", [
      //         h(
      //           "div",
      //           {
      //             style: {}
      //           },
      //           "燃煤情况"
      //         ),
      //         h(
      //           "div",
      //           {
      //             style: {
      //               "border-top": "1px solid #ddd",
      //               "margin-left": "-18px",
      //               "margin-right": "-18px",
      //               "margin-top": "2px"
      //             }
      //           },
      //           "刷脸情况"
      //         )
      //       ]);
      //     }
      //   }
      // ],
      columns5: [
        {
          title: "使用单位",
          // key: "sydwjcxxEntity.sydwmc",
          align: "center",
          fixed: "left",
          width: 200,
          render: (h, params) => {
            console.log(params.row);
            return h("div", [
              h(
                "div",
                {
                  style: {}
                },
                params.row.sydwjcxxEntity.sydwmc
              )
            ]);
          }
        },
        {
          title: "监控内容",
          key: "namesDet",
          align: "center",
          width: 160,
          render: (h, params) => {
            return h("div", [
              h(
                "div",
                {
                  style: {}
                },
                "燃煤情况"
              ),
              h(
                "div",
                {
                  style: {
                    "border-top": "1px solid #ddd",
                    "margin-left": "-18px",
                    "margin-right": "-18px",
                    "margin-top": "2px"
                  }
                },
                "刷脸情况"
              )
            ]);
          }
        }
      ],
      data1: [],
      data2: [
        {
          title: "全部",
          loading: false,
          number: 0,
          children: []
        }
      ],
      rylbList: [],
      tableData: [],
      loading: false,
      companyList: [],
      zyzbList: [],
      sdwfList: [],
      query1: {
        pageSize: 10,
        pageNo: 1,
        total: 0
      }
    };
  },
  created() {
    detThis = this;
    if (this.compId) {
      this.$set(this.form, "belongTownId", this.compId);
      this.getlistAll(this.form.belongTownId);
    }
    this.getCompanyAll();
    this.getZyZb();
    this.getSbList();
    this.getJh();
    let d = new Date();
    // 将日期设置为下月一号
    d.setMonth(d.getMonth() + 1);
    d.setDate("1");
    // 获取本月最后一天
    d.setDate(d.getDate() - 1);
    for (let i = 1; i < d.getDate() + 1; i++) {
      this.columns5.push({
        title: i,
        key: i,
        align: "center",
        width: 60,
        render: (h, params) => {
          let date = new Date();

          if (!params.row.monitorLogList) {
            return h("div", [
              h(
                "div",
                {
                  style: {
                    "margin-bottom": "1px"
                  }
                },
                "-"
              ),
              h(
                "div",
                {
                  style: {
                    "border-top": "1px solid #ddd",
                    "margin-left": "-18px",
                    "margin-right": "-18px",
                    "margin-top": "2px"
                  }
                },
                "-"
              )
            ]);
          } else {
            let str = "";
            for (let i of params.row.monitorLogList) {
              let date = new Date(i.time);
              if (date.getDate() == params.column.key) {
                let date = new Date();
                  str = h("div", [
                    h(
                      "div",
                      {
                        style: {
                          "margin-bottom": "1px"
                        }
                      },
                      i.isUsingCoal == 1 ? "是" : "否"
                    ),
                    h(
                      "div",
                      {
                        style: {
                          "border-top": "1px solid #ddd",
                          "margin-left": "-18px",
                          "margin-right": "-18px",
                          "margin-top": "2px"
                        }
                      },
                      "-"
                    )
                  ]);
                break;
              } else {
                str = h("div", [
                  h(
                    "div",
                    {
                      style: {
                        "margin-bottom": "1px"
                      }
                    },
                    "-"
                  ),
                  h(
                    "div",
                    {
                      style: {
                        "border-top": "1px solid #ddd",
                        "margin-left": "-18px",
                        "margin-right": "-18px",
                        "margin-top": "2px"
                      }
                    },
                    "-"
                  )
                ]);
              }
            }
            return str;
          }
          
        }
      });
    }
    // for (let i = 1; i < 31; i++) {
    //   this.columns5.push({
    //     title: i,
    //     key: "num" + i,
    //     align: "center",
    //     width: 60,
    //     render: (h, params) => {
    //       if (params.column.key == params.row.detNumddd) {
    //         let date = new Date();
    //         if (date.getDate() == parseFloat(params.row.time.substr(8, 2))) {
    //           return h("div", [
    //             h(
    //               "div",
    //               {
    //                 style: {
    //                   "border-bottom": "1px solid blue",
    //                   // "margin-left": "-18px",
    //                   // "margin-right": "-18px",
    //                   "margin-bottom": "-1px",
    //                   color: "blue",
    //                   cursor: "pointer"
    //                 },
    //                 on: {
    //                   click: e => {
    //                     this.showTitle(2, params.row.id);
    //                   }
    //                 }
    //               },
    //               params.row[params.column.key]
    //             ),
    //             h(
    //               "div",
    //               {
    //                 style: {
    //                   "border-top": "1px solid #ddd",
    //                   "margin-left": "-18px",
    //                   "margin-right": "-18px",
    //                   "margin-top": "2px"
    //                 }
    //               },
    //               "-"
    //             )
    //           ]);
    //         } else {
    // return h("div", [
    //   h(
    //     "div",
    //     {
    //       style: {
    //         "margin-bottom": "1px"
    //       }
    //     },
    //     params.row[params.column.key]
    //   ),
    //   h(
    //     "div",
    //     {
    //       style: {
    //         "border-top": "1px solid #ddd",
    //         "margin-left": "-18px",
    //         "margin-right": "-18px",
    //         "margin-top": "2px"
    //       }
    //     },
    //     "-"
    //   )
    //           ]);
    //         }
    //       } else {
    //         return h("div", [
    //           h(
    //             "div",
    //             {
    //               style: {
    //                 "margin-bottom": "-1px",
    //                 "border-bottom": "1px solid #fff"
    //                 // "margin-left": "-18px",
    //                 // "margin-right": "-18px"
    //               }
    //             },
    //             "-"
    //           ),
    //           h(
    //             "div",
    //             {
    //               style: {
    //                 "border-top": "1px solid #ddd",
    //                 "margin-left": "-18px",
    //                 "margin-right": "-18px",
    //                 "margin-top": "2px"
    //               }
    //             },
    //             "-"
    //           )
    //         ]);
    //       }
    //     }
    //   });
    // }
    // this.getlistAll();
  },
  mounted() {
    setTimeout(() => {
      this.winHeight = this.$refs.mid.offsetHeight - 20;
    }, 50);
  },
  filters: {
    filterZyzt(val) {
      for (let i of detThis.zyzbList) {
        if (val == i.BIANMA) {
          return i.NAME;
        }
      }
    }
  },
  methods: {
    searchDet() {
      this.columns5 = this.columns5.splice(0,2);
      var date = new Date(this.yearMonth);
      var year = date.getFullYear();
      var month = date.getMonth()+1;
      var d = new Date(year, month, 0);
    for (let i = 1; i < d.getDate() + 1; i++) {
      this.columns5.push({
        title: i,
        key: i,
        align: "center",
        width: 60,
        render: (h, params) => {
          let date = new Date();

          if (!params.row.monitorLogList) {
            return h("div", [
              h(
                "div",
                {
                  style: {
                    "margin-bottom": "1px"
                  }
                },
                "-"
              ),
              h(
                "div",
                {
                  style: {
                    "border-top": "1px solid #ddd",
                    "margin-left": "-18px",
                    "margin-right": "-18px",
                    "margin-top": "2px"
                  }
                },
                "-"
              )
            ]);
          } else {
            let str = "";
            for (let i of params.row.monitorLogList) {
              let date = new Date(i.time);
              if (date.getDate() == params.column.key) {
                let date = new Date();
                  str = h("div", [
                    h(
                      "div",
                      {
                        style: {
                          "margin-bottom": "1px"
                        }
                      },
                      i.isUsingCoal == 1 ? "是" : "否"
                    ),
                    h(
                      "div",
                      {
                        style: {
                          "border-top": "1px solid #ddd",
                          "margin-left": "-18px",
                          "margin-right": "-18px",
                          "margin-top": "2px"
                        }
                      },
                      "-"
                    )
                  ]);
                break;
              } else {
                str = h("div", [
                  h(
                    "div",
                    {
                      style: {
                        "margin-bottom": "1px"
                      }
                    },
                    "-"
                  ),
                  h(
                    "div",
                    {
                      style: {
                        "border-top": "1px solid #ddd",
                        "margin-left": "-18px",
                        "margin-right": "-18px",
                        "margin-top": "2px"
                      }
                    },
                    "-"
                  )
                ]);
              }
            }
            return str;
          }
          
        }
      });
    }
      this.getSbList();
    },
    async getCompanyAll() {
      this.query1 = { ...this.query1, ...{ townId: this.query.townId } };
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx", {
        params: this.query1
      });
      this.tableData = res.data.result.records;
      this.query1.total = res.data.result.total;
      this.$set(this.query, "cUsic", this.tableData[0].zzjgdm);
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      // this.getSbList();
      this.dataItemList = this.data1.slice((val-1)*20,(val-1)*20+20);
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },
    renderContent(h, { root, node, data }) {
      return h(
        "span",

        {
          style: {
            display: "inline-block",

            width: "30%",
            cursor: "pointer"
          },
          on: {
            click: () => {
              this.query.cid = data.id;
              this.getSbList();
            }
          }
        },

        [
          h(
            "Tooltip",

            {
              props: {
                placement: "top-start",
                transfer: true
              }
            },

            [
              data.title, //控制树形显示的内容

              h(
                "span",
                {
                  slot: "content",
                  style: {
                    whiteSpace: "nowrap"
                  }
                },
                data.title //控制Tooltip显示的内容
              )
            ]
          )
        ]
      );
    },
    showTitle(num, id) {
      this.show = true;
      if (num == 1) {
        this.title = "新增";
        this.form = Object.assign({}, { belongTownId: this.form.belongTownId });
      } else {
        this.title = "编辑";
        this.getDetail(id);
      }
      setTimeout(() => {
        $(".peopSpe .ivu-form-item-label").css({
          height: $(".peopSpe .ivu-form-item-content").height(),
          lineHeight: $(".peopSpe .ivu-form-item-content").height() / 2 + "px"
        });
      }, 500);
    },
    // 树结构 企业列表
    async getInfoMsg() {
      let res = await this.$fetch.get("company/listComapny");
      this.companyList = res.data.result;
    }, // 树结构 企业列表
    async getJh() {
      let res = await this.$fetch.get("/api/index/getJhTownDict");
      this.companyList = res.data.result;
    },

    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];

      let res = await this.$fetch.get("/api/sydwjcxx/getLogFromSydwjcxx", {
        params: {
          ...{ yearMonth: this.yearMonth },
          ...{ townId: this.query.townId }
        }
      });
      this.data1 = res.data.result;
      this.dataItemList = this.data1.slice(0,20);
      this.query.total = res.data.result.length;
      this.loading = false;
      return;
      for (let i of res.data.result.records) {
        // i.namesDet = "燃煤情况";
        let str = Object.assign({}, { namesDet: "燃煤情况" }, i);
        let time = parseFloat(i.time.substr(8, 2));
        this.$set(str, "num" + time, i.isUsingCoal == "1" ? "是" : "否");
        this.$set(str, "detNumddd", "num" + time);
        this.data1.push(str);
        // i.namesDet = "刷脸情况";
        // let str1 = Object.assign({}, { namesDet: "刷脸情况" }, i);
        // this.data1.push(str1);
      }
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    // 人员类别
    async getRYLB() {
      let res = await this.$fetch.get("/api/index/getPersonTypeDict");
      this.rylbList = res.data.result;
    },
    async getZyZb() {
      let res = await this.$fetch.get("/api/index/getZyzbDict");
      this.zyzbList = res.data.result;
    },
    async getlistAll(id) {
      let res = await this.$fetch.get(
        "/api/sydwjcxx/getSydwListByDICTIONARIES_ID",
        {
          params: { DICTIONARIES_ID: id }
        }
      );
      this.sdwfList = res.data.result;
    },
    async changeList(id) {
      this.getlistAll(id);
    },
    // 获取详情
    async getDetail(id) {
      this.jysblb = [];
      let res = await this.$fetch.get("/api/monitorLog/getMonitorLog", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      this.changeList(this.form.belongTownId);
    },
    async addSave() {
      if (!this.form.belongTownId || !this.form.compUsci) {
        this.$Message.error("请选择乡镇和企业");
        return;
      }
      let date = new Date();
      let y = date.getFullYear();
      let M =
        date.getMonth() + 1 < 10
          ? "0" + (date.getMonth() + 1)
          : date.getMonth() + 1;
      let d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
      let H = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
      let m =
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
      let s =
        date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
      this.form.time = y + "-" + M + "-" + d + " " + H + ":" + m + ":" + s;
      for (let i of this.companyList) {
        if (this.form.belongTownId == i.DICTIONARIES_ID) {
          this.form.belongTown = i.NAME;
        }
      }
      for (let i of this.sdwfList) {
        if (this.form.compUsci == i.zzjgdm) {
          this.form.compName = i.sydwmc;
        }
      }
      let res = await this.$fetch.post(
        "/api/monitorLog/addMonitorLog",
        this.form
      );
      if (res.data.success) {
        this.query.pageNo = 1;
        this.$Message.success("新增成功！");
        this.show = false;
        this.getSbList();
      }
    },
    async editSave() {
      let res = await this.$fetch.put("/api/Yjjyrylr/updatekPeople", this.form);
      if (res.data.success) {
        this.query.pageNo = 1;
        this.$Message.success("新增成功！");
        this.show = false;
        this.getSbList();
      }
    },
    // 删除
    async delete(id) {
      this.loading = true;
      let res = await this.$fetch.delete("/api/monitorLog/deleteMonitorLog", {
        params: { id: id }
      });
      if (res.data.success) {
        this.$Message.success(res.data.success);
        this.getSbList();
      }
    },
    deleteDiog(id) {},
    // 新增
    async add() {
      // this.form.jysblb = '';
      // if(this.jysblb.length > 0){
      //   let data = [];
      //   for(let i in this.jysblb){
      //     for(let f of this.zyzbList){
      //       if(this.jysblb[i] == f.NAME){
      //         data.push(f.BIANMA);
      //       }
      //     }
      //   }
      //   for(let f in data){
      //     this.form.jysblb += data[f]+','
      //   }
      //   this.form.jysblb = this.form.jysblb.substr(0,this.form.jysblb.length-1);
      // }else{
      //
      // }
      if (this.title == "新增") {
        this.addSave();
      } else {
        this.editSave();
      }
      // let res = await this.$fetch.post('personnel/addPersonnelByJg',this.form);
    }
  }
};
</script>

<style scoped lang="scss">
.main {
  padding: 10px;
  display: flex;
  height: 100%;
  // flex-direction: column;
  .right {
    flex: 1;
    width: 75%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .bot {
      flex: 1;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  }
}
</style>
<style lang="scss">
/*.ivu-tree-arrow{*/
/*vertical-align: 14px;*/
/*}*/
/*.ivu-tooltip{*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*.ivu-tooltip-rel{*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/
/*white-space: nowrap;*/
/*}*/

/*}*/
</style>
