<template>
  <div class="container">
    <!-- <div class="searchStyle">
      <Input v-model="query.sydwmc" style="width: 200px;margin-right: 10px;" placeholder="请输入文件名称" />
      <Button type="primary" icon="ios-search" @click="searchCompany"></Button>
    </div>-->
    <div class="infor inforDetail">
      <!-- <div class=""> -->
      <!-- <Input v-model="query.sydwmc" style="width: 200px;margin-right: 10px;" placeholder="请输入文件名称" /> -->
      <!-- <Button type="primary" icon="ios-search" @click="getCompanyAll"></Button> -->
      <!-- </div> -->
      <div class="left leftDet" style="border:1px solid #333;">
        <!--<Tree :data="data2"></Tree>-->
        <!--<el-tree :data="companAll" :props="defaultProps" @node-click="handleNodeClick"></el-tree>-->
        <!-- <el-tree 
          :props="defaultProps" 
          :load="loadNode"
          @node-click="getVideo"
          lazy
        ></el-tree>-->
        <!-- <Table ref="table"  @on-row-click="clickRow" :loading="loading"  :columns="columns1"  class="home-bot" :data="data1" height="550"></Table> -->
        <!-- <el-table
            :data="data1"
            style="width: 100%;margin-right: 10px;flex: 1;" highlight-current-row		 @row-click="clickRow"  height="550">
            <el-table-column
              type="index"
              label="#"
              align="center"
              width="40"
            >
            </el-table-column>
            <el-table-column
              prop="sydwmc"
              label="公司名称"
              align="center"
              show-overflow-tooltip
            >
            </el-table-column>
          </el-table>
        <Page style="margin-top: 10px;text-align: center;" :total="query.total" @on-change="changePageNo" :page-size="query.pageSize"></Page>-->
        <el-input
          style="width:97%;margin-bottom:6px;margin:10px 10px; 0 10px;"
          placeholder="输入关键字进行过滤"
          v-model="filterText"
        ></el-input>

        <el-tree
          :data="cameraData"
          @node-click="palyCamera"
          :filter-node-method="filterNode"
          @node-contextmenu="showCenter"
          ref="tree"
          style="overflow-y:scroll;height:700px;width:290px;font-size:15px;"
        >
          <span class="custom-tree-node" slot-scope="{ node, data }">
            <!-- <span>{{ node.label}}{{data.isOnline == 1?'(在线)':data.isOnline == 2?'(不在线)':''}}</span> -->
            <span>
              {{ node.label}}
              <span v-if="data.isOnline == 1" style="color:green;">(在线)</span>
              <span v-else-if="data.isOnline == 2">(不在线)</span>
              <span v-else-if="data.isOnline == 0" style="color:red;">(离线)</span>
            </span>
          </span>
        </el-tree>
        <!-- <el-tree
          :data="cameraData"
          :filter-node-method="filterNode"
          ref="tree"
          style="height:600px;overflow-y:scroll;width:290px;"
        ></el-tree>-->
        <div
          style="width: 164px;border: 1px solid #000;padding:10px 0;    position: absolute;
    z-index: 999;
    background: #fff;display:none;"
          id="showC"
        >
          <div style="text-align:center;margin-bottom:6px;">{{titleName}}</div>
          <el-radio-group v-model="radio" @change="changeVideo" class="videoChose" size="small">
            <el-radio border :label="1">分区一</el-radio>
            <el-radio border :label="2">分区二</el-radio>
            <el-radio border :label="3">分区三</el-radio>
            <el-radio border :label="4">分区四</el-radio>
          </el-radio-group>
        </div>
      </div>
      <div class="right">
        <!-- <div v-for="(item,index) in vedioData" :key="index">
          <img src="../../../public/static/sx.1.png" alt="" @click="playVedio(item)">
        </div>-->

        <!--<video-->
        <!--class="r-list"-->
        <!--autoplay="autoplay"-->
        <!--src=""-->
        <!--controls-->
        <!--playsInline-->
        <!--style="object-fit: fill"-->
        <!--&gt;-->
        <!--</video>-->
        <!--<video-->
        <!--class="r-list"-->
        <!--autoplay="autoplay"-->
        <!--src=""-->
        <!--controls-->
        <!--playsInline-->
        <!--style="object-fit: fill;margin:10px 10px 0 0;"-->
        <!--&gt;-->
        <!--</video>-->
        <!--<video-->
        <!--autoplay="autoplay"-->
        <!--src=""-->
        <!--class="r-list"-->
        <!--controls-->
        <!--playsInline-->
        <!--style="object-fit: fill;margin-top:10px;"-->
        <!--&gt;-->
        <!--</video>-->
        <!-- <div>
          <videoPlayer
            class="videoPlayer"
            style="margin-top: 10px;"
            :options="playerOptions1"
            id="videoId1"
          ></videoPlayer>
        </div>
        <div>
          <videoPlayer
            class="videoPlayer"
            style="margin-top: 10px;"
            :options="playerOptions2"
            id="videoId2"
          ></videoPlayer>
        </div>
        <div>
          <videoPlayer
            class="videoPlayer"
            style="margin-top: 10px;"
            :options="playerOptions3"
            id="videoId3"
          ></videoPlayer>
        </div>
        <div>
          <videoPlayer
            class="videoPlayer"
            style="margin-top: 10px;"
            :options="playerOptions4"
            id="videoId4"
          ></videoPlayer>
        </div>-->
        <div>
          <div
            style="font-size:15px;font-weight:bolder;border-bottom:1px solid #ddd;margin-bottom:5px;"
          >分区一</div>
          <video
            id="myVideo1"
            class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto"
            autoplay
          ></video>
        </div>
        <div>
          <div
            style="font-size:15px;font-weight:bolder;border-bottom:1px solid #ddd;margin-bottom:5px;"
          >分区二</div>

          <video
            id="myVideo2"
            class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto"
            autoplay
          ></video>
        </div>
        <div>
          <div
            style="font-size:15px;font-weight:bolder;border-bottom:1px solid #ddd;margin-bottom:5px;"
          >分区三</div>

          <video
            id="myVideo3"
            class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto"
            autoplay
          ></video>
        </div>
        <div>
          <div
            style="font-size:15px;font-weight:bolder;border-bottom:1px solid #ddd;margin-bottom:5px;"
          >分区四</div>

          <video
            id="myVideo4"
            class="video-js vjs-default-skin vjs-big-play-centered"
            controls
            preload="auto"
            autoplay
          ></video>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import "video.js/dist/video-js.css";
// import { videoPlayer } from "vue-video-player";
// import "videojs-flash";
// import "videojs-contrib-hls.js/src/videojs.hlsjs";
// import "videojs-contrib-hls/dist/videojs-contrib-hls.min.js";
export default {
  // components: {
  //   videoPlayer
  // },
  data() {
    return {
      loading: false,
      closeId: "",
      radio: "",
      filterText: "",
      myVideo1: "",
      myVideo2: "",
      myVideo3: "",
      titleName: "",
      titleId: "",
      titleForm: {},
      myVideo4: "",
      videoList: ["", "", "", "", ""],
      cameraData: [],
      vedioData: [],
      videoForm: {},
      index: 1,
      playerOptions1: {
        height: "300",
        width: "100%",
        sources: [
          {
            type: "application/x-mpegURL",
            src: "http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8"
          }
        ],
        autoplay: true,

        controls: true
      },
      playerOptions2: {
        height: "300",
        width: "100%",
        sources: [
          {
            type: "application/x-mpegURL",
            src: "http://36.154.40.222:8085/jeecg-boot/hls/channel101.m3u8"
          }
        ],

        autoplay: true,
        controls: true
      },
      playerOptions3: {
        height: "300",
        width: "100%",
        sources: [
          {
            type: "application/x-mpegURL",
            src: "http://36.154.40.222:8085/jeecg-boot/hls/channel101.m3u8"
          }
        ],

        autoplay: true,

        controls: true
      },
      playerOptions4: {
        height: "300",
        width: "100%",
        sources: [
          {
            type: "application/x-mpegURL",
            src: "http://36.154.40.222:8085/jeecg-boot/hls/channel101.m3u8"
          }
        ],

        autoplay: true,

        controls: true
      }
    };
  },
  beforeDestroy() {
    this.myVideo1.dispose();
    this.myVideo2.dispose();
    this.myVideo3.dispose();
    this.myVideo4.dispose();
    for (let i in this.videoList) {
      this.closeRtmp(i);
    }
  },
  mounted() {
    let _this = this;

    window.addEventListener("beforeunload", e => {
      for (let i in this.videoList) {
        this.closeRtmp(i);
      }
    });
    window.addEventListener("onbeforeunload", e => {
      for (let i in this.videoList) {
        this.closeRtmp(i);
      }
    });
    // window.addEventListener("click", function(e) {
    //   e.stopPropagation();
    //   if (_this.titleId) {
    //     $("#showC").css({
    //       left: event.pageX + 20,
    //       top: event.pageY
    //     });
    //     $("#showC").show();
    //   } else {
    //     $("#showC").hide();
    //   }
    // });
    setTimeout(function() {
      $("embed").css({
        width: "100%"
      });

      _this.myVideo1 = videojs(
        "myVideo1",
        {
          // bigPlayButton: true,
          // textTrackDisplay: false,
          // posterImage: false,
          // enterFullScreen: true,
          // errorDisplay: false,
          // autoplay: true,
          // sources: [
          //   {
          //     type: "application/x-mpegURL"
          //     // src:
          //     //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
          //   }
          // ]
          techOrder: ["html5", "flash"],
          controls: true,
          autoplay: true,
          sources: [
            {
              type: "rtmp/flv"
            }
          ]
        }
        // function() {
        // _this.myVideo1.src(
        //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
        // );
        // _this.myVideo1.load();
        // _this.myVideo1.play();
        // }
      );

      _this.myVideo2 = videojs(
        "myVideo2",
        {
          // bigPlayButton: true,
          // textTrackDisplay: false,
          // posterImage: false,
          // enterFullScreen: true,
          // errorDisplay: false,
          // autoplay: true,
          // sources: [
          //   {
          //     type: "application/x-mpegURL"
          //   }
          // ]
          techOrder: ["html5", "flash"],
          controls: true,
          autoplay: true,
          sources: [
            {
              type: "rtmp/flv"
            }
          ]
        }
        // function() {
        // _this.myVideo1.src(
        //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
        // );
        // _this.myVideo1.load();
        // _this.myVideo1.play();
        // }
      );

      _this.myVideo3 = videojs(
        "myVideo3",
        {
          // bigPlayButton: true,
          // textTrackDisplay: false,
          // posterImage: false,
          // enterFullScreen: true,
          // errorDisplay: false,
          // autoplay: true,
          // sources: [
          //   {
          //     type: "application/x-mpegURL"
          //     // src:
          //     //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
          //   }
          // ]
          techOrder: ["html5", "flash"],
          controls: true,
          autoplay: true,
          sources: [
            {
              type: "rtmp/flv"
            }
          ]
        }
        // function() {
        // _this.myVideo1.src(
        //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
        // );
        // _this.myVideo1.load();
        // _this.myVideo1.play();
        // }
      );

      _this.myVideo4 = videojs(
        "myVideo4",
        {
          // bigPlayButton: true,
          // textTrackDisplay: false,
          // posterImage: false,
          // enterFullScreen: true,
          // errorDisplay: false,
          // autoplay: true,
          // sources: [
          //   {
          //     type: "application/x-mpegURL"
          //     // src:
          //     //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
          //   }
          // ]
          techOrder: ["html5", "flash"],
          controls: true,
          autoplay: true,
          sources: [
            {
              type: "rtmp/flv"
            }
          ]
        }
        // function() {
        // _this.myVideo1.src(
        //   "http://playertest.longtailvideo.com/adaptive/bipbop/gear4/prog_index.m3u8"
        // );
        // _this.myVideo1.load();
        // _this.myVideo1.play();
        // }
      );
      $(".vjs-error-display").hide();
    }, 500);

    // setTimeout(() => {
    //   $(".inforDetail").css({
    //     height: $(".mainContent").height()
    //   });
    //   $(".leftDet").css({
    //     height: $(".inforDetail").height()
    //   });
    // }, 100);
  },
  watch: {
    filterText(val) {
      this.$refs.tree.filter(val);
    }
  },
  created() {
    this.getCameras();
    this.cameraData = this.$store.state.user.cameraData;
  },
  deactivated() {
    this.playerOptions1.sources[0].src = "";
    this.playerOptions2.sources[0].src = "";
    this.playerOptions3.sources[0].src = "";
    this.playerOptions4.sources[0].src = "";
  },
  methods: {
    filterNode(value, data) {
      if (!value) return true;
      if (data.label) {
        if (data.SYDWMC) {
          return data.SYDWMC.indexOf(value) > -1;
        } else {
          return data.label.indexOf(value) > -1;
        }
      }

      // console.log(
      //   data.children.filter(list => list.label.indexOf(value) !== -1)
      // );
      // return data.children.filter(list => list.label.indexOf(value) !== -1);
    },
    async closeRtmp(val) {
      // options.sources[0].src = "";
      if (!this.videoList[val]) {
        return;
      }
      let res = await this.$fetch.post("/api/RtmpVideo/closeRtmp", [
        this.videoList[val]
      ]);
    },

    async getCameras() {
      let res = await this.$fetch.get("/api/sydwjcxx/getVideoTree");
      // this.cameraData = [res.data.result];
      this.$store.state.user.cameraData = [res.data.result];
      if (this.cameraData.length == 0) {
        this.cameraData = this.$store.state.user.cameraData;
      }
    },
    showCenter(event, data, item) {
      if (!data.vdeviceId) {
        $("#showC").hide();
        return;
      }
      this.titleName = data.SYDWMC;
      this.radio = "";
      this.videoForm = Object.assign({}, data);
      $("#showC").css({
        left: event.layerX + 50,
        top: event.clientY - 100
      });
      $("#showC").show();
    },
    async changeVideo(val) {
      console.log(val);
      const loading = this.$loading({
        lock: true,
        text: "Loading",
        spinner: "el-icon-loading",
        background: "rgba(0, 0, 0, 0.7)"
      });
      this.closeRtmp(val);
      let res = await this.$fetch.get("/api/RtmpVideo/openRtmp", {
        params: {
          vAccount: "admin",
          vPassword: "hik12345",
          vPort: "554",
          vIp: this.videoForm.vip,
          vId: this.videoForm.vid
        }
      });
      this.videoList[val] = res.data.result;
      let data = "myVideo" + val;
      // this[data].src("/de/hls/" + res.data.result + ".m3u8");
      this[data].src("rtmp://36.154.40.222:1935/live/" + res.data.result);
      $("#showC").hide();
      this[data].play();
      loading.close();

      var lastTime = -1,
        tryTimes = 0;

      // clearInterval(this.isVideoBreak);
      this.$store.state.user.isVideoBreak = setInterval(() => {
        var currentTime = this[data].currentTime();

        if (currentTime == lastTime) {
          //此时视频已卡主3s
          //设置当前播放时间为超时时间，此时videojs会在play()后把currentTime设置为0
          this[data].currentTime(currentTime + 10000);
          this[data].src("/de/hls/" + res.data.result + ".m3u8");
          this[data].play();

          //尝试5次播放后，如仍未播放成功提示刷新
          if (++tryTimes > 5) {
            _this.$message.warning("您的网速有点慢，刷新下试试");
            tryTimes = 0;
          }
        } else {
          lastTime = currentTime;
          tryTimes = 0;
        }
      }, 200000);
    },
    async palyCamera(item, node, event) {
      //if(node.level == 2){
      //  this.playerOptions1.sources[0].src = '';
      //  this.playerOptions2.sources[0].src = '';
      //  this.playerOptions3.sources[0].src = '';
      //  this.playerOptions4.sources[0].src = '';
      //  this.index = 1;
      // }

      console.log(window.event);
      // if (item.vdeviceId) {
      //   this.titleId = item.vdeviceId;
      //   this.titleName = item.SYDWMC;
      //   this.radio = "";
      //   this.videoForm = Object.assign({}, item);
      // } else {
      //   this.titleId = "";
      //   $("#showC").hide();
      // }

      if (!item.vdeviceId) {
        $("#showC").hide();
        return;
      }
      this.titleName = item.SYDWMC;
      this.radio = "";
      this.videoForm = Object.assign({}, item);
      $("#showC").css({
        left: window.event.pageX - 160,
        top: window.event.pageY - 100
      });
      $("#showC").show();

      // this.titleName = item.SYDWMC;
      // this.radio = "";
      // this.videoForm = Object.assign({}, item);
      // $("#showC").css({
      //   left: 50,
      //   top: event.$el.offsetTop
      // });
      // $("#showC").show();
      return;
      console.log(item);
      console.log(node);
      if (item.vdeviceId) {
        // const loading = this.$loading({
        //   lock: true,
        //   text: "Loading",
        //   spinner: "el-icon-loading",
        //   background: "rgba(0, 0, 0, 0.7)"
        // });
        let res = await this.$fetch.get("/api/RtmpVideo/openRtmp", {
          params: {
            vAccount: "admin",
            vPassword: "hik12345",
            vPort: "554",
            vIp: item.vip,
            vId: item.vid
          }
        });

        // this.playerOptions1.sources[0].src =
        //   "http://36.154.40.222:8085/jeecg-boot/hls/channel101.m3u8";
        this.myVideo4.src("/de/hls/" + res.data.result + ".m3u8");
        this.myVideo4.play();
        return;
        if (this.index < 5) {
          let playing = this["playerOptions" + this.index];
          playing.sources[0].src =
            "rtmp://36.154.40.222:1935/live/" + res.data.result;
          this.closeId = res.data.result;
        } else if (this.index % 4 == 0) {
          this.closeRtmp(this.playerOptions4);
          this.playerOptions4.sources[0].src =
            "rtmp://36.154.40.222:1935/live/" + res.data.result;
        } else {
          let playing = this["playerOptions" + (this.index % 4)];
          this.closeRtmp(playing);
          playing.sources[0].src =
            "rtmp://36.154.40.222:1935/live/" + res.data.result;
        }
        this.index++;
        loading.close();
      } else {
        $("#showC").hide();
      }
    },
    async getCompanyList() {
      let res = await this.$fetch.get(
        "/api/sydwjcxx/listAllSydwjcxxForXiangZhenPage",
        {
          params: this.query
        }
      );
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
    },
    async clickRow(row) {
      let res = await this.$fetch.get("/api/video/listComapnyVideo", {
        params: {
          cUsci: row.zzjgdm
        }
      });
      this.vedioData = res.data.result;
    },
    changePageNo(val) {
      this.query.pageNo = val;
      this.getCompanyList();
    },
    async playVedio(item) {
      let res = await this.$fetch.get("/api//RtmpVideo/openRtmp", {
        params: {
          vAccount: item.vaccount,
          vPassword: item.vpassword,
          vPort: item.vport,
          vIp: item.vip,
          vId: item.vid
        }
      });
      this.playerOptions1.sources[0].src =
        "rtmp://36.154.40.222:1935/live/" + res.data.result;
      this.closeId = res.data.result;
    },
    // 处理获取的乡镇信息
    formatTownData(datas) {
      let res = [];
      let i = 0;
      datas.forEach(data => {
        res.push({ label: data.NAME, DICTIONARIES_ID: data.DICTIONARIES_ID });
      });
      return res;
    },
    // 处理获取的企业信息
    formatCompanynData(datas) {
      let res = [];
      datas.forEach(data => {
        res.data.push({ label: data.sydwmc, id: data.zzjgdm, leaf: true });
      });
      return res;
    },
    getVideo(data) {
      this.getVideoAll(data.id);
    },
    async getVideoAll(id) {
      let res = await this.$fetch.get("/api/video/listComapnyVideo", {
        params: { cUsci: id }
      });
      if (res.data.data.success) {
        for (let i of res.data.data.result) {
          this.form = Object.assign({}, i);
          await this.openRtmp();
        }
      }
    },
    handleNodeClick(data) {
      this.getVideoAll(data.zzjgdm);
    },
    async openRtmp() {
      let res = await this.$fetch.get("/api/RtmpVideo/openRtmp", {
        params: this.form
      });
    }
  }
};
</script>
<!--height: 100%+1;-->
<style lang="scss">
.sepl.el-table::before {
  display: none;
}
#videoId > div:first-child {
  width: 100% !important;
}
.videoChose.el-radio-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .el-radio {
    margin-right: 0px;
    margin-left: 0px !important;
    margin-bottom: 10px;
    align-self: center;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.el-table--enable-row-hover .el-table__body tr:hover {
  cursor: pointer;
}
</style>
<style lang='scss' scoped>
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.searchStyle {
  margin: 10px 10px 0px 10px;
}
.infor {
  display: flex;
  /*height: 100%;*/
  /*max-height: 100%;*/
  padding: 10px;
  // min-height:600px;
  height: 100%;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%;
    // overflow-y: scroll;
    /*flex: .16;*/
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    .likuang {
      // background: url("../../../public/static/likuang.png") no-repeat;
      background-size: 100% 100%;
      position: absolute;
    }
  }
  .right {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    > div {
      width: 48%;
      height: 48.5%;
      padding: 6px;
      border: 1px solid black;
      margin-bottom: 16px;
    }
    .r-list {
      width: 49%;
      height: 50%;
    }
  }
}
</style>
