<template>
    <div class="infor">
        <div class="top">
            <DatePicker type="date" placeholder="请选择开始时间"></DatePicker>
            <DatePicker type="date" placeholder="请选择结束时间"></DatePicker>
            <Input suffix="ios-search" placeholder="日志名称" style="width: auto" />
            <Select v-model="model1" style="width:180px" placeholder="请选择业务类型">
            </Select>
            <Button type="primary" icon="ios-search">查询</Button>
            <Button type="error" icon="ios-delete" >清空日志</Button>
        </div>
        <div class="mid">
            <Table border :columns="columns1" :data="data1"></Table>
        </div>
        <div class="bot">
            <Page :total="100" />
        </div>
        <Modal
            v-model="show"
            title="日志详情"
            >
            <Row>
                <Col class="flex" span="24">
                    
                </Col>
            </Row>
        </Modal>
    </div>
</template>

<script>
export default {
    data () {
        return {
            model1:'',
            show:false,
            show1:false,
            title:'',
            eidt:{

            },
            data4: [
                    {
                        title: '系统管理',
                        expand: true,
                        selected: true,
                        children: [
                            {
                                title: '用户管理',
                                expand: true,
                            },
                            {
                                title: '角色管理',
                                expand: true,
                            }
                        ]
                    }
                ],
            columns1: [
                {
                    type: 'index',
                    width: 80,
                    align: 'center',
                    title:'序号'
                },
                {
                    title: '日志类型',
                    key: 'a',
                    align:'center'
                },
                {
                    title: '日志名称',
                    key: 'b',
                    align:'center'
                },
                {
                    title: '用户名称',
                    key: 'c',
                    align:'center',
                },
                {
                    title: '类名',
                    key: 'd',
                    align:'center',
                    width:300
                },
                {
                    title: '方法名',
                    key: 'e',
                    align:'center',
                },
                {
                    title: '时间',
                    key: 'f',
                    align:'center',
                    width:200
                },
                {
                    title: '具体消息',
                    key: 'g',
                    align:'center',
                },
                {
                    title: '操作',
                    key: 'cz',
                    align:'center',
                    width:150,
                    render: (h, params) => {
                        return h('div', [
                            h('Button', {
                                props: {
                                    type: 'primary',
                                    size: 'small'
                                },
                                style: {    
                                    marginRight: '5px'
                                },
                                on: {
                                    click: () => {
                                        this.show = true;
                                    }
                                }
                            }, '查看详情'),
                        ]);
                    }
                },
            ],
            data1: [
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
                {
                    a: '业务日志',
                    b: '菜单新增',
                    f: '2019-05-16 10:45:24',
                    c:'stylefeng',
                    d:'cn.stylefeng.guns.modular.system.controller.MenuController',
                    e:'add',
                    f:'2019-05-16 10:45:06',
                    g:'菜单名称=首页',
                    
                },
            ]
        }
    },
    methods:{
        showTitle(num,params){
           if(num == 1){
               this.title = '新增';
               this.eidt = {};
           }else{
               this.title = '修改';
               Object.keys(params.row).forEach((key,index) => {
                   this.eidt[key] = params.row[key]
               });
           }
            this.show = true;
        }
    }
}
</script>

<style lang='scss' scoped>
    .flex{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label{
            flex: .19;
            text-align: justify;
            text-align-last:justify;
            &::after{
                display: flex;
                content: "";
                overflow: hidden;
                width: 100%;
                height: 0;
            }
        }
        .ivu-input-wrapper,.ivu-select{
            flex: 1;
        }
        &:last-child{
            margin-bottom: 0px;
        }
    }
    .infor{
        display: flex;
        flex-direction: column;
        height: 100%;
        .mid{
            margin-top: 10px;
            flex: 1;
        }
        .bot{
            display: flex;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
</style>
