<template>
  <div class="header" style="display:flex;justify-content:space-between;background:rgb(30,65,128)">
    <div class="brand">
      <img src="../../static/logo1.png" style="width: 49px;height: 56px;margin:0 10px;" />
      <div class="logo">
        <strong
          style="margin-top: -5px !important;display: block;letter-spacing: 4px;"
        >金湖县特种设备安全监察信息管理平台</strong>
        <strong
          style="margin-top: -5px;display: block;height:9px;font-size:12px;font-family:MicrosoftYaHei-Bold;margin-top: -32px;"
        >JIN HU XIAN TE ZHONG SHE BEI AN QUAN JIAN CHA XIN XI GUAN LI PING TAI</strong>
      </div>
    </div>
    <Menu
      mode="horizontal"
      theme="primary"
      active-name="1"
      style="background-color: rgb(30,65,128);height:70px;line-height:70px;"
    >
      <Submenu name="1" class="submenu" style="font-size:18px !important">
        <template slot="title">
          <Icon type="ios-contact" size="35" />
          {{getNickName}}
          <!-- admin -->
        </template>
        <!-- <Menu-item name="1-1"><Icon type="ios-list" size="30" style="margin-top: -3px;margin-left: 15px;"></Icon>信息</Menu-item>
        <Menu-item name="1-2"><Icon type="ios-cog-outline" size="24" style="margin-top: -3px;margin-left: 17px;"></Icon> 设置</Menu-item>-->
        <Menu-item name="1-3" @click.native="logOut" style="font-size:18px !important">
          <img
            src="../assets/images/index_img/退出.png"
            alt="退出"
            style="background-color: #999;width:25px;margin-left: 20px;"
          />&nbsp;&nbsp;&nbsp;退出
        </Menu-item>
      </Submenu>
      <!-- <MenuItem name="2" class="submenu">
        <Icon type="md-expand" size="20" style="margin-top: -3px;"/>开启全屏
      </MenuItem>-->
      <!-- <MenuItem name="3" class="submenu">
        <router-link to="/historygaojing">
          <Icon type="ios-notifications" size="28" style="margin-top: -3px;" color="#fff" />
          <Badge dot :offset="[18,-8]" style="color: #fff;">告警</Badge>
        </router-link>
      </MenuItem>-->
      <!-- <MenuItem name="4" class="submenu">
        <Icon type="md-help-circle" size="20" style="margin-top: -3px;"/>用户手册
      </MenuItem>-->
    </Menu>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import { storage } from "@/lib";
export default {
  data() {
    return {
      status: true
    };
  },
  methods: {
    ChangeStatus() {
      this.status = !this.status;
      this.$root.Bus.$emit("on-change", this.status);
    },

    ...mapMutations(["logout"]),
    logOut() {
      this.$Modal.confirm({
        title: "系统提示",
        content: "<p>确认退出？</p>",
        onOk: () => {
          console.log();
          // this.logout();
          this.$store.commit("user/logout");
          this.$router.push("/login");
        }
      });
    }
  },

  computed: mapGetters("user", ["getNickName"])
};
</script>

<style >
.header {
  min-width: 100%;
  background-color: rgb(30, 65, 128);
  z-index: 20;
}

.header .brand .logo {
  height: 70px;
  text-align: left;
  font-size: 26px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.submenu {
  font-size: 16px !important;
}
.submenu:hover {
  background-color: #287dd9;
}
.header img {
  vertical-align: middle;
  cursor: pointer;
}
i {
  cursor: pointer;
}

.header .brand {
  height: 70px;
  line-height: 60px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.header .title {
  display: inline-block;
  color: #fff;
  padding-left: 16px;
}

strong {
  font-weight: bolder;
}
</style>
