<template>
    <div class="examination">
        <div class="top">
            <list title='用电体检'></list>
            <div>
                <label>选择变电站:</label>
                <Select v-model="model1" style="width:200px">
                    <Option v-for="item in cityList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                </Select>
            </div>
        </div>
        <div class="mid">
            <div class="mid-left">
                <div ref="myChart1" id="myChart1"></div>
                <div>上次体检时间：2019年05月19日 15:28</div>
            </div>
            <div class="mid-right">

            </div>
        </div>
        <div class="bot">

        </div>
    </div>
</template>

<script>
var echarts = require("echarts");
import List from '../account/publicList'
export default {
    components:{
        List
    },
    data(){
        return{
            model1:'',
            cityList:[
                {
                    value: 'New York',
                    label: 'New York'
                },
            ],
        }
    },
    mounted(){
        this.initMap();
    },
    methods:{
        // initMap(){
        //     let myChart1 = echarts.init(this.$refs.myChart1);
        //     let option = {
        //         color:['#38a8da','#d4effa'],
        //         title: {
        //             text: '90%',
        //             x: 'center',
        //             y: 'center',
        //             itemGap: 20,
        //             textStyle : {
        //                 color : 'rgba(30,144,255,0.8)',
        //                 fontFamily : '微软雅黑',
        //                 fontSize : 35,
        //                 fontWeight : 'bolder'
        //             }
        //         },
        //         tooltip : {
        //             trigger: 'item',
        //             // formatter: "{a} <br/>{b} : {c} ({d}%)"
        //         },
        //         legend: {
        //             orient : 'vertical',
        //             x : 'left',
        //             data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
        //         },
        //         calculable : true,
        //         series : [
        //             {
        //                 name:'访问来源',
        //                 type:'pie',
        //                 radius : ['50%', '70%'],
        //                 itemStyle : {
        //                     normal : {
        //                         label : {
        //                             show : false
        //                         },
        //                         labelLine : {
        //                             show : false
        //                         }
        //                     },
        //                     emphasis : {
        //                         label : {
        //                             show : true,
        //                             position : 'center',
        //                             textStyle : {
        //                                 fontSize : '30',
        //                                 fontWeight : 'bold'
        //                             }
        //                         }
        //                     }
        //                 },
        //                 data:[
        //                    {
        //                         value: 10,
        //                         label:{
        //                             normal:{
        //                                 show:true
        //                             }
        //                         }
        //                     },
        //                     {
        //                         value: 100-10,
        //                         name: ''
        //                     }
        //                 ]
        //             }
        //         ]
        //     };
        //     myChart1.setOption(option);
        //     window.onresize = function(){
        //         myChart1.resize();
        //     }
        // }
        initMap(){
            let chart = echarts.init(this.$refs.myChart1);
            let option = {
                series: [{
                    "name": '',
                    "type": 'pie',
                    "radius": ['50%', '70%'],
                    "avoidLabelOverlap": false,
                    "startAngle": 225,
                    "color": [{
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 0.4,
                        y2: 1,
                        colorStops: [{
                            offset: 0,
                            color: 'rgba(12,255,0,1)' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: 'rgba(12,255,0,.3)' // 100% 处的颜色
                        }],
                        globalCoord: false // 缺省为 false
                    }, 'none'],
                    "hoverAnimation": false,
                    "legendHoverLink": false,
                    "label": {
                        "normal": {
                            "show": false,
                            "position": 'center'
                        },
                        "emphasis": {
                            "show": true,
                            "textStyle": {
                                "fontSize": '30',
                                "fontWeight": 'bold'
                            }
                        }
                    },
                    "labelLine": {
                        "normal": {
                            "show": false
                        }
                    },
                    "data": [{
                        "value": 90,
                        "name": '90%'
                    }, {
                        "value": 10,
                        "name": '2'
                    }]
                }]
            }
            chart.setOption(option);
        }
    }
}
</script>

<style lang='scss'>
    .examination{
        display: flex;
        flex-direction: column;
        height: 100%;
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px 6px;
            & div:first-child{
                flex: 1;
            }
            & div:last-child{
                font-size: 14px;
                font-weight: 700;
                display: flex;
                align-items: center;
                label{
                    margin-right: 8px;
                }
            }
        }
        .mid{
            background: #ebeff5;
            height: 50%;
            display: flex;
            justify-content: space-between;
            #myChart1{
                width: 100%;
                height: 50%;
            }
        }
    }
</style>
