<template>
  <div class="newPublic" ref="mid" style="padding:10px;height:100%">
    <div class="top">
      <!-- <el-time-select
        :picker-options="{
                    start: '08:30',
                    step: '00:15',
                    end: '18:30'
                }"
        placeholder="开始时间"
        v-model="query.createTime"
      ></el-time-select> -->
      <el-date-picker
          v-model="query.createTime"
          type="datetime"
          value-format="yyyy-MM-dd HH:mm:ss"
          style="width: 200px;margin-right:10px;"
          size="small"
          placeholder="选择日期"
        ></el-date-picker>
      <!-- <el-time-select
        :picker-options="{
                    start: '08:30',
                    step: '00:15',
                    end: '18:30'
                }"
        placeholder="结束时间"
      ></el-time-select> -->
      <!-- <el-input size="small" style="width:200px;" placeholder="日志名称"></el-input> -->
      <Button type="primary" icon="el-icon-edit" @click.native="getInfoMsg">搜索</Button>
    </div>
    <Table
      :columns="columns"
      :loading='loading'
      style="width:100%;"
      ref="table"
      :height="tableHeight"
      :data="data"
      border
    ></Table>
    <Page
        :total="query.total"
        @on-change="changePageNo"
        @on-page-size-change="changePageSize"
        :page-size="query.pageSize"
        style="text-align: center;margin-top: 10px;"
      />
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      showTable: false,
      tableHeight: "",
      columns: [
        {
          title: "日志名称",
          key: "logType_dictText",
          align: "center",
          width: 200
        },
        // {
        //   title: "用户名称",
        //   key: "b",
        //   align: "center",
        //   width: 140
        // },
        {
          title: "时间",
          align: "center",
          key: "createTime"
        },
        {
          title: "具体消息",
          align: "center",
          key: "logContent"
        },
        {
          title: "Ip",
          align: "center",
          key: "ip"
        }
        // {
        //     title: '操作',
        //     align: 'center',
        //     render: function (h, params) {
        //         return h('div',
        //             [
        //                 h('Button',{
        //                     props:{
        //                         type:'primary',
        //                         size:'small'
        //                     },
        //                     on: {
        //                         click: () => {
        //                             selftdd.show = true;
        //                             selftdd.getInitNode(params.row.n);
        //                         }
        //                     }

        //                 },'修改')
        //             ]
        //         )
        //     }
        // },
      ],
      data: [],
      query:{
        pageSize:10,
        pageNo:1,
        total:0
      },
      loading:true,
    };
  },
  mounted(){
    setTimeout(() => {
       this.tableHeight = this.$refs.mid.offsetHeight - 120;
    }, 50);
   
  },
  created() {
    // let item = [
    //   { a: "李伟", b: "涟水县城市", c: "138512391", d: "张三", e: "涟水县" }
    // ];
    // for (let i = 0; i < 10; i++) {
    //   this.data.push({
    //     a: "异常登录" + i,
    //     b: "admin" + i,
    //     c: "2019-06" + i,
    //     d: "登录异常",
    //     e: "192.168.0." + i
    //   });
    // }
    this.getInfoMsg();
  },
  methods:{
    async getInfoMsg(){
      this.loading = true;
      let res = await this.$fetch.get('/api/sys/log/list',{params:this.query})
      this.data = res.data.result.records;
      this.query.total = res.data.result.total;
      setTimeout(() => {
        this.loading = false
      }, 100);
    },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getInfoMsg()
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getInfoMsg();
    },
  }
};
</script>

<style lang='scss' scoped>
.top {
  margin-bottom: 10px;
}
.pubList {
  text-align: center;
  & > label {
    width: 100px;
    display: inline-block;
    text-align: justify;
    position: relative;
    vertical-align: -23px;
    &::after {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      height: 0;
      content: "";
    }
  }
}
</style>
<style lang='scss'>
.BaiduMap {
  padding: 10px;
}
.newPublic .Button + .Button {
  margin-left: inherit;
}
</style>

