<template>
    <div class="newPublic">
        <div class="top">
            <el-input style="width:200px;"  placeholder="角色名称"></el-input>
            <Button type="primary" icon="el-icon-edit">搜索</Button>
            <Button type="error" icon="el-icon-add" @click="showTable = true;title='添加角色'">添加</Button>
        </div>
        <Table :columns="columns" style="width:100%;" ref="table" :height="tableHeight" :data="data" border ></Table>
        <Page @on-change="changePage" :total="total" style="margin-top: 10px;" show-sizer @on-page-size-change="changeSize" />
        <Modal
        :title="title"
        v-model="showTable"
        width="30%"
        >
        <div>
            <div class="pubList">
                <label>角色名称</label>：<el-input v-model="add.roleName" style="width:300px;" placeholder="请输入角色名称"></el-input>
            </div>
            <div class="pubList">
                <label>角色编码</label>：<el-input :disabled="title == '修改角色'"  @change="checkRoleName" v-model="add.roleCode" style="width:300px;" placeholder="请输入联系方式"></el-input>
            </div>
            <div class="pubList">
                <label>描述</label>：<el-input style="width:300px;" placeholder="请输入备注"></el-input>
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <Button @click="showTable = false">取 消</Button>
            <Button type="primary" @click="addList">确 定</Button>
        </span>
        </Modal>
    </div>
</template>

<script>
var selftdd;
export default {
    data(){
        return{
            title:'',
            showTable:false,
            tableHeight:'',
            add:{},
            columns:[
                {
                    title: '角色名称',
                    key: 'roleName',
                    align: 'center',
                    width:200,
                },
                {
                    title: '角色编码',
                    key: 'roleCode',
                    align: 'center',
                    width:140,
                },

                {
                    title: '备注',
                    align: 'center',
                    key:"description",
                },
              {
                title: '创建时间',
                align: 'center',
                key:"createTime",
              },{
                title: '更新时间',
                align: 'center',
                key:"updateTime",
              },{
                    title: '操作',
                    align: 'center',
                    render: function (h, params) {
                        return h('div',
                            [
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    on: {
                                        click: () => {
                                            selftdd.showTable = true;
                                            selftdd.add = Object.assign({},params.row);
                                            selftdd.title='修改角色'
                                        }
                                    }
                                },'编辑'),
                              h('Button',{
                                props:{
                                  type:'error',
                                  size:'small'
                                },
                                style:{
                                  marginLeft:'10px'
                                },
                                on: {
                                  click: () => {
                                    selftdd.deleteUser(params.row.id);
                                  }
                                }
                              },'删除')
                            ]
                        )
                    }
                },
            ],
            data:[
            ],
            total:0,
            query:{
              column:'createTime',order:'desc',field:'id,roleName,roleCode,description,createTime,updateTime,action',
              pageNo: 1,
              pageSize: 10
            },
          num:false,
          numMessage:'',
        }
    },
    created(){
        selftdd = this;
        this.getInfoMsg();
    },
    methods:{
      async getInfoMsg(){
        let res = await this.$fetch.get('/api/sys/role/list',{params:this.query});
        if(res.data.success){
          this.data = res.data.result.records;
          this.total = res.data.result.total;
        }else{
          this.$Message.error(res.data.message);
        }
      },
     async addList(){
       if(this.num){
         this.$Message.error(this.numMessage);
         return
       }
        let res = await this.$fetch.post('/api/sys/role/add',this.add);
        if(res.data.success){
          this.showTable = false;
          this.$Message.success(res.data.message);
          this.getInfoMsg();
        }else{
          this.$Message.error(res.data.message);
        }

      },
      // 改变页码
      changeSize(msg){
        this.query.pageSize = msg;
        this.getInfoMsg();
      },
      changePage(msg){
        this.query.pageNo = msg;
        this.getInfoMsg();
      },
      // 删除用户
      deleteUser(id){
        this.$Modal.confirm({
          title: 'Title',
          content: '是否确认删除当前用户！',
          onOk: () => {
            this.delete(id);
          },
        });
      },
      async delete(id){
        let res  = await this.$fetch({
          url:'sys/role/delete',
          method:'DELETE',
          params:{
            id:id,
          }
        });
        if(res.data.success){
          this.$Message.success(res.data.message);
        }else{
          this.$Message.error(res.data.message);
        }
        this.getInfoMsg();
      },
      async checkRoleName(val){
        let res = await this.$fetch.get('/api/sys/duplicate/check',{params:{
            tableName: 'sys_role',
            fieldName: 'role_code',
            fieldVal: val,
            dataId: this.add.id,
          }});
        if(!res.data.success){
          this.num = true;
          this.$Message.error(res.data.message);
          this.numMessage = res.data.message;
        }else{
          this.num = false;
        }
      }
    }
}
</script>

<style lang='scss' scoped>
.top{
    margin-bottom:10px;
}
.pubList{
    text-align: center;
    &>label{
        width: 100px;
        display: inline-block;
        text-align:justify;
        position: relative;
        vertical-align: -19px;
        &::after{
            display:inline-block;
            overflow:hidden;
            width:100%;
            height:0;
            content:'';
        }
    }
}
</style>
<style lang='scss'>
  .BaiduMap{
    padding: 10px;
  }
.newPublic .Button+.Button{
    margin-left: inherit;
}
</style>

