<template>
  <div class="newPublic" style="padding:10px;">
    <div class="top">
      <el-input style="width:200px;" placeholder="账号/姓名/手机号"></el-input>
      <el-input style="width:200px;" placeholder="注册时间"></el-input>
      <Button type="primary" icon="el-icon-edit">搜索</Button>
      <Button
        type="error"
        icon="el-icon-add"
        @click="showTable = true;title='添加用户';detail={};getRole();"
      >添加</Button>
      <!-- <Button type="error" icon="el-icon-add" >导出</Button> -->
    </div>
    <Table
      :columns="columns"
      style="width:100%;"
      ref="table"
      :height="tableHeight"
      :data="data"
      border
    ></Table>
    <Page
      @on-change="changePage"
      :total="total"
      style="margin-top: 10px;"
      show-sizer
      @on-page-size-change="changeSize"
    />
    <Modal :title="title" v-model="showTable" width="30%">
      <div>
        <div class="pubList">
          <label>账号</label>：
          <el-input
            v-model="detail.username"
            style="width:300px;"
            @change="checkUserName"
            placeholder="请输入账号"
          ></el-input>
        </div>
        <div class="pubList" v-if="title == '添加用户'">
          <label>密码</label>：
          <el-input
            type="password"
            v-model="detail.password"
            style="width:300px;"
            placeholder="请输入密码"
          ></el-input>
        </div>
        <div class="pubList" v-if="title == '添加用户'">
          <label>重复密码</label>：
          <el-input
            type="password"
            v-model="detail.confirmpassword"
            style="width:300px;"
            placeholder="请输入重复密码"
          ></el-input>
        </div>
        <div class="pubList">
          <label>用户姓名</label>：
          <el-input v-model="detail.realname" style="width:300px;" placeholder="请输入姓名"></el-input>
        </div>
        <div class="pubList">
          <label>角色分配</label>：
          <el-select multiple v-model="selectedroles" style="width:300px;" placeholder="请选择角色">
            <el-option
              v-for="list in roleList"
              :key="list.id"
              :label="list.roleName"
              :value="list.id"
            ></el-option>
          </el-select>
        </div>
        <div class="pubList">
          <label>出生日期</label>：
          <el-date-picker
            v-model="detail.birthday"
            style="width:300px;"
            type="date"
            placeholder="请选择出生日期"
          ></el-date-picker>
        </div>
        <div class="pubList">
          <label>性别</label>：
          <el-select v-model="detail.sex_dictText" style="width: 300px;" placeholder="请选择性别">
            <el-option value="男" label="男"></el-option>
            <el-option value="女" label="女"></el-option>
          </el-select>
        </div>
        <div class="pubList">
          <label>邮箱</label>：
          <el-input v-model="detail.email" style="width:300px;" placeholder="请输入邮箱"></el-input>
        </div>
        <div class="pubList">
          <label>手机号</label>：
          <el-input v-model="detail.phone" style="width:300px;" placeholder="请输入电话"></el-input>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <Button @click="showTable = false" v-if="title != '详情'">取 消</Button>
        <Button type="primary" @click="add" v-if="title != '详情'">确 定</Button>
      </span>
    </Modal>
    <Modal v-model="departShow" @on-ok="ok">
      <Tree
        :data="treeData"
        :check-directly="true"
        :check-strictly="true"
        @on-check-change="selectTree"
        show-checkbox
      ></Tree>
    </Modal>
    <el-dialog title="修改密码" :visible.sync="changePassWord" width="30%">
      <div>
        <div class="pubList">
          <label>账号</label>：
          <el-input v-model="detail.username" style="width:300px;" placeholder="请输入账号"></el-input>
        </div>
        <div class="pubList">
          <label>密码</label>：
          <el-input
            type="password"
            v-model="edit.password"
            style="width:300px;"
            placeholder="请输入密码"
          ></el-input>
        </div>
        <div class="pubList">
          <label>重复密码</label>：
          <el-input
            type="password"
            v-model="edit.confirmpassword"
            style="width:300px;"
            placeholder="请输入重复密码"
          ></el-input>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <Button @click="changePassWord = false">取 消</Button>
        <Button type="primary" @click="changePass">确 定</Button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
var selftdd;
export default {
  data() {
    return {
      title: "",
      showTable: false,
      changePassWord: false,
      departShow: false,
      tableHeight: "",
      detail: { selectedroles: [], departName: "" },
      edit: {},
      columns: [
        {
          title: "用户账号",
          key: "username",
          align: "center"
        },
        {
          title: "姓名",
          key: "realname",
          align: "center"
        },
        {
          title: "性别",
          align: "center",
          key: "sex_dictText"
        },
        {
          title: "生日",
          align: "center",
          key: "birthday"
        },
        {
          title: "手机号码",
          align: "center",
          key: "phone"
        },
        {
          title: "邮箱",
          align: "center",
          key: "email"
        },
        {
          title: "操作",
          align: "center",
          width: 300,
          fiexd: "right",
          render: function(h, params) {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  on: {
                    click: () => {
                      // 获取角色
                      selftdd.getRole();
                      selftdd.detail = Object.assign({}, params.row);
                      selftdd.getUserRole();
                      selftdd.getDepart();
                      selftdd.showTable = true;
                      selftdd.title = "详情";
                    }
                  }
                },
                "详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginLeft: "10px"
                  },
                  on: {
                    click: () => {
                      // 获取角色
                      selftdd.getRole();
                      selftdd.detail = Object.assign({}, params.row);
                      selftdd.getUserRole();
                      selftdd.getDepart();
                      selftdd.showTable = true;
                      selftdd.title = "编辑";
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginLeft: "10px"
                  },
                  on: {
                    click: () => {
                      selftdd.deleteUser(params.row.id);
                    }
                  }
                },
                "删除"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "info",
                    size: "small"
                  },
                  style: {
                    marginLeft: "10px"
                  },
                  on: {
                    click: () => {
                      selftdd.detail = Object.assign({}, params.row);
                      selftdd.edit = {};
                      selftdd.changePassWord = true;
                    }
                  }
                },
                "密码"
              )
            ]);
          }
        }
      ],
      data: [],
      query: {
        column: "createTime",
        order: "desc",
        field:
          "id,,username,realname,avatar,sex_dictText,birthday,phone,email,status_dictText,action",
        pageNo: 1,
        pageSize: 10
      },
      total: 0,
      roleList: [],
      treeData: [],
      selectTreeData: [],
      num: false,
      numMessage: "",
      selectedroles: []
    };
  },
  created() {
    selftdd = this;
    this.getInfoMsg();
  },
  methods: {
    //获取列表
    async getInfoMsg() {
      let res = await this.$fetch.get("/api/sys/user/list", {
        params: this.query
      });
      if (res.data.success) {
        this.data = res.data.result.records;
        this.total = res.data.result.total;
      } else {
        this.$Message.error(res.data.message);
      }
    },
    selectTree(data, item) {
      this.selectTreeData = data;
    },
    ok() {
      if (this.selectTreeData.length > 0) {
        let str = "";
        let strId = "";
        for (let i of this.selectTreeData) {
          str += i.title + ",";
          strId += i.value + ",";
        }
        str = str.substr(0, str.length - 1);
        strId = strId.substr(0, strId.length - 1);
        this.detail.selecteddeparts = strId;
        this.detail.departName = str;
      }
    },
    async add() {
      if (this.num) {
        this.$Message.error(this.numMessage);
        return;
      }
      if (this.selectedroles.length > 0) {
        let str = "";
        for (let i in this.selectedroles) {
          str += this.selectedroles[i] + ",";
        }
        str = str.substr(0, str.length - 1);
        this.detail.selectedroles = str;
      } else {
        this.detail.selectedroles = "";
      }
      let res = await this.$fetch.post("/api/sys/user/add", this.detail);

      if (res.data.success) {
        this.showTable = false;
        this.$Message.success(res.data.message);
        this.getInfoMsg();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    //验证用户名是否重复
    async checkUserName(val) {
      let res = await this.$fetch.get("/api/sys/duplicate/check", {
        params: {
          tableName: "sys_user",
          fieldName: "username",
          fieldVal: val
        }
      });
      if (!res.data.success) {
        this.$Message.error(res.data.message);
        this.numMessage = res.data.message;
        this.num = true;
      } else {
        this.num = false;
      }
    },
    // 改变页码
    changeSize(msg) {
      this.query.pageSize = msg;
      this.getInfoMsg();
    },
    changePage(msg) {
      this.query.pageNo = msg;
      this.getInfoMsg();
    },
    // 获取所有角色权限
    async getRole() {
      let res = await this.$fetch.get("/api/sys/role/queryall");
      this.roleList = res.data.result;
    },

    // 获取当前用户权限
    async getUserRole() {
      let res = await this.$fetch.get("/api/sys/user/queryUserRole", {
        params: { userid: this.detail.id }
      });
      this.selectedroles = res.data.result;
    },

    // 获取当前用户所在部门
    async getDepart() {
      let res = await this.$fetch.get("/api/sys/user/userDepartList", {
        params: { userId: this.detail.id }
      });
      let str = "";
      for (let i of res.data.result) {
        str += i.title + ",";
      }
      str = str.substr(0, str.length - 1);
      this.detail = Object.assign({}, this.detail, { departName: str });
    },
    // 修改密码
    async changePass() {
      let res = await this.$fetch({
        url: "sys/user/changPassword",
        method: "PUT",
        data: {
          password: this.edit.password,
          confirmpassword: this.edit.confirmpassword,
          username: this.detail.username
        }
      });
      if (res.data.success) {
        this.changePassWord = false;
        this.$Message.success(res.data.message);
      } else {
        this.$Message.error(res.data.message);
      }
    },

    // 删除用户
    deleteUser(id) {
      this.$Modal.confirm({
        title: "Title",
        content: "是否确认删除当前用户！",
        onOk: () => {
          this.delete(id);
        }
      });
    },
    async delete(id) {
      let res = await this.$fetch({
        url: "/api/sys/user/delete",
        method: "DELETE",
        params: {
          id: id
        }
      });
      if (res.data.success) {
        this.$Message.success(res.data.message);
      } else {
        this.$Message.error(res.data.message);
      }
      this.getInfoMsg();
    },
    async showDepart() {
      this.departShow = true;
      let res = await this.$fetch.get("/api/sys/sysDepart/queryIdTree");
      this.treeData = res.data.result;
    }
  }
};
</script>

<style lang='scss' scoped>
.top {
  margin-bottom: 10px;
}
.pubList {
  text-align: center;
  & > label {
    width: 100px;
    display: inline-block;
    text-align: justify;
    position: relative;
    vertical-align: -19px;
    &::after {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      height: 0;
      content: "";
    }
  }
}
</style>
<style lang='scss' scoped>
.BaiduMap {
  padding: 10px;
}
.newPublic .Button + .Button {
  margin-left: inherit;
}
</style>

