<template>
    <div class="newPublic">
          <div class="left">
            <Input style="width:80%;margin-bottom: 10px;" @on-search="search" search v-model="keyWord" suffix="ios-search"  placeholder="部门名称" /><br>
            <!--<Button type="primary" icon="el-icon-edit">搜索</Button>-->
            <Button type="error" icon="ios-add-circle" @click="addDepart(1)">添加子部门</Button>
            <Button type="error" icon="ios-add-circle" @click="addDepart(2)">添加一级部门</Button>
            <Button type="info" icon="el-icon-add" >导出</Button>
            <Tree style="margin-top: 10px;" :data="treeData" @on-select-change="selectTree"  :check-strictly="true" @on-check-change="selectTree1" show-checkbox></Tree>
        </div>
        <Modal
        title="新增"
        v-model="showTable"
        width="30%"
        >
        <div>
            <div class="pubList">
                <label><span style="color: red;">*</span>机构名称</label>：<Input style="width:300px;" v-model="form.departName" placeholder="请输入机构名称" />
            </div>
            <div class="pubList" v-if="number == 1">
                <label>上级部门</label>：<Select style="width:300px;" v-model="form.parentId" placeholder="请选择上级部门" :disabled="true"><Option :value="addItem.value">{{addItem.name}}</Option></Select>
            </div>
            <div class="pubList">
                <label>电话</label>：<Input style="width:300px;" v-model="form.mobile" placeholder="请输入电话" />
            </div>
            <div class="pubList">
                <label>传真</label>：<Input style="width:300px;" v-model="form.fax" placeholder="请输入传真" />
            </div><div class="pubList">
                <label>地址</label>：<Input style="width:300px;" v-model="form.address" placeholder="请输入地址" />
            </div><div class="pubList">
                <label>排序</label>：<Input style="width:50px;" v-model="form.departOrder"  /><span style="width: 250px;display: inline-block;"></span>
            </div><div class="pubList">
                <label>备注</label>：<Input style="width:300px;" v-model="form.memo" placeholder="请输入备注" />
            </div>
        </div>
        <span slot="footer" class="dialog-footer">
            <Button @click="showTable = false">取 消</Button>
            <Button type="primary" @click="submit">确 定</Button>
        </span>
        </Modal>
        <div class="right">
          <Form :model="formItem" :label-width="80">
            <FormItem label="机构名称：">
              <Input v-model="formItem.departName" style="width: 80%;" placeholder="请输入机构名称/部门名称" />
            </FormItem>
            <FormItem label="上级部门：">
              <Select :disabled="true" v-model="formItem.updepartName" style="width: 80%;" placeholder="无" >
                <Option  :value="formItem.updepartName">{{formItem.updepartName}}</Option>
              </Select>
            </FormItem>
            <FormItem label="机构编码：">
              <Input v-model="formItem.orgCode" style="width: 80%;" :disabled="true" placeholder="请输入机构编码" />
            </FormItem>
            <FormItem label="排序：">
              <Input v-model="formItem.departOrder" style="width: 80%;" placeholder="" />
            </FormItem>
            <FormItem label="手机号：">
              <Input v-model="formItem.mobile" style="width: 80%;" placeholder="请输入手机号" />
            </FormItem>
            <FormItem label="地址：">
              <Input v-model="formItem.address" style="width: 80%;" placeholder="请输入地址" />
            </FormItem>
            <FormItem label="备注：">
              <Input v-model="formItem.memo" style="width: 80%;" placeholder="请输入备注" />
            </FormItem>
            <FormItem>
              <Button type="primary" @click="editSave">修改并保存</Button>
              <!--<Button style="margin-left: 8px">重置</Button>-->
            </FormItem>
          </Form>
        </div>
    </div>
</template>

<script>
var selftdd;
export default {
    data(){
        return{
            title:'',
          form:{
            departOrder:0,
          },
          number:0,
            showTable:false,
            tableHeight:'',
            keyWord:'',
            treeData:[],
            formItem:{updepartName:''},
            addItem:{name:'',value:''},
            columns:[
                {
                    title: '部门简称',
                    key: 'a',
                    align: 'center',
                    width:200,
                },
                {
                    title: '部门名称',
                    key: 'b',
                    align: 'center',
                    width:140,
                },
                {
                    title: '排序',
                    align: 'center',
                    key:"c",
                },
                {
                    title: '备注',
                    align: 'center',
                    key:"d",
                },{
                    title: '操作',
                    align: 'center',
                    render: function (h, params) {
                        return h('div',
                            [
                                h('Button',{
                                    props:{
                                        type:'primary',
                                        size:'small'
                                    },
                                    on: {
                                        click: () => {
                                            selftdd.showTable = true;
                                            selftdd.title='修改部门'
                                        }
                                    }

                                },'修改')
                            ]
                        )
                    }
                },
            ],
            data:[
            ],
        }
    },
    created(){
        selftdd = this;
        this.getInfoMsg();
    },
    methods:{
      selectTree(data,item){
        this.addItem.name = item.title;
        this.addItem.value = item.id;
        this.form.parentId = item.id;
        this.formItem = Object.assign({},item);
        if(item.nodeKey == 0){
          this.formItem = Object.assign({},this.formItem,{updepartName:'无'})
          this.formItem = Object.assign({},this.formItem,{parentId:''})
        }else{
          // this.formItem = Object.assign({},this.formItem,{updepartName:data[0].title})
          this.formarte(this.treeData,item.id);
        }
        console.log(this.formItem);
      },
      formarte(list,id,parent){
        for(let i of list){
          if(i.id != id){
            if(i.children){
              this.formarte(i.children,id,i);
            }
          }else{
            this.formItem = Object.assign({},this.formItem,{updepartName:parent.title})
            this.formItem = Object.assign({},this.formItem,{parentId:parent.id})
          }
        }
      },
      selectTree1(data,item){
      },
      async getInfoMsg(){
        let res = await this.$fetch.get('/api/sys/sysDepart/queryTreeList');
        this.treeData = res.data.result;
      },
      async search(){
        if(!this.keyWord){
          this.getInfoMsg();
          return
        }
        let res = await this.$fetch.get('/api/sys/sysDepart/searchBy',{params:{keyWord:this.keyWord}});
        if(res.data.success){
          this.treeData = res.data.result;
        }else{
          this.$Message.error(res.data.message);
        }

      },
      addDepart(num){
        this.form = {};
        if(num == 1 && !this.addItem.value){
          this.$Message.error('请选择一条记录');
          return
        }
        this.showTable = true;
        this.number = num;
      },
      async submit(){
        if(!this.form.departName){
          this.$Message.error('请输入机构名称');
          return
        }
        let res = await this.$fetch.post('/api/sys/sysDepart/add',this.form);
        if(res.data.success){
          this.showTable = false;
          this.$Message.success(res.data.message);
          this.getInfoMsg();
        }else{
          this.$Message.error(res.data.message);
        }
      },
      async editSave(){
        // this.formItem.children = JSON.stringify(this.formItem.children);
        let res = await this.$fetch({
          url:'sys/sysDepart/edit',
          method:'PUT',
          data:this.formItem,
        })
        if(res.data.success){
          this.$Message.success(res.data.message);
          this.getInfoMsg();
        }else{
          this.$Message.error(res.data.message);
        }
      }
    }
}
</script>

<style lang='scss' scoped>
.top{
    margin-bottom:10px;
}
.newPublic{
  display: flex;
  height: 100%;
  padding: 10px;
  background: #f2f2f2;
  .left{
    flex: .5;
    padding: 20px;
    margin-right: 10px;
    background: #fff;
    align-self: flex-start;
  }
  .right{
    flex: .5;
    padding: 20px;
    background: #fff;
    align-self: flex-start;
  }
}
.pubList{
    /*text-align: center;*/
    &>label{
        width: 60px;
        display: inline-block;
        text-align:justify;
        position: relative;
        vertical-align: -19px;
        &::after{
            display:inline-block;
            overflow:hidden;
            width:100%;
            height:0;
            content:'';
        }
    }
}
</style>
<style lang='scss'>
.newPublic .Button+.Button{
    margin-left: inherit;
}
</style>

