<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <Input
          suffix="ios-search"
          v-model="query.username"
          placeholder="账号"
          style="width: 160px;margin-right: 10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.realname"
          placeholder="姓名"
          style="width: 160px;margin-right: 10px;"
        />
        <Button
          type="primary"
          icon="ios-search"
          style="margin-right: 10px;"
          @click="query.pageNo=1;getSbList();"
        >查询</Button>
        <Button
          type="success"
          icon="md-add"
          style="margin-right: 10px;"
          @click.native="showTitle(1)"
        >新增</Button>
        <!-- <Button type="primary" icon="ios-search" @click="dc">导出</Button> -->
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <!--<Table border v-show="!showList" :loading="loading" :columns="columns1" :height="Height" :data="data1"></Table>-->
        <Table
          border
          v-show="!showList"
          :loading="loading"
          :columns="columns1"
          :height="Height"
          :data="data1"
        ></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          :total="query.total"
          :current="query.pageNo"
        />
      </div>
    </div>
    <Modal v-model="show" :title="title" width="800">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="12">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>用户账号：
              </label>
              <Input v-model="form.username" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>用户名字：
              </label>
              <Input v-model="form.realname" />
            </FormItem>
          </Col>
        </Row>
        <Row v-if="title =='新增'">
          <Col span="12">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>登录密码：
              </label>
              <Input v-model="form.password" type="password" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>确认密码：
              </label>
              <Input v-model="form.salt" type="password" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem label="所属角色：">
              <RadioGroup style="margin-left: 10px;" v-model="userType">
                <Radio label="企业用户"></Radio>
                <Radio label="乡镇用户/环保局"></Radio>
                <Radio label="发改委"></Radio>
              </RadioGroup>
              <!--<Select v-if="userType == '企业用户'" v-model="form.compId" style="width: 480px;margin-left: 10px;border-left: 1px solid #ddd;">-->
              <!--<Option v-for="(list,index) in allCompany" :value="list.zzjgdm" :key="index">{{list.sydwmc}}</Option>-->
              <!--</Select>-->
              <div
                v-if="userType == '企业用户'"
                style="width: 490px;display:inline-block;border-left: 1px solid #ddd;height:32px;border-right: 1px solid #ddd;padding-left: 10px;cursor: pointer;"
                @click="clickTable"
              >{{this.form.compName?this.form.compName:'请选择企业用户'}}</div>
              <div
                v-if="userType == '乡镇用户/环保局'"
                style="width: 490px;display:inline-block;border-left: 1px solid #ddd;height:32px;border-right: 1px solid #ddd;padding-left: 10px;cursor: pointer;"
                @click="clickTownTable"
              >{{this.form.compName?this.form.compName:'请选择用户'}}</div>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="生日：">
              <!--<Input v-model="form.birthday" />-->
              <el-date-picker
                v-model="form.birthday"
                type="date"
                value-format="yyyy-MM-dd"
                style="width: 100%;"
                placeholder="选择日期"
              ></el-date-picker>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="性别：">
              <!--<Input v-model="form.zyxm" />-->
              <Select v-model="form.sex">
                <Option :value="1">男</Option>
                <Option :value="2">女</Option>
              </Select>
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="邮箱：">
              <Input v-model="form.email" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="手机号码：">
              <Input v-model="form.phone" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="show = false;">取消</Button>
        <Button type="primary" v-if="title != '详情'" :loading="modal_loading" @click="addSave">保存</Button>
      </div>
    </Modal>
    <Modal v-model="show222" :title="title" width="800">
      <div>
        <!--<Select>-->
        <!--<Option></Option>-->
        <!--</Select>-->
        <Input
          placeholder="输入公司名称"
          v-model="query1.sydwmc"
          style="width: 160px;margin-bottom: 10px;margin-right: 10px;"
        />
        <!--<Button></Button>-->
        <Button
          type="primary"
          icon="ios-search"
          style="margin-bottom: 10px;"
          @click="searchDetail"
        >查询</Button>
      </div>
      <!--<Table ref="table" border v-show="!showList" :loading="loading" :columns="columns2" :height="Height" :data="title == '公司配置'?data2:title=='设备配置'?deviceList:''"></Table>-->
      <Table
        @on-row-click="rowClick"
        ref="table"
        border
        :loading="loading"
        :columns="columns222"
        height="400"
        :data="data3"
      ></Table>
      <Page
        style="margin-top: 10px;text-align: center;"
        @on-change="changePageNo1"
        @on-page-size-change="changePageSize1"
        :page-size="query1.pageSize"
        :total="query1.total"
      />
      <div slot="footer">
        <Button @click="show222 = false;">取消</Button>
        <!--<Button type="primary"  :loading="modal_loading" @click="">保存</Button>-->
      </div>
    </Modal>
    <Modal v-model="showTown" :title="title" width="800">
      <Table
        @on-row-click="rowClickTown"
        ref="tableTown"
        border
        :loading="loading"
        :columns="columnsTown"
        height="400"
        :data="dataTown"
      ></Table>
      <Page
        style="margin-top: 10px;text-align: center;"
        :page-size="queryTown.pageSize"
        :total="queryTown.total"
      />
      <div slot="footer">
        <Button @click="showTown = false;">取消</Button>
      </div>
    </Modal>
    <Modal v-model="show1" title="修改密码">
      <Form :model="form" class="form" label-position="right" :label-width="120">
        <Row>
          <Col span="24">
            <FormItem>
              <label slot="label">用户账号：</label>
              <Input v-model="form.realname" :disabled="true" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>登录密码：
              </label>
              <Input v-model="form.password" type="password" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="24">
            <FormItem>
              <label slot="label">
                <span style="color: red;">*</span>确认密码：
              </label>
              <Input v-model="form.salt" type="password" />
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button @click="show1 = false;">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="SavePassWord">保存</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      model1: "",
      show: false,
      show666: false,
      modal_loading: false,
      Height: null,
      title: "",
      showList: false,
      show1: false,
      dis: 0,
      numList: 0,
      form: {},
      edit: {},
      columns222: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "企业名称",
          key: "sydwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        }
      ],
      columnsTown: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "乡镇名称",
          key: "NAME",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.NAME
                  }
                },
                params.row.NAME
              )
            ]);
          }
        }
      ],
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "用户账号",
          key: "username",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.username
                  }
                },
                params.row.username
              )
            ]);
          }
        },
        {
          title: "真实姓名",
          key: "realname",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.realname
                  }
                },
                params.row.realname
              )
            ]);
          }
        },
        {
          title: "性别",
          key: "sex_dictText",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sex_dictText
                  }
                },
                params.row.sex_dictText
              )
            ]);
          }
        },
        {
          title: "生日",
          key: "birthday",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.birthday
                  }
                },
                params.row.birthday
              )
            ]);
          }
        },
        {
          title: "手机号码",
          key: "zyxm",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.phone
                  }
                },
                params.row.phone
              )
            ]);
          }
        },
        {
          title: "邮箱",
          key: "email",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.email
                  }
                },
                params.row.email
              )
            ]);
          }
        },
        {
          title: "状态",
          key: "status_dictText",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.status_dictText
                  }
                },
                params.row.status_dictText
              )
            ]);
          }
        },
        {
          title: "操作",
          key: "cz",
          fixed: "right",
          align: "center",
          width: 300,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(3, params.row.id);
                      // this.showTitle(2, params);
                    }
                  }
                },
                "详情"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.showTitle(2, params.row.id);
                      // this.showTitle(2, params);
                    }
                  }
                },
                "编辑"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.form = {};
                      this.show1 = true;
                      this.getDetail(params.row.id);
                    }
                  }
                },
                "修改密码"
              ),
              h(
                "Button",
                {
                  props: {
                    type: "error",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "警告",
                        content: "是否确认删除？",
                        onOk: () => {
                          this.delete(params.row.id);
                        }
                      });
                    }
                  }
                },
                "删除"
              )
            ]);
          }
        }
      ],
      data1: [],
      loading: false,
      show222: false,
      showTown: false,
      add: {},
      data2: [],
      data3: [],
      dataTown: [],
      query: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        fzjg: "金湖县市场监督管理局"
      },
      query1: {
        pageSize: 10,
        pageNo: 1,
        total: 0,
        fzjg: "金湖县市场监督管理局",
        sydwmc: ""
      },
      queryTown: {
        pageSize: 10,
        pageNo: 1,
        total: 1
      },
      xmdmList: [],
      zlList: [],
      listFz: [],
      selectList: [],
      allCompany: [],
      userType: ""
    };
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 500);
  },
  created() {
    this.getSbList();
    this.getAllCompany();
  },
  methods: {
    searchDetail() {
      let _this = this;
      this.data3 = this.data2.filter(
        item => item.sydwmc.indexOf(_this.query1.sydwmc) > -1
      );
    },
    rowClick(row) {
      this.show222 = false;
      this.$set(this.form, "compId", row.zzjgdm);
      this.$set(this.form, "compName", row.sydwmc);
    },
    rowClickTown(row) {
      this.showTown = false;
      this.$set(this.form, "compId", row.DICTIONARIES_ID);
      this.$set(this.form, "compName", row.NAME);
    },
    async getAllCompany() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3", {
        params: this.query1
      });
      this.data2 = res.data.result;
      this.data3 = res.data.result;
      this.query1.total = res.data.result.total;
    },
    async changePageNo1(val) {
      this.query1.pageNo = val;
      this.getAllCompany();
    },
    changePageSize1(val) {
      this.query1.pageSize = val;
      this.getAllCompany();
    },
    // async getCom(id){
    //   let res = await this.$fetch.get('/api/sydwjcxx/getSydwjcxxByUsci',{params:{usci:id}});
    //   this.selectList = res.data.result;
    //   // this.form.orgName = res.data.result.sydwmc
    //   this.$set(this.form,'orgName', res.data.result.sydwmc)
    // },
    async addSave() {
      if (
        !this.form.username ||
        !this.form.realname ||
        !this.form.password ||
        !this.form.salt ||
        !this.userType
      ) {
        this.$Message.error("请输入完整信息！");
        return;
      }
      if (this.userType == "企业用户") {
        this.form.userType = 2;
      } else if (this.userType == "发改委") {
        this.form.userType = 3;
      } else {
        this.form.userType = 4;
      }

      this.modal_loading = true;
      let res = "";
      if (this.title == "新增") {
        res = await this.$fetch.post("/api/sys/jhUser/add", this.form);
      } else {
        delete this.form.password;
        res = await this.$fetch.put("/api/sys/jhUser/edit", this.form);
      }

      if (res.data.success) {
        this.show = false;

        this.$Message.success("保存成功!");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
      this.modal_loading = false;
    },
    async SavePassWord() {
      if (!this.form.password || !this.form.salt) {
        this.$Message.error("请输入密码！");
        return;
      }
      if (this.form.password !== this.form.salt) {
        this.$Message.error("请输入相同密码！");
        return;
      }
      this.modal_loading = true;
      let res = await this.$fetch.put(
        "/api/sys/jhUser/changPassword",
        this.form
      );
      if (res.data.success) {
        this.show1 = false;
        this.modal_loading = false;
        this.$Message.success("保存成功!");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    // 作业种类
    async getZl() {
      let res = await this.$fetch.get("/api/workOrder/listWorkType");
      this.zlList = res;
    }, // 作业种类
    async getlistFz() {
      let res = await this.$fetch.get("/api/workOrder/listTestOrg");
      this.listFz = res;
    },
    // async getAllCompany(){
    //   let res = await this.$fetch.get('/api/sydwjcxx/listAllSydwjcxx')
    //   this.allCompany = res.data.result;
    // },
    // 分页
    changePageNo(val) {
      this.query.pageNo = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },

    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("/api/sys/jhUser/list", {
        params: this.query
      });
      this.data1 = res.data.result.records;
      this.query.total = res.data.result.total;
      this.loading = false;
    },
    // 获取详情
    async getDetail(id) {
      let res = await this.$fetch.get("/api/sys/jhUser/getUserDetail", {
        params: { id: id }
      });
      this.form = Object.assign({}, res.data.result);
      // this.$set(this.form,'password','');
      // this.$set(this.form,'salt','');
      if (res.data.result.userType == 2) {
        this.userType = "企业用户";
      } else if (res.data.result.userType == 3) {
        if (res.data.result.compId && res.data.result.compName) {
          this.userType = "乡镇用户/环保局";
        } else {
          this.userType = "发改委";
        }
      }
    },
    async getXMDM() {
      let res = await this.$fetch.get("/api/workOrder/listJobProjectCode");
      this.xmdmList = res;
    },
    select(value, item) {
      if (item.number == 1) {
        this.query.usci = item.ufci;
        this.query.sblx = "";
      } else if (item.number == 2) {
        this.query.usci = item.ucsi;
        this.query.sblx = item.id;
      }
      this.getSbList();
    },
    openFile() {
      document.getElementById("file").click();
    },
    async delete(id) {
      let res = await this.$fetch.delete("/api/sys/jhUser/deleteUser", {
        params: { id: id }
      });
      if (res.data.success) {
        this.$Message.success("操作成功！");
        this.getSbList();
      } else {
        this.$Message.error("操作失败！");
      }
    },
    async dc() {
      // let res = await this.$fetch.get('/api/sys/jhUser/exportXls',this.query);
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/sys/jhUser/exportXls?id=" +
          this.form.id +
          "&username=" +
          this.form.username +
          "&realname=" +
          this.form.realname
      );
    },
    async clickTable() {
      // let res = await this.$fetch.get('/api/sys/jhUser/exportXls',this.query);
      this.show222 = true;
      if (this.selectList.length > 0) {
        for (let i of this.selectList) {
          for (let f in this.data2) {
            if (i.sydwjcxxId == this.data2[f].sydwjcxxId) {
              this.$set(this.data2[f], "_checked", true);
            }
          }
        }
      }
    },
    async clickTownTable() {
      this.showTown = true;
      let res = await this.$fetch.get("/api//index/getJhTownDict");
      this.dataTown = res.data.result;
    },
    showTitle(num, id) {
      if (num == 1) {
        this.title = "新增";
        this.form = {};
        this.show = true;
      } else if (num == 2) {
        this.title = "编辑";
        this.show = true;
        this.getDetail(id);
      } else {
        this.title = "详情";
        this.show = true;
        this.getDetail(id);
      }
    }
  }
};
</script>

<style lang="scss">
</style>
<style lang='scss' scoped>
.left:hover {
  overflow-y: scroll;
  transition: all 0.5s;
}
.logo-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.ivu-tabs-content {
  height: 100%;
}
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.25;
    font-size: 14px;
    color: #87888b;
    margin-right: 10px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.16;
  }
  .right {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1px;
    .mid {
      margin-top: 10px;
      flex: 1;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
