<template>
  <div class="infor">
    <!--<div class="left">-->
    <!--<Tree :data="data2" :load-data="loadData" @on-select-change='select'></Tree>-->
    <!--</div>-->
    <div class="right">
      <div class="top" v-show="!showList">
        <Input
          suffix="ios-search"
          v-model="query.username"
          placeholder="账号"
          style="width: 160px;margin-right: 10px;"
        />
        <Input
          suffix="ios-search"
          v-model="query.realname"
          placeholder="姓名"
          style="width: 160px;margin-right: 10px;"
        />
        <Button type="primary" icon="ios-search" style="margin-right: 10px;" @click="getSbList">查询</Button>
        <!-- <Button
          type="success"
          icon="md-add"
          style="margin-right: 10px;"
          @click.native="showTitle(1)"
        >新增</Button>-->
        <!--<Button type="primary" icon="ios-search" @click="dc" >导出</Button>-->
      </div>
      <div class="mid" v-show="!showList" ref="mid">
        <!--<Table border v-show="!showList" :loading="loading" :columns="columns1" :height="Height" :data="data1"></Table>-->
        <Table
          border
          v-show="!showList"
          :loading="loading"
          :columns="columns1"
          :height="Height"
          :data="data1"
        ></Table>
      </div>
      <div class="bot" v-show="!showList">
        <Page
          @on-change="changePageNo"
          @on-page-size-change="changePageSize"
          :page-size="query.pageSize"
          :total="query.total"
        />
      </div>
    </div>
    <Modal v-model="show" :title="title" width="800">
      <!-- <div>
        <Input
          placeholder="输入公司名称"
          v-model="query.sydwmc"
          style="width: 160px;margin-bottom: 10px;margin-right: 10px;"
        />
        <Button
          type="primary"
          icon="ios-search"
          style="margin-bottom: 10px;"
          @click="getAllCompany"
        >查询</Button>
      </div>-->
      <!--<Table ref="table" border v-show="!showList" :loading="loading" :columns="columns2" :height="Height" :data="title == '公司配置'?data2:title=='设备配置'?data2:''"></Table>-->
      <!-- <Table
        @on-select-all-cancel="cancelAll"
        @on-select-all="selectAllRow"
        @on-select="changeList"
        @on-select-cancel="unselectRow"
        ref="table"
        border
        v-show="!showList"
        :loading="loading"
        :columns="title == '公司配置'?columns2:title == '设备配置'?columns3:columns4"
        height="400"
        :data="data2"
      ></Table>
      <Page
        style="margin-top: 10px;text-align: center;"
        @on-change="changePageNo1"
        @on-page-size-change="changePageSize1"
        :page-size="query.pageSize"
        :total="query.total"
      />-->
      <el-transfer v-model="value1" filterable :data="data4" :titles="['全部企业', '已选择']"></el-transfer>
      <div slot="footer">
        <Button @click="show = false;">取消</Button>
        <Button type="primary" :loading="modal_loading" @click="addSave">保存</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      model1: "",
      data4: [],
      value1: [],
      show: false,
      modal_loading: false,
      Height: null,
      title: "",
      showList: false,
      show1: false,
      dis: 0,
      numList: 0,
      form: {},
      sureList: [],
      edit: {},
      selectList: [],
      columns1: [
        {
          type: "index",
          width: 80,
          align: "center",
          title: "序号"
        },
        {
          title: "乡镇名称",
          key: "NAME",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.NAME
                  }
                },
                params.row.NAME
              )
            ]);
          }
        },
        // {
        //   title: '真实姓名',
        //   key: 'realname',
        //   align: 'center',
        // },
        // {
        //   title: '性别',
        //   key: 'sex_dictText',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('span', {
        //         style: {
        //           display: 'inline-block',
        //           width: '100%',
        //           overflow: 'hidden',
        //           textOverflow: 'ellipsis',
        //           whiteSpace: 'nowrap'
        //         },
        //         domProps: {
        //           title: params.row.sex_dictText
        //         }
        //       }, params.row.sex_dictText)
        //     ]);
        //   }
        // },
        // {
        //   title: '生日',
        //   key: 'birthday',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('span', {
        //         style: {
        //           display: 'inline-block',
        //           width: '100%',
        //           overflow: 'hidden',
        //           textOverflow: 'ellipsis',
        //           whiteSpace: 'nowrap'
        //         },
        //         domProps: {
        //           title: params.row.birthday
        //         }
        //       }, params.row.birthday)
        //     ]);
        //   }
        // },{
        //   title: '手机号码',
        //   key: 'zyxm',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('span', {
        //         style: {
        //           display: 'inline-block',
        //           width: '100%',
        //           overflow: 'hidden',
        //           textOverflow: 'ellipsis',
        //           whiteSpace: 'nowrap'
        //         },
        //         domProps: {
        //           title: params.row.phone
        //         }
        //       }, params.row.phone)
        //     ]);
        //   }
        // },{
        //   title: '邮箱',
        //   key: 'email',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('span', {
        //         style: {
        //           display: 'inline-block',
        //           width: '100%',
        //           overflow: 'hidden',
        //           textOverflow: 'ellipsis',
        //           whiteSpace: 'nowrap'
        //         },
        //         domProps: {
        //           title: params.row.email
        //         }
        //       }, params.row.email)
        //     ]);
        //   }
        // },{
        //   title: '状态',
        //   key: 'status_dictText',
        //   align: 'center',
        //   render: (h, params) => {
        //     return h('div', [
        //       h('span', {
        //         style: {
        //           display: 'inline-block',
        //           width: '100%',
        //           overflow: 'hidden',
        //           textOverflow: 'ellipsis',
        //           whiteSpace: 'nowrap'
        //         },
        //         domProps: {
        //           title: params.row.status_dictText
        //         }
        //       }, params.row.status_dictText)
        //     ]);
        //   }
        // },
        {
          title: "操作",
          key: "cz",
          align: "center",
          width: 100,
          render: (h, params) => {
            return h("div", [
              h(
                "Button",
                {
                  props: {
                    type: "primary",
                    size: "small"
                  },
                  style: {
                    marginRight: "5px"
                  },
                  on: {
                    click: async () => {
                      this.query.pageNo = 1;
                      // await this.getAllCompany();
                      // await
                      this.$set(this.form, "id", params.row.DICTIONARIES_ID);
                      this.showTitle(1, params.row.DICTIONARIES_ID);
                      for (let i = 0; i < this.query.pageNo; i++) {}
                    }
                  }
                },
                "公司配置"
              )
              // h('Button', {
              //   props: {
              //     type: 'primary',
              //     size: 'small'
              //   },
              //   style: {
              //     marginRight: '5px'
              //   },
              //   on: {
              //     click: async () => {
              //       this.query.pageNo = 1;
              //       await this.getAllPeop();
              //       this.$set(this.form,'id',params.row.DICTIONARIES_ID)
              //       this.showTitle(2,params.row.DICTIONARIES_ID);
              //     }
              //   }
              // }, '人员配置'), h('Button', {
              //   props: {
              //     type: 'primary',
              //     size: 'small'
              //   },
              //   style: {
              //     marginRight: '5px'
              //   },
              //   on: {
              //     click: async () => {
              //       this.query.pageNum = 1;
              //       await this.getAllDevice();
              //       this.$set(this.form,'id',params.row.DICTIONARIES_ID)
              //       this.showTitle(3,params.row.DICTIONARIES_ID);
              //     }
              //   }
              // }, '设备配置'),
            ]);
          }
        }
      ],
      columns2: [
        // {
        //   type: 'index',
        //   width: 80,
        //   align: 'center',
        //   title: '序号',
        // },
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "企业名称",
          key: "sydwmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sydwmc
                  }
                },
                params.row.sydwmc
              )
            ]);
          }
        }
      ],
      columns3: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "设备名称",
          key: "sbmc",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.sbmc
                  }
                },
                params.row.sbmc
              )
            ]);
          }
        }
      ],
      columns4: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "作业人员",
          key: "xm",
          align: "center",
          render: (h, params) => {
            return h("div", [
              h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                    overflow: "hidden",
                    textOverflow: "ellipsis",
                    whiteSpace: "nowrap"
                  },
                  domProps: {
                    title: params.row.xm
                  }
                },
                params.row.xm
              )
            ]);
          }
        }
      ],
      data1: [],
      loading: false,
      add: {},
      query: {
        pageSize: 100,
        pageNo: 1,
        total: 0
      },
      xmdmList: [],
      zlList: [],
      listFz: [],
      allCompany: [],
      getJhTownDict: [],
      data2: [],
      userType: "",
      numBer: 0,
      itemListForm: [],
      companyList: []
    };
  },
  mounted() {
    setTimeout(() => {
      this.Height = this.$refs.mid.offsetHeight;
    }, 500);
  },
  created() {
    this.getSbList();
    this.getAllCompanydeT();
    // this.getJh();
  },
  methods: {
    async addSave() {
      let res = "";
      this.selectList = [];
      this.selectList = this.companyList.filter(item => {
        if (
          this.value1.filter(list => {
            if (list == item.sydwjcxxId) return true;
            else return false;
          }).length > 0
        )
          return true;
      });
      if (this.title == "公司配置") {
        // let str = "";
        // for (let i of this.selectList) {
        //   str += i.sydwid + ",";
        // }
        // str = str.substr(0, str.length - 1);
        // this.modal_loading = true;
        // res = await this.$fetch.post(
        //   "/api/relation/insertBatchByTownAndWorkComp?townId=" +
        //     this.form.id +
        //     "&ids=" +
        //     str
        // );
        res = await this.$fetch.post(
          "/api/sydwjcxx/updateSydwjcxx3?DICTIONARIES_ID=" + this.form.id,
          this.selectList
        );
      }
      // else if (this.title == "设备配置") {
      //   let str = "";
      //   for (let i of data) {
      //     str += i.id + ",";
      //   }
      //   str = str.substr(0, str.length - 1);
      //   this.modal_loading = true;
      //   res = await this.$fetch.post(
      //     "/api/relation/insertBatchByTownAndDevice?townId=" +
      //       this.form.id +
      //       "&ids=" +
      //       str
      //   );
      // } else {
      //   let str = "";
      //   for (let i of data) {
      //     str += i.id + ",";
      //   }
      //   str = str.substr(0, str.length - 1);
      //   this.modal_loading = true;
      //   res = await this.$fetch.post(
      //     "/api/relation/insertBatchByTownAndWorkPeople?townId=" +
      //       this.form.id +
      //       "&ids=" +
      //       str
      //   );
      // }

      if (res.data.success) {
        this.show = false;
        this.modal_loading = false;
        this.$Message.success("保存成功!");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    async SavePassWord() {
      if (!this.form.password || !this.form.salt) {
        this.$Message.error("请输入密码！");
        return;
      }
      if (this.form.password !== this.form.salt) {
        this.$Message.error("请输入相同密码！");
        return;
      }
      this.modal_loading = true;
      let res = await this.$fetch.put(
        "/api/sys/jhUser/changPassword",
        this.form
      );
      if (res.data.success) {
        this.show = false;
        this.modal_loading = false;
        this.$Message.success("保存成功!");
        this.getSbList();
      } else {
        this.$Message.error(res.data.message);
      }
    },
    // 作业种类
    async getZl() {
      let res = await this.$fetch.get("/api/workOrder/listWorkType");
      this.zlList = res;
    }, // 作业种类
    async getJh() {
      let res = await this.$fetch.get("/api/index/getJhTownDict");
      // this.data1 = res.data.data.result;
    }, // 作业种类
    async getlistFz() {
      let res = await this.$fetch.get("/api/workOrder/listTestOrg");
      this.listFz = res;
    },
    async getAllCompanydeT() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx3", {
        params: this.query1
      });
      this.companyList = res.data.result;
      this.data4 = res.data.result.map(items => {
        return {
          key: items.sydwjcxxId,
          label: items.sydwmc
        };
      });
    },
    async getAllCompany() {
      let res = await this.$fetch.get("/api/sydwjcxx/listSydwjcxx", {
        params: this.query
      });
      this.numBer++;
      this.data2 = res.data.result.records;
      // if(this.numBer > 1){
      //   if(this.sureList.length > 0){
      //     for(let i of this.sureList){
      //       for(let f of this.data2){
      //         if(i.comp_id == f.sydwid){
      //           this.selectList.push(f);
      //         }
      //       }
      //     }
      //   }
      // }
      if (this.selectList.length > 0) {
        for (let i of this.selectList) {
          for (let f of this.data2) {
            if (i.sydwid == f.sydwid) {
              this.$set(f, "_checked", true);
            }
          }
        }
      }
      this.query.total = res.data.result.total;
    },
    async getAllDevice() {
      let res = await this.$fetch.get("/api/glxx/listDevice", {
        params: this.query
      });
      this.data2 = res.data.result.records;
      this.query.total = res.data.total;
    },
    async getAllPeop() {
      let res = await this.$fetch.get("/api/workOrder/listWorkOrder", {
        params: this.query
      });
      this.data2 = res.data.list;
      this.query.total = res.data.total;
    },
    // 分页
    changePageNo(val) {
      this.query.pageNum = val;
      this.getSbList();
    },
    changePageSize(val) {
      this.query.pageSize = val;
      this.getSbList();
    },
    // 分页
    async changePageNo1(val) {
      this.query.pageNo = val;
      this.query.pageNum = val;
      // if (this.title == "公司配置") {
      await this.getAllCompany();
      if (this.selectList.length > 0) {
        for (let i of this.selectList) {
          for (let f in this.data2) {
            if (i.sydwid == this.data2[f].sydwid) {
              this.$set(this.data2[f], "_checked", true);
            }
          }
        }
      }
      // }
      // else if (this.title == "设备配置") {
      //   await this.getAllDevice();

      //   if (this.selectList.length > 0) {
      //     for (let i of this.selectList) {
      //       for (let f in this.data2) {
      //         if (i.device_id == this.data2[f].id) {
      //           this.$set(this.data2[f], "_checked", true);
      //         }
      //       }
      //     }
      //   }
      // } else {
      //   await this.getAllPeop();
      //   if (this.selectList.length > 0) {
      //     for (let i of this.selectList) {
      //       for (let f in this.data2) {
      //         if (i.id == this.data2[f].id) {
      //           this.$set(this.data2[f], "_checked", true);
      //         }
      //       }
      //     }
      //   }
      // }
    },
    changePageSize1(val) {
      this.query.pageSize = val;
      this.getAllCompany();
    },
    selectAllRow(a, item) {
      // if (this.title == "公司配置") {
      // this.selectList = this.selectList.filter(
      //   list => item.sydwid != list.sydwid
      // );
      // } else if (this.title == "人员配置") {
      //   this.selectList = this.selectList.filter(
      //     list => item.workpeople_id != list.workpeople_id
      //   );
      // } else {
      //   this.selectList = this.selectList.filter(
      //     list => item.id != list.device_id
      //   );
      // }
      // this.itemListForm = a;
      console.log(a);
      console.log(item);
      console.log(this.selectList);

      // for(let i of this.selectList)
    },
    unselectRow(a, item) {
      console.log(a);
      console.log(item);
      this.selectList = this.selectList.filter(
        list => list.sydwjcxxId != item.sydwjcxxId
      );
    },
    // 获取列表
    async getSbList() {
      this.loading = true;
      this.data1 = [];
      let res = await this.$fetch.get("/api/index/getJhTownDict", {
        params: this.query
      });
      this.data1 = res.data.result;
      // this.query.total = res.data.result.total;
      this.loading = false;
    },
    // 获取详情
    async getDetail(id) {
      let res = "";
      this.query.pageNo = 1;
      this.selectList = [];
      if (this.title == "公司配置") {
        // res = await this.$fetch.get("/api/relation/getByTownAndComp", {
        //   params: { townId: id }
        // });
        res = await this.$fetch.get(
          "/api/sydwjcxx/getSydwListByDICTIONARIES_ID",
          {
            params: { DICTIONARIES_ID: id }
          }
        );
        this.value1 = [];
        res.data.result.forEach(element => {
          this.value1.push(element.sydwjcxxId);
        });
        return;
        this.sureList = res.data.result;
        this.selectList = res.data.result;
        for (let i in this.sureList) {
          for (let f in this.data2) {
            if (this.sureList[i].sydwid == this.data2[f].sydwid) {
              // this.selectList.push(this.data2[f]);
              this.$set(this.data2[f], "_checked", true);
            }
          }
        }
      }
      // else if (this.title == "设备配置") {
      //   res = await this.$fetch.get("/api/relation/getByTownAndDevice", {
      //     params: { townId: id }
      //   });
      //   for (let i in this.data2) {
      //     for (let f of res.data.result) {
      //       if (this.data2[i].id == f.device_id) {
      //         this.selectList.push(this.data2[i]);
      //         this.$set(this.data2[i], "_checked", true);
      //       }
      //     }
      //   }
      // } else {
      //   res = await this.$fetch.get("/api/relation/getByTownAndWorkpeople", {
      //     params: { townId: id }
      //   });
      //   for (let i in this.data2) {
      //     for (let f of res.data.result) {
      //       if (this.data2[i].id == f.workpeople_id) {
      //         this.selectList.push(this.data2[i]);
      //         // this.$refs.table.toggleRowSelection(this.data2[i],true);
      //         this.$set(this.data2[i], "_checked", true);
      //       }
      //     }
      //   }
      // }
    },
    async getXMDM() {
      let res = await this.$fetch.get("/api/workOrder/listJobProjectCode");
      this.xmdmList = res;
    },
    select(value, item) {
      if (item.number == 1) {
        this.query.usci = item.ufci;
        this.query.sblx = "";
      } else if (item.number == 2) {
        this.query.usci = item.ucsi;
        this.query.sblx = item.id;
      }
      this.getSbList();
    },
    openFile() {
      document.getElementById("file").click();
    },
    async delete(id) {
      let res = await this.$fetch.delete("/api/sys/jhUser/deleteUser", {
        params: { id: id }
      });
      if (res.data.success) {
        this.$Message.success("操作成功！");
        this.getSbList();
      } else {
        this.$Message.error("操作失败！");
      }
    },
    async dc() {
      // let res = await this.$fetch.get('/api/sys/jhUser/exportXls',this.query);
      window.open(
        "http://36.154.40.222:8085/jeecg-boot/sys/jhUser/exportXls?id=" +
          this.form.id +
          "&username=" +
          this.form.username +
          "&realname=" +
          this.form.realname
      );
    },
    async changeList(val, item) {
      // for(let i of val){
      // for(let f of this.selectList){
      //   if(i.sydwid)
      // }
      // }
      // console.log(val);
      // console.log(item);
      // this.itemListForm.push(item);
      this.selectList.push(item);
    },
    async cancelAll(val, data) {
      console.log(val);
      console.log(data);
      // let dataD = this.selectList;
      // for (let f in this.selectList) {
      //   for (let i of this.data2) {
      //     if (i.sydwid) {
      //       if (i.sydwid == this.selectList[f].sydwid) {
      //         dataD = this.selectList.splice(f, 1);
      //         return;
      //       }
      //     }
      //   }
      // }
      // this.selectList = dataD;
      for (let i in this.selectList) {
        for (let f in this.data2) {
          if (this.selectList[i].sydwjcxxId == this.data2[f].sydwjcxxId) {
            this.selectList = this.selectList.splice(i, 1);
          }
        }
      }
    },
    showTitle(num, id) {
      if (num == 1) {
        this.title = "公司配置";
        // this.form = {};、、
        this.selectList = [];
        this.show = true;
        this.getDetail(id);
      } else if (num == 2) {
        this.title = "人员配置";
        this.show = true;
        this.getDetail(id);
      } else {
        this.title = "设备配置";
        this.show = true;
        this.getDetail(id);
      }
    }
  }
};
</script>

<style lang="scss">
</style>
<style lang='scss' scoped>
.left:hover {
  overflow-y: scroll;
  transition: all 0.5s;
}
.logo-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.editFlex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #87888b;
  &:first-child {
    margin-top: 20px;
  }
  label {
    flex: 0.3;
    text-align: justify;
    text-align-last: justify;
    &::after {
      display: flex;
      content: "";
      overflow: hidden;
      width: 100%;
      height: 0;
    }
  }
  .ivu-input-wrapper,
  .ivu-select,
  .ivu-date-picker,
  .ivu-upload {
    flex: 1;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.spe {
  background: #fff !important;
}
.logoImg {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    max-width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
  }
  & > div {
    flex: 0.5;
    display: flex;
    align-items: center;
  }
}
.publicItem {
  padding: 6px 0;
  display: flex;
  justify-content: center;
}
.publicItem:nth-child(even) {
  background: #f1f3f8;
}
.ivu-tabs-content {
  height: 100%;
}
.wrappper-title {
  position: relative;
  background-color: #fff;
  // border-bottom:1px solid #e8edf7;
  font-size: 14px;
  .el-button--primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
  }
  .el-button {
    box-shadow: 0 3px 6px #d0d0d0;
    padding: 7px 15px;
    border-radius: 3px;
    transition: 0.1s;
    font-weight: 500;
    box-sizing: border-box;
    outline: 0;
    -webkit-appearance: none;
    text-align: center;
    border: 1px solid #dcdfe6;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
  }
  .el-button--primary.is-plain:focus,
  .el-button--primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
  }
  i {
    color: #62a0de !important;
    background-color: #62a0de !important;
  }
  .circle + span {
    vertical-align: middle;
    color: #62a0de !important;
    cursor: pointer;
  }
}
.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #87888b;
  label {
    text-align: right;
    flex: 0.25;
    font-size: 14px;
    color: #87888b;
    margin-right: 10px;
  }

  span,
  img,
  .ivu-input-wrapper,
  .ivu-date-picker,
  .ivu-select {
    flex: 0.5;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}
.infor {
  display: flex;
  height: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  .left {
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%+1;
    flex: 0.16;
  }
  .right {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    padding-left: 1px;
    .mid {
      margin-top: 10px;
      flex: 1;
    }
    .top {
      margin-bottom: 10px;
    }
    .bot {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}
.ivu-upload {
  display: flex;
}
</style>
