<template>
  <div id="app" v-cloak>
    <router-view></router-view>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.el-select .el-input .el-select__caret {
  color: #333;
}
.pubList {
  label {
    font-size: 14px;
  }
}
.ivu-modal-header p,
.ivu-modal-header-inner {
  font-size: 18px;
}
.el-input.is-disabled .el-input__inner,.ivu-select-disabled .ivu-select-selection{
  background: inherit;
  color: #333;
}
.el-table {
  color: #333;
}
.el-select:hover .el-input__inner,
.el-select .el-input__inner {
  border: 1px solid #333;
}
// .ivu-select-selection,
// .ivu-input {
//   border: 1px solid #333;
// }
input::-webkit-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input::-moz-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input::-ms-input-placeholder {
  color: #333 !important;
  font-size: 14px;
}
input {
  font-size: 14px !important;
}
.ivu-form .ivu-form-item-label {
  padding: 10px 12px 13px 0;
}
.ivu-btn > span,
.ivu-btn > .ivu-icon {
  font-size: 14px !important;
}
.ivu-select-item,
.ivu-select-selected-value,
.ivu-form .ivu-form-item-label,
.ivu-select-placeholder,
.ivu-input {
  font-size: 14px !important;
  color: #333 !important;
}
.video-js {
  width: 100% !important;
  height: 91%;
}
.el-transfer-panel {
  width: 265px;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  min-width: 1500px;
}
.ivu-table {
  font-size: 14px;
}
.ivu-table-cell {
  font-size: 14px;
}
.aaa-enter-active {
  transition: transform 0.2s;
}
.aaa-leave-active {
  display: none;
  transition: transform 0s;
}
.aaa-enter {
  transform: translateX(-2000px);
}
.ivu-tree ul {
  font-size: 16px !important;
}

.form {
  .ivu-input:hover,
  .ivu-input:focus {
    border-color: #dcdee2;
    box-shadow: none;
  }
  .ivu-input[disabled],
  fieldset[disabled] .ivu-input {
    color: #333;
    background: #fff;
  }

  .ivu-input {
    border: none;
    height: 37px;
  }
  .ivu-form-item {
    position: relative;
    margin-bottom: 0px;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 1px;
      border-top: 1px solid #616161;
      visibility: inherit;
    }
  }
  .ivu-row {
    & .ivu-col:nth-child(2) .ivu-form-item-label:after {
      border-left: none !important;
    }
    & .ivu-form-item:after {
      /*border-bottom: 0px;*/
    }
    &:last-child .ivu-form-item {
      border-bottom: 1px solid #616161;
    }
    &.deffff:last-child .ivu-form-item {
      border-bottom:none;
    }
  }
  .el-input.is-disabled .el-input__inner{
  background: inherit;
  color: #333;
}
  .ivu-form-item-label {
    position: relative;
    &:after {
      border-left: 1px solid #616161;
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 0px;
      top: 0px;
    }
  }
  .ivu-row {
    .ivu-select-selection {
      border: none;
      border-right: 1px solid #616161;
      border-radius: 0;
      outline: none;
    }
  }
  .ivu-select-visible .ivu-select-selection {
    box-shadow: none;
  }
  .textareaList {
    .ivu-form-item-label {
      // height: 49px;
      // line-height: 2.5;
      height: 37px;
      line-height: 1.5;
    }
  }
  .ivu-form-item-content {
    position: relative;
    &:after {
      border-left: 1px solid #616161;
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      left: 0px;
      top: 0px;
    }
    & .ivu-input-wrapper {
      position: relative;
      &:after {
        border-right: 1px solid #616161;
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0px;
        top: 0px;
      }
    }
  }
  .lastBorder {
    /*.ivu-form-item{*/
    /*&:after{*/
    border-bottom: 1px solid #616161;
    /*}*/
    /*}*/
  }
}
</style>
